/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "@docspace/shared/styles/mixins";

$input_length: 350px;

.scheduleComponent {
  .daysOption {
    grid-area: days;
    width: 100%;

    @include mixins.mobile {
      grid-area: time;
      max-width: $input_length;
      width: 100%;
    }
  }

  .additionalOptions {
    max-width: $input_length;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }

  .weeklyOption,
  .monthOptions {
    grid-area: weekly-monthly;
    width: 100%;
    max-width: 124px;

    @include mixins.mobile {
      max-width: $input_length;
    }
  }

  .scheduleBackupCombobox {
    display: inline-block;
    margin-top: 8px;
  }

  .mainOptions {
    max-width: $input_length;
    display: grid;
    grid-template-areas: "days  time";
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    @include mixins.mobile {
      display: block;
    }
  }

  .timeOptions {
    grid-area: time;
    width: 100%;

    @include mixins.mobile {
      max-width: $input_length;
    }
  }

  .maxCopies {
    width: 100%;
    max-width: $input_length;
  }

  .scheduleDescription {
    font-weight: 600;
  }

  .scheduleHelpSection {
    display: flex;
    .scheduleHelpButton {
      margin-block: 3px 0;
      margin-inline: 4px 0;
    }
  }

  &.weeklySchedule,
  &.monthlySchedule {
    .daysOption {
      max-width: 138px;
    }

    .additionalOptions {
      grid-template-columns: 1fr 1fr;
    }

    .mainOptions {
      grid-template-areas: "days weekly-monthly time";
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  :global(.combo-button) {
    width: 100% !important;
  }

  :global(.combo-button-label) {
    max-width: 100% !important;
    font-weight: 400;
  }
}
