/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/variables";

@use "../backup";

.restoreBackup {
  max-width: backup.$text-length;

  @include backup.common-backup-styles;

  .restoreBackupThirdPartyModule {
    margin-top: 16px;

    button {
      margin-bottom: 16px;
    }
  }

  .restoreDescription {
    max-width: backup.$text-length;
    font-size: 13px;
    color: var(--settings-common-description-color);
    line-height: 20px;
  }

  .restoreBackupWarning {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--settings-backup-warning-color);
  }

  .restoreBackupWarningLink {
    margin-top: 16px;
    max-width: backup.$text-length;
  }

  .restoreBackupWarningDescription {
    max-width: backup.$text-length;
  }

  .restoreBackupDescription {
    max-width: fit-content;
    margin: 24px 0;
  }

  .restoreBackupCheckboxNotification {
    max-width: fit-content;
    margin-top: 11px;

    :global(.checkbox-text) {
      white-space: normal;
    }
  }

  .restoreBackupList {
    text-decoration: underline dotted;
    cursor: default;
    font-weight: 600;
  }

  &.isEnableRestore {
    .restoreBackupList {
      cursor: pointer;
    }
  }

  .restoreBackupInput {
    margin: 16px 0;
    max-width: backup.$input-length;

    @include mixins.mobile {
      max-width: none;
    }
  }

  .restoreDescription {
    margin-bottom: 20px;
  }

  .restoreBackupModules {
    margin-top: 24px;
  }

  .backupRadioButton {
    margin-bottom: 16px;
  }

  .restoreBackupButtonContainer {
    position: sticky;
    bottom: 0;
    margin-top: 24px;
    background-color: var(--background-color);

    @include mixins.mobile {
      padding-block: 30px;
      position: fixed;
      padding-inline: 16px;
      inset-inline: 0;
    }
  }

  .restoreBackupButton {
    @include mixins.mobile {
      width: 100%;
    }
  }

  &:not(.isEnableRestore) {
    .settingsUnavailable {
      color: var(--text-disable-color);
      pointer-events: none;
      cursor: default;

      label {
        color: var(--text-disable-color);
      }

      path {
        fill: var(--text-disable-color);
      }
    }
  }
}

.comboboxItem {
  @include backup.common-combobox-item-styles;

  .dropDownItemIcon {
    align-items: center;
  }
}

.backupList {
  height: 100%;
  width: 100%;

  .loader {
    height: inherit;
  }

  .backupListTrashIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: -3px;
    grid-area: trash;
    path {
      fill: variables.$gray;
    }
  }

  .backupRestoreDialogHeader {
    margin-block-start: 8px;
    margin-bottom: 16px;
  }

  .backupListIcon {
    grid-area: icon-name;
  }

  .backupListFullName {
    grid-area: full-name;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.radio-button) {
    margin: 0 !important;
    padding-inline-start: 10px;
  }

  .backupListItem {
    border-radius: 3px;
    cursor: default;
    align-items: center;
    display: grid;
    height: 48px;
    grid-template-areas: "trash icon-name full-name  radiobutton";
    grid-template-columns: 25px 32px auto 32px;
    padding-inline: 16px 8px;
  }

  &.isChecked {
    .backupListItem {
      background: var(--settings-backup-checked-list-item-bg);
    }
  }

  .backupRestoreDialogScrollBody {
    margin-inline: -16px -7px;

    :global(.nav-thumb-vertical) {
      margin-inline-start: -8px !important;
    }
  }

  .backupListDialogChecked {
    width: 16px;

    > :global(.radio-button_text):empty {
      display: none;
    }

    > svg {
      margin: 0;
    }
  }

  .backupRestoreEmptyList {
    margin-top: 96px;
    margin-inline: 16px;
    color: var(--settings-backup-text-color);
  }

  .backupListContent {
    display: grid;
    height: 100%;
    grid-template-rows: max-content auto max-content;
  }
}

.footerContent {
  width: 100%;

  .restoreDialogButton {
    display: flex;

    button:first-child {
      margin-inline-end: 10px;
      width: 50%;
    }

    button:last-child {
      width: 50%;
    }
  }

  :global(#backup-list_help) {
    display: flex;
    background-color: var(--background-color);
    margin-bottom: 16px;
  }

  .backupListAgreementText {
    user-select: none;
    div:first-child {
      display: inline-block;
    }
  }

  .backupListTooltip {
    margin-inline-start: 8px;
  }
}
