// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/variables/colors";
@use "../../styles/mixins";
@use "../../styles/z-index" as z;

:global(.rtl) {
  :local(.wrapper) {
    :global(.arrow) {
      svg {
        transform: scaleX(-1);
      }
    }
  }

  :local(.hideArticleMenuButton) {
    :global(.article-hide-menu-icon_svg),
    :global(.article-show-menu-icon_svg) {
      transform: scaleX(-1);
    }
  }
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: 11px;

  &[data-with-dev-tools="false"] {
    margin-top: auto;
  }

  &[data-with-dev-tools="true"] {
    margin-top: 0;
  }

  @include mixins.tablet-and-below {
    &[data-show-text="true"] {
      margin-inline-start: 8px;
    }

    &[data-with-dev-tools="false"] {
      margin-bottom: 61px;
    }

    &[data-with-dev-tools="true"] {
      margin-bottom: 20px;
    }
  }

  @include mixins.mobile {
    position: relative;
    bottom: 0px;
    margin-top: 32px;
    margin-bottom: 0;

    &[data-with-dev-tools="true"] {
      margin-top: 16px;
    }
  }

  :global(.download-app-text) {
    color: var(--files-article-body-download-app-list-text-color);
  }

  :global(.download-app-list) {
    display: flex;
    gap: 13px;
  }

  .windowsIcon {
    --icon-button-hover-color: #{colors.$windows-color};
  }

  .macOsIcon {
    --icon-button-hover-color: var(--files-article-body-download-app-list-mac-hover-color);
  }

  .linuxIcon {
    --icon-button-hover-color: #{colors.$linux-color};
  }

  .androidIcon {
    --icon-button-hover-color: #{colors.$android-color};
  }

  .iosIcon {
    --icon-button-hover-color: var(--files-article-body-download-app-list-mac-hover-color);
  }
}

.wrapper {
  cursor: pointer;
  position: relative;
  margin-top: auto;
  margin-bottom: 16px;
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 6px;

  @include mixins.mobile {
    bottom: 0px;
    margin-top: 32px;
  }

  :global(.icon) {
    height: 16px;
  }

  :global(.arrow) {
    height: 16px;
    margin-inline-start: auto;
  }

  :global(.label) {
    color: var(--files-article-body-dev-tools-color);
  }

  svg {
    path {
      fill: var(--files-article-body-dev-tools-color);
    }
  }
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--files-article-body-dev-tools-background-color);
  opacity: var(--files-article-body-dev-tools-background-opacity);
  border-radius: 6px;
  z-index: z.$below;
}

.hideArticleMenuButton {
  display: flex;
  align-items: center;
  position: absolute;
  height: 44px;
  z-index: z.$sticky;
  background: var(--article-catalog-background);
  inset-inline-start: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: #{colors.$tap-highlight};

  &[data-hide-profile-block="true"] {
    bottom: 16px;
  }

  &[data-hide-profile-block="false"] {
    bottom: 89px;
  }

  &[data-show-text="true"] {
    min-width: 243px;
    max-width: 243px;
  }

  &[data-show-text="false"] {
    min-width: 60px;
    max-width: 60px;
  }

  @include mixins.desktop {
    display: none;
  }

  @include mixins.mobile {
    display: none;
  }

  :global(.article-hide-menu-container) {
    align-items: center;
    margin-inline-start: 19px;

    @include mixins.tablet {
      &[data-show-text="true"] {
        display: flex;
      }
      &[data-show-text="false"] {
        display: none;
      }
    }

    :global(.article-hide-menu-text) {
      margin-inline-start: 12px;
      color: var(--accent-main);
    }
  }

  :global(.article-show-menu-container) {
    justify-content: center;
    width: 100%;
  }

  @include mixins.tablet {
    &[data-show-text="true"] {
      :global(.article-hide-menu-container) {
        display: flex;
      }
      :global(.article-show-menu-container) {
        display: none;
      }
    }
    &[data-show-text="false"] {
      :global(.article-hide-menu-container) {
        display: none;
      }
      :global(.article-show-menu-container) {
        display: flex;
      }
    }
  }

  :global(.article-hide-menu-icon_svg),
  :global(.article-show-menu-icon_svg) {
    height: 20px;
  }

  :global(.article-hide-menu-icon_svg) {
    svg {
      path {
        fill: var(--accent-main);
      }
    }
  }

  :global(.article-show-menu-icon_svg) {
    svg {
      path {
        fill: var(--article-catalog-show-text);
      }
    }
  }
}

.articleHeader {
  height: 24px;
  padding-block: 23px 22px;
  padding-inline: 20px 21px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-tap-highlight-color: #{colors.$tap-highlight};

  @include mixins.tablet {
    padding: 15px 11px 18px 6px;
    margin: 0;
    height: 61px;
    min-height: 61px;
    max-height: 61px;
    box-sizing: border-box;

    &[data-show-text="true"] {
      justify-content: flex-start;
    }

    &[data-show-text="false"] {
      justify-content: center;
      padding: 14px 11px 17px 8px;
    }
  }

  @include mixins.mobile {
    border-bottom: var(--article-catalog-header-border-bottom);
    padding: 12px 0;
  }
}

.heading {
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;

  :global(img.logo-icon_svg) {
    height: 24px;
    width: 211px;
  }

  :global(.logo-icon_svg) {
    svg {
      path:last-child {
        fill: var(--article-client-home-logo-color);
      }
    }
  }

  @include mixins.tablet {
    margin-inline-start: 9px;

    &[data-show-text="true"] {
      display: block;
    }

    &[data-show-text="false"] {
      display: none;
    }
  }

  @include mixins.mobile {
    margin-inline-start: 0;
  }
}

.iconBox {
  cursor: pointer;
  display: none;
  align-items: center;

  img {
    height: 28px;
    width: 28px;
  }

  @include mixins.tablet {
    &[data-show-text="true"] {
      display: none;
    }

    &[data-show-text="false"] {
      display: flex;
    }
  }

  @include mixins.mobile {
    display: none;
  }
}

.profileWrapper {
  z-index: z.$sticky;
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  min-width: 251px;
  max-width: 251px;
  background-color: var(--article-catalog-profile-background);

  @include mixins.tablet {
    &[data-show-text="true"] {
      min-width: 243px;
      max-width: 243px;
    }

    &[data-show-text="false"] {
      min-width: 60px;
      max-width: 60px;
    }
  }
}

.articleProfile {
  padding: 16px 20px;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--article-catalog-profile-border-top);
  border-inline-end: var(--article-catalog-vertical-line);
  background-color: var(--article-catalog-profile-background);

  @include mixins.tablet {
    padding: 16px 14px;
  }

  :global(.profile-avatar) {
    cursor: pointer;
  }

  :global(.option-button) {
    margin-inline-start: auto;
    height: 32px;
    width: 32px;

    :global(.injected-svg) {
      width: 16px;
      height: 16px;
    }

    :global(.option-button-icon) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.userName {
  display: flex;
  flex-wrap: wrap;
  max-width: 131px;
  min-width: 131px;
  padding-inline-start: 12px;
  cursor: pointer;
}

.article {
  position: relative;
  overflow: hidden;
  background: var(--article-catalog-background);
  min-width: var(--article-desktop-width);
  max-width: var(--article-desktop-width);
  box-sizing: border-box;
  user-select: none;
  border-inline-end: var(--article-catalog-vertical-line);
  z-index: z.$sticky;

  @include mixins.tablet {
    height: 100%;
  }

  &[data-show-text="false"] {
    @include mixins.tablet {
      min-width: var(--article-tablet-width-collapsed);
      max-width: var(--article-tablet-width-collapsed);
    }
  }

  &[data-show-text="true"] {
    @include mixins.tablet {
      min-width: var(--article-tablet-width);
      max-width: var(--article-tablet-width);
    }
  }

  @include mixins.mobile {
    z-index: z.$floating-ui;

    &[data-open="true"] {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      width: 100%;
      position: fixed;
      margin: 0;
      border: none;
      height: calc(100% - 64px) !important;
      position: absolute;
      top: 64px;
    }

    &[data-open="false"] {
      display: none;
    }
  }

  &[data-with-main-button="true"] {
    :global(.article-body__scrollbar) {
      height: calc(100% - 190px) !important;

      @include mixins.mobile {
        height: 100% !important;
      }
    }
  }

  &[data-with-main-button="false"] {
    :global(.article-body__scrollbar) {
      height: calc(100% - 150px) !important;

      @include mixins.mobile {
        height: 100% !important;
      }
    }
  }

  :global(.article-body__scrollbar) {
    @include mixins.tablet {
      height: calc(100% - 184px) !important;
    }

    @include mixins.mobile {
      height: 100% !important;
    }

    :global(.article-scroller) {
      @include mixins.tablet {
        height: 100% !important;
      }
    }

    :global(.scroll-body) {
      display: flex;
      flex-direction: column;
      overflow-x: hidden !important;
      padding: 0 20px !important;
      margin-bottom: 0px !important;

      @include mixins.tablet {
        padding: 0 8px !important;
      }

      @include mixins.mobile {
        display: block;
        padding: 0 8px 20px 8px !important;
      }
    }
  }
}

.articleMainButton {
  padding: 0px 20px 16px;
  max-width: 100%;

  &[data-mobile-article="true"] {
    padding: 0;
    margin: 0;
  }
}

.backButton {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 22px;
  margin-top: 8px;
  cursor: pointer;
  color: var(--back-button-text-color);

  p {
    font-size: 15px;
    font-weight: 600;
  }

  @include mixins.desktop {
    p {
      font-size: 13px;
    }
    margin-inline-start: 12px;
  }

  @include mixins.tablet {
    margin-top: 9px;

    &[data-show-article="false"] {
      justify-content: center;
      margin-top: 5px;
      margin-inline-end: 3px;
    }
    &[data-show-article="true"] {
      margin-inline-start: 10px;
      gap: 11px;
      margin-top: 5px;
    }
  }

  @include mixins.mobile {
    margin-bottom: 0;
    margin-inline-start: 4px;
    margin-top: 2px;
    gap: 12px;
  }

  .arrowIcon {
    width: 20px;
    height: 20px;

    @include mixins.desktop {
      width: 16px !important;
      height: 16px !important;

      svg {
        width: 16px !important;
        height: 16px !important;
      }
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }
}
