/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/variables";

.filesRowContent {
  :global(.row-main-container-wrapper) {
    width: 100%;
    max-width: min-content;
    min-width: inherit;
    margin-inline-end: 0;

    @include mixins.desktop {
      margin-top: 0;
    }
  }

  :global(.row_update-text) {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :global(.new-items) {
    min-width: 12px;
    width: max-content;
    margin: 0 -2px -2px;
  }

  :global(.badge-version) {
    width: max-content;
    margin-block: -2px;
    margin-inline: -2px 6px;
  }

  :global(.bagde_alert) {
    margin-inline-end: 8px;
  }

  :global(.badge-new-version) {
    width: max-content;
  }

  :global(.row-content-link) {
    padding-block: 12px 0;
    padding-inline: 0 12px;
    margin-top: -12px;

    [data-dir="rtl"] & {
      margin-top: -14px;
    }
  }

  :global(.item-file-exst) {
    color: variables.$gray;
  }

  @include mixins.tablet-and-below {
    :global(.row-main-container-wrapper) {
      display: flex;
      justify-content: space-between;
      max-width: inherit;
    }

    :global(.badges) {
      flex-direction: row-reverse;
    }

    :global(.tablet-badge) {
      margin-top: 5px;
    }

    :global(.tablet-edit),
    :global(.can-convert) {
      margin-top: 6px;
      margin-inline-end: 24px;
    }

    :global(.badge-version) {
      margin-inline-end: 22px;
    }

    :global(.new-items) {
      min-width: 16px;
      margin-block: 5px 0;
      margin-inline: 0 24px;
    }
  }

  @include mixins.mobile {
    :global(.row-main-container-wrapper) {
      justify-content: flex-start;
    }

    :global(.additional-badges) {
      margin-top: 0;
    }

    :global(.tablet-edit),
    :global(.new-items),
    :global(.tablet-badge) {
      margin: 0;
    }

    :global(.can-convert) {
      margin: 0 1px;
    }

    :global(.row-content-link) {
      padding: 12px 0 0;
    }
  }
}
