// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.deepLink {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include mixins.mobile {
    width: calc(100% - 32px);
  }
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

    @include mixins.mobile {
      font-size: 23px;
      font-weight: 700;
      line-height: 28px;
    }
  }
}

.fileTile {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  background-color: var(--deep-link-file-tile-background);
  border-radius: 3px;
  align-items: center;
}

.actionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .stayLink {
    text-align: center;
  }
}

.bgBlock {
  background-image: var(--bg-pattern);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: 0;

  @include mixins.mobile {
    background-image: none;
  }
}

.wrapper {
  height: 100%;
  width: 100vw;

  @include mixins.mobile {
    margin: 0 auto;
    align-items: flex-start;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  margin-bottom: 16px;

  @include mixins.mobile {
    margin: 0 auto;
    align-items: flex-start;
  }
}

.logoWrapper {
  margin-bottom: 64px;
  margin-top: 56px;

  @include mixins.mobile {
    margin-top: 32px;
  }
}