@use "../../styles/mixins";
@use "../../styles/variables/colors";

.list {
  padding: 0 16px;
}

.row {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  margin-bottom: 16px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 16px 32px 1fr 16px;

  &.withoutFirstRectangle.withoutLastRectangle {
    grid-template-columns: 32px 1fr;
  }

  &.withoutFirstRectangle:not(.withoutLastRectangle) {
    grid-template-columns: 32px 1fr 16px;
  }

  :global {
    .list-loader_rectangle {
      padding-inline-end: 4px;
    }
    .list-loader_rectangle-content {
      width: 32px;
      height: 32px;
    }
    .list-loader_rectangle-row {
      margin-inline-end: auto;
      max-width: 167px;
    }
  }
}
