@import "../../styles/mixins.scss";
@import "../../styles/variables/index.scss";

:root {
  --row-min-height: 47px;
  --row-width: 100%;
  --row-border-bottom: #{$gray-light-mid};
  --row-background-color: #{$light-gray-hover};
  --row-min-width: 160px;
  --row-overflow: hidden;
  --row-text-overflow: ellipsis;
  --row-element-margin-right: 14px;
  --row-element-margin-left: 2px;
  --row-option-button-padding: 8px 0px 9px 7px;
  --row-content-height: 56px;

  &[data-theme="dark"] {
    --row-border-bottom: #{$gray-dark-strong};
    --row-background-color: #{$light-dark-gray-hover};
  }
}

.row {
  cursor: default;
  position: relative;
  min-height: var(--row-min-height);
  width: var(--row-width);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid transparent;

  .withoutBorder {
    border-bottom: none;
  }

  &:not(.withoutBorder) {
    &::after {
      position: absolute;
      display: block;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--row-border-bottom);
      content: "";
    }
  }

  .rowProgressLoader {
    margin-inline-start: 9px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    min-width: 32px;
  }

  .modern {
    .checkbox {
      display: none;
      padding-block: 10px;
      padding-inline: 8px 1px;
      margin-inline-start: -4px;

      @include tablet {
        margin-inline-start: -6px;
      }
    }

    .element {
      display: flex;
    }

    &.checked {
      .checkbox {
        display: flex;
      }

      .element {
        display: none;
      }
    }
  }
}

.element {
  flex: 0 0 auto;
  display: flex;

  margin-inline-end: var(--row-element-margin-right);
  margin-inline-start: var(--row-element-margin-left);
  user-select: none;

  .react-svg-icon svg {
    margin-top: 4px;
  }
}

.checkboxElement {
  display: flex;
  flex: 0 0 16px;
  height: 56px;
  max-height: 56px;
  justify-content: center;
  align-items: center;
  min-width: 41px;
  width: 41px;

  .element {
    display: flex;
  }
}

.modern .checkboxElement:hover {
  &:not(.isIndexEditingMode) {
    .checkbox {
      display: flex;
      opacity: 1;
      user-select: none;
    }

    .element {
      display: none;
    }
  }
}

.content {
  display: flex;
  flex-basis: 100%;

  min-width: var(--row-min-width);

  @include tablet {
    white-space: nowrap;
    overflow: var(--row-overflow);
    text-overflow: var(--row-text-overflow);
    height: var(--row-content-height);
  }
}

.contentElement {
  margin-top: 0px;
  user-select: none;

  margin-inline-start: 24px;

  &:empty,
  &:has(.badges__quickButtons:empty) {
    display: none;
  }
}

.optionButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: var(--row-option-button-padding);
  width: var(--manual-width);

  .expandButton > div:first-child {
    padding: var(--row-option-button-padding);

    margin-inline-end: 0px;

    @include desktop {
      margin-inline-end: -1px;
    }

    @include mobile {
      padding-inline-start: 10px;
    }
  }

  @include tablet {
    margin-top: unset;
  }
}
