// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.filesTileContent {
  @include mixins.tablet {
    display: inline-flex;
    height: auto;

    & > div {
      margin-top: 0;
    }
  }
}

.templateContent {
  overflow: hidden;
}

.rowMainContainer {
  height: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.templateRowMainContainer {
  flex-direction: column;
  align-items: start;
  gap: 0;
}

.mainIcons {
  align-self: flex-end;
}

.badge {
  margin-inline-end: 8px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.newItems {
  position: absolute;
  inset-inline-end: 29px;
  top: 19px;
}

.badges {
  display: flex;
  align-items: center;
}

.shareIcon {
  margin-top: -4px;
  padding-inline-end: 8px;
}

.favorite,
.canConvert,
.edit {
  svg:not(:root) {
    width: 14px;
    height: 14px;
  }
}

.itemFileName {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: start;
  line-height: 20px;
  font-size: 14px;

  @include mixins.desktop {
    font-size: 13px;
  }
}

.itemFileNameRooms {
  line-height: 22px;
  font-size: 16px;
}

.itemFileNameTemplate {
  line-height: 22px;
  font-size: 16px;
}

.itemFileExst {
  color: var(--file-exst-color);
}

.itemFileSubName {
  color: var(--sub-text-color);
  font-size: 13px;
  font-weight: 400;
}

.dragAndDrop {
  border-radius: 12px;
}

// InfiniteGrid styles
.card {
  display: block;
}

.item {
  display: grid;
  gap: 14px 16px;

  @include mixins.desktop {
    margin-inline-start: 1px;
    padding-inline-end: 0;
  }

  @include mixins.tablet-and-below {
    margin-inline-start: -1px;
    margin-inline-end: 3px;
  }
}

.itemRoom,
.itemTemplate {
  grid-template-columns: repeat(auto-fill, minmax(clamp(275px, 13.4vw, 350px), 1fr));
  gap: 16px;
}

.itemFile,
.itemFolder {
  grid-template-columns: repeat(auto-fill, minmax(clamp(216px, 13.4vw, 360px), 1fr));
  gap: 14px 16px;

  @include mixins.tablet-and-below {
    gap: 14px;
  }
}

.headerItem {
  height: 20px;
  grid-column: -1 / 1;
}

.infiniteLoader {
  overflow: visible !important;

  & > div {
    overflow: visible !important;
  }
}