@use "../../../styles/mixins";
@use "../../../styles/variables/colors";

.header {
  width: 100%;
  max-width: 100%;

  height: 69px;
  min-height: 69px;

  display: flex;
  flex-direction: column;

  border-bottom: none;

  &[data-with-submenu="true"] {
    height: 101px;
    min-height: 101px;

    border-bottom: 1px solid var(--header-info-border-color);
  }

  @include mixins.tablet {
    height: 53px;
    min-height: 53px;

    &[data-with-submenu="true"] {
      height: 85px;
      min-height: 85px;
    }
  }

  :global {
    .main {
      padding: 0 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      height: 68px;
      min-height: 68px;

      @include mixins.tablet {
        height: 52px;
        min-height: 52px;
      }
    }

    .submenu {
      display: flex;
      height: 32px;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 40px;
      border-bottom: 1px solid var(--header-info-border-color);
    }
  }

  &[data-with-submenu="true"] {
    :global {
      .main {
        height: 69px;
        min-height: 69px;

        @include mixins.tablet {
          height: 53px;
          min-height: 53px;
        }
      }
    }
  }
}
