@use "@docspace/shared/styles/mixins";

.header {
  display: flex;
  align-items: center;

  div {
    color: var(--plugins-plugin-name-color);
  }
}

.footer {
  width: 100%;

  display: flex;
  align-items: space-between;
  gap: 10px;
}

.container {
  width: 100%;

  &.withDelete {
    margin-bottom: 24px;
  }
}

.separator {
  width: 100%;
  height: 1px;

  margin: 24px 0;

  background-color: var(--plugins-border-color);
}

.info {
  margin-top: 24px;

  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px 24px;

  .version {
    display: flex;
    align-items: center;
    gap: 8px;

    .incompatibleSvg {
      vertical-align: middle;
      path {
        fill: var(--plugins-error-status-color);
      }
    }
  }
}
