/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/common-input-styles";
@use "../../../styles/common-icons-style";
@use "../../../styles/variables";

.header {
  .headerContainer {
    display: flex;
    align-items: center;
    gap: 8px;

    @include mixins.mobile {
      display: none;
    }
  }

  .wlSubtitle {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 20px;
    color: var(--settings-common-branding-description-color);

    @include mixins.mobile {
      margin-top: 0;
    }
  }

  .wlHelper {
    display: flex;
    gap: 4px;
    align-items: center;

    .wlHelperLabel > div {
      display: inline-flex;
      margin: 0 4px;
    }
  }

  .paidBadge {
    cursor: auto;
    background-color: var(--settings-common-white-label-paid-badge-bg);
  }

  @include mixins.mobile {
    .headerContainer {
      display: none;
    }
  }

  .fieldLabelIcon {
    margin-top: 4px;
    margin-bottom: 16px;
  }
}

.whiteLabelInput {
  max-width: 350px;
  display: flex;
  border: var(--files-panels-invite-border);
  border-radius: 3px;

  .inputLink {
    height: 32px;
    border: 0;

    > input {
      height: 30px;
    }
  }

  .copyLinkIcon {
    padding: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  .append {
    display: none;
    align-items: center;
    padding-inline-end: 8px;
    cursor: default;
  }

  &.showCross .append {
    display: flex;
  }

  @include common-input-styles.common-input-styles;
  -webkit-background-clip: unset !important;

  &:focus-within {
    border-color: var(--input-block-border-color);
  }
}

.crossIcon {
  @include common-icons-style.common-icons-style;
  path {
    fill: var(--files-editing-wrapper-fill) !important;
  }
}

.notAvailableWrapper {
  background: var(--settings-common-white-label-not-available-background);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 16px;

  .lockIcon {
    width: 16px;
    height: 16px;

    div > svg {
      path {
        fill: var(--settings-common-white-label-text-color);
      }
    }
  }
}

.whiteLabelWrapper {
  .generateLogo {
    margin-top: 16px;
    margin-bottom: 24px;
    width: fit-content !important;
  }

  .subtitle {
    margin-bottom: 20px;
    color: var(--settings-common-branding-description-color);
  }

  .input {
    max-width: 350px;

    @include mixins.mobile {
      max-width: 100%;
    }
  }

  .logosContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mixins.mobile {
      margin-bottom: 64px;
    }
  }

  .logoWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .logosWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;

    @include mixins.mobile {
      flex-direction: column;
    }
  }

  .logosLoginWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .logoItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
  }

  .borderImg {
    @include mixins.no-user-select;

    border: var(--settings-common-white-label-border-img);
    box-sizing: content-box;
  }

  .logoHeader {
    @include mixins.no-user-select;

    width: 211px;
    height: 24px;
    padding: 22px 20px;
  }

  .logoCompact {
    width: 28px;
    height: 28px;
    padding: 15px;
  }

  .logoBig {
    width: 384px;
    height: 42px;
    padding: 12px 20px;

    @include mixins.mobile {
      width: 310px;
      height: 35px;
    }
  }

  .logoAbout {
    width: 211px;
    height: 24px;
    padding: 12px 20px;
  }

  .logoFavicon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }

  .logoDocsEditor {
    width: 172px;
    height: 40px;
    padding: 0;
  }

  .backgroundLight {
    background-color: variables.$gray-light;
  }

  .backgroundDark {
    background-color: variables.$dark-gray-light;
  }

  .backgroundWhite {
    background-color: variables.$white;
  }

  .backgroundLightEditor {
    background-color: variables.$light-editor-background;
  }

  .backgroundDarkEditor {
    background-color: variables.$dark-editor-background;
  }

  .hidden {
    display: none;
  }
}

.spacer {
  height: 24px;

  @include mixins.mobile {
    height: 24px;

    &.showReminder {
      height: 64px;
    }
  }
}
