// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/ui-kit/styles/mixins";
@use "@docspace/ui-kit/styles/variables/colors" as colors;

.sdkContainer {
  box-sizing: border-box;

  @include mixins.tablet {
    width: 100%;
  }

  &.isMobile {
    width: 100%;
  }

  :global(.presets-flex) {
    display: flex;
    flex-direction: column;
  }
}

.categoryHeader {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @include mixins.tablet {
    margin-top: 24px;
  }

  &.isMobile {
    margin-top: 24px;
  }
}

.categoryDescription {
  box-sizing: border-box;
  margin-top: 2px;
  max-width: 700px;

  :global(.sdk-description) {
    display: inline;
    line-height: 20px;
    color: var(--settings-common-description-color);
  }
}

.presetsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(min(200px, 100%), 1fr));
  gap: 16px;
  max-width: fit-content;
  margin-top: 16px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
}

.integrationContainer {
  :global(.integration-header) {
    margin-bottom: 8px;
    margin-top: 36px;
  }

  :global(.icons) {
    display: flex;
    gap: 8px;
    margin: 16px 0;
  }

  :global(.icons .icon:hover) {
    cursor: pointer;
  }

  :global(.link-container) {
    display: flex;
    gap: 4px;
  }

  :global(.link-container .link) {
    text-decoration: underline;
    font-weight: 600;
    line-height: 15px;
  }

  :global(.link-container .icon-arrow:hover) {
    cursor: pointer;
  }

  :global(.link-container .icon-arrow rect) {
    fill: unset;
  }

  :global(.link-container .icon-arrow path) {
    fill: var(--icon-arrow-color);
  }
}

.integrationContainer.dark {
  :global(.icons .icon svg rect) {
    fill: #{colors.$white};
    fill-opacity: 0.1;
  }

  :global(.icons .icon .icon-zoom path) {
    fill: #{colors.$white};
  }

  :global(.icons .icon .icon-wordpress path:not(:last-child)) {
    fill: #{colors.$white};
  }

  :global(.icons .icon .icon-drupal path:first-child) {
    fill: #{colors.$white};
  }

  :global(.icons .icon .icon-drupal path:nth-child(4)),
  :global(.icons .icon .icon-drupal path:nth-child(5)),
  :global(.icons .icon .icon-drupal path:nth-child(6)) {
    fill: #{colors.$light-dark-gray-hover};
  }
}
