// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";
@use "@docspace/shared/styles/_z-index" as z;

.emptyScreen {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 3px 0;
}

.mainStyles {
  :global(#members-list-header) {
    display: none;
    position: fixed;
    height: 52px;
    width: calc(100% - 32px);
    padding: 0;
    z-index: z.$content;
    background: var(--info-panel-background-color);

    @include mixins.mobile {
      padding-inline-end: 16px;
    }
  }
}

.membersList {
  height: 100%;
}

.list {
  width: calc(100% + 20px) !important;
  margin-bottom: 24px;

  overflow: visible !important;

  :global(.members-list-item) {
    // doesn't require mirroring for RTL
    left: unset !important;
    inset-inline-start: 0;
    width: calc(100% - 23px) !important;
  }

  :global(.members-list-loader-item) {
    margin: 0 -16px;
  }

  @include mixins.mobile {
    width: calc(100% + 16px) !important;
    margin-bottom: 48px;
  }
}

.linksBlock {
  display: flex;
  height: 100%;

  align-items: center;
  justify-content: space-between;

  padding-bottom: 3px;
  box-sizing: border-box;

  p {
    color: var(--info-panel-subtitle-color);
  }

  :global(.link-to-viewing-icon) {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.publicRoomBarContainer {
  position: sticky;
  top: 80px;
  background: var(--background-color);
  overflow: hidden;
  z-index: z.$content;

  :global(.public-room-bar) {
    margin-top: 0;
  }
}

.linkRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 100%;
  background: var(--background-color);

  cursor: pointer;

  :global(.icon-button_svg) {
    cursor: pointer;
  }

  &.isArchiveFolder {
    cursor: default;

    :global(.icon-button_svg) {
      cursor: default;
    }
  }

  :global(.create-link-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 10px;
    background: var(--avatar-icon-background);
  }

  :global(.external-row-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  :global(.external-row-icons) {
    margin-inline-start: auto;
    display: flex;
    gap: 16px;
  }

  :global(.avatar-wrapper) {
    svg {
      path {
        fill: var(--info-panel-links-primary-color) !important;
      }
    }
  }

  :global(.clock-icon) {
    svg {
      position: absolute;
      top: 0px;
      inset-inline-start: 0px;
    }

    width: 12px;
    height: 12px;
    border: 1px solid var(--background-color);
    border-radius: 50%;
  }

  &.isExpired {
    :global(.avatar_role-wrapper) {
      svg {
        path {
          fill: var(--info-panel-links-icon-error-color);
        }
      }

      circle {
        fill: var(--background-color);
      }
    }
  }

  :global(.avatar_role-wrapper) {
    svg {
      path {
        fill: var(--info-panel-links-icon-color);
      }
    }

    circle {
      fill: var(--background-color);
    }
  }
}

.userTypeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 12px;

  &.isExpect {
    padding-top: 20px;
  }

  :global(.title) {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--info-panel-subtitle-color);
  }

  :global(.icon) {
    margin-inline-end: 8px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;

  :global(.avatar) {
    min-width: 32px;
    min-height: 32px;
  }

  &.isSystem {
    :global(.avatar) {
      svg path {
        fill: var(--info-panel-role-color);
      }
    }
  }

  :global(.user_body-wrapper) {
    overflow: auto;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  :global(.name-wrapper),
  :global(.role-email) {
    display: flex;
  }

  :global(.name) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.isExpect {
    :global(.name) {
      color: var(--info-panel-expect-name-color);
    }
  }

  &.isSystem {
    :global(.name) {
      cursor: default;
    }
  }

  :global(.me-label) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--info-panel-me-label-color);
    padding-inline-start: 8px;
    margin-inline-start: -8px;
  }

  :global(.role-wrapper) {
    margin-inline: auto -12px;
    padding-inline-start: 8px;

    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;

    :global(.disabled-role-combobox) {
      color: var(--info-panel-disable-role-color);

      margin-inline-end: 16px;
    }
  }

  :global(.role-view_remove-icon) {
    cursor: pointer;
    svg {
      path {
        fill: var(--info-panel-icon-button-color);
      }
    }

    :hover {
      svg {
        path {
          fill: var(--info-panel-icon-button-hover-color);
        }
      }
    }
  }
}
