// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../../styles/mixins";
@use "../../../styles/variables/colors";

.usersLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.subtitleLoader {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.property {
  width: 100%;
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 8px;

  :global {
    .property-content {
      max-width: 100%;
      margin: auto 0;

      @include mixins.truncate;
    }
  }
}

.detailsLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.detailsSubtitleLoader {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detailsProperty {
  width: 100%;
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 8px;

  :global {
    .property-content {
      max-width: 100%;
      margin: auto 0;

      @include mixins.truncate;
    }
  }
}

.galleryLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.gallerySubtitleLoader {
  width: 100%;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.galleryProperty {
  width: 100%;
  display: grid;
  grid-template-columns: 108px 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 8px;

  :global {
    .property-content {
      max-width: 100%;
      margin: auto 0;

      @include mixins.truncate;
    }
  }
}

.historyLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.historySubtitleLoader {
  width: 100%;
  padding: 8px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.historyBlockLoader {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--body-info-border-color);

  :global {
    .content {
      width: 100%;
      height: 38px;

      display: flex;
      flex-direction: row;
      gap: 8px;

      .avatar {
        min-height: 32px;
        min-width: 32px;
      }
      .message {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      .date {
        margin-inline-start: auto;
      }
    }
  }
}

.memberLoader {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.memberSubtitleLoader {
  width: 100%;
  padding: 8px 0 12px;
  :global {
    .pending_users {
      padding-top: 20px;
    }
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.styledMemberLoader {
  width: 100%;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;

  :global {
    .avatar {
      min-height: 32px;
      min-width: 32px;
    }

    .role-selector {
      margin-inline-start: auto;
    }
  }
}

.noItemLoader {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.severalItemsLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupsLoader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.groupMemberLoader {
  width: 100%;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;

  .avatar {
    min-height: 32px;
    min-width: 32px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
  }
}
