/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/variables";

@use "../backup";

.manualBackup {
  @include backup.common-backup-styles;

  .backupModulesHeaderWrapper {
    .linkLearnMore {
      margin-bottom: 20px;
    }
  }

  .manualBackupButtons {
    margin-top: 16px;
    margin-inline-start: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button:first-child {
      max-width: 124px;
      margin-inline-end: 8px;
    }

    button:last-child {
      max-width: 153px;
    }

    @include mixins.tablet-and-below {
      button:first-child {
        max-width: 129px;
      }

      button:last-child {
        max-width: 160px;
      }
    }

    @include mixins.mobile {
      button:first-child {
        max-width: 155px;
      }

      button:last-child {
        max-width: 155px;
      }
    }
  }

  .manualBackupStoragesModule {
    margin-inline-start: 24px;

    .manualBackupButtons {
      margin-inline-start: 0;
    }
  }

  .manualBackupThirdPartyModule {
    margin-top: 16px;
    margin-inline-start: 24px;
  }

  .manualBackupFolderInput {
    margin-inline-start: 24px;
    margin-top: 16px;
  }

  .modules {
    &.isDisabled {
      .backupDescription {
        color: var(--settings-backup-text-disabled);
      }
    }
  }
}

.comboboxItem {
  @include backup.common-combobox-item-styles;

  .dropDownItemIcon {
    align-items: center;
  }
}
