// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../styles/variables/colors";

.tagSelector {
  position: fixed;

  padding: 8px 16px;

  border-radius: 8px;

  max-height: 300px;
  height: auto;
  width: 254px;

  background-color: #fff;

  box-shadow:
    0px 8px 16px 0px #040f1b14,
    0px 0px 4px 0px #040f1b0a;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.divider {
  margin-block: 3px;
  background-color: #e5e7eb;
  border: none;
  height: 1px;
  flex-shrink: 0;
  width: 100%;
}

.wrapperCreateTag {
  display: flex;
  align-items: center;
  gap: 10px;

  flex-shrink: 0;
  height: 30px;
  box-sizing: border-box;

  .createTag {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 2px 8px;
    height: 24px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .createTagIcon {
    width: 12px;
    height: 12px;

    svg path {
      align-self: center;
      fill: #{colors.$light-blue-main};
    }
  }
}

.wrapperList {
  margin-inline-end: -17px;
}

.text {
  padding-block: 4px 8px;
  color: #a3a9ae;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;

  height: 30px;

  .editInput {
    padding: 2px 8px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .checkbox svg {
    margin: 0;
  }

  .editIcon,
  .deleteIcon {
    flex-shrink: 0;
  }
  .tag {
    margin-inline-end: auto;
  }
}

.input[data-size="base"] {
  padding: 4px 0px;
  flex-grow: 0;
}

.checkCross {
  display: flex;
  align-items: center;
  gap: 4px;
}

.checkIcon,
.crossIcon {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--icon-button-color);

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      border-color: var(--icon-button-hover-color);
    }
  }
}

.tag {
  display: inline-block;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  line-height: 20px;

  height: 24px;

  padding: 1px 7px;

  box-sizing: border-box;
}
