// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.servicesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 16px;

  &.servicesWrapperMobile {
    grid-template-columns: 1fr;
  }
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid var(--border-service-color);
  border-radius: 6px;

  min-height: 148px;
  box-sizing: border-box;
  cursor: pointer;

  &:not(.disabled):hover {
    background-color: var(--background-service-color);
  }
}

.middleBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}

.disabled {
  cursor: default;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .serviceToggle {
    width: 28px;
    position: static;
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;

  rect {
    fill: var(--color-scheme-main-buttons);
    opacity: 0.1;
  }

  path {
    fill: var(--color-scheme-main-buttons);
    opacity: 1;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .containerTitle {
    margin-bottom: 4px;
  }
}

.priceContainer {
  margin-top: auto;
}

.iconsContainer {
  display: flex;
}

.serviceToggle {
  position: static;
  width: 28px;
}

.priceDescription {
  color: var(--payment-text-color);
}

.storageDescription {
  color: var(--payment-text-color);
  margin-bottom: 20px;
  max-width: 660px;
}
.payerContainer {
  margin-bottom: 20px;
}

.changeShedule {
  display: flex;
  gap: 4px;
  align-items: center;

  &.warningColor {
    color: var(--payment-warning-color);
    svg {
      path {
        fill: var(--payment-warning-color);
      }
    }
  }
  &.greenColor {
    color: var(--payment-credit-color);
    svg {
      path {
        fill: var(--payment-credit-color);
      }
    }
  }
}

.spacer {
  flex-grow: 1;
}
