// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.dialogBody {
  display: flex;
  flex-direction: column;
  height: 100%;

  user-select: none;
}

.storageInfo {
  display: flex;
  min-height: 40px;
  background: var(--payment-background-color);
  margin-bottom: 24px;
  flex-wrap: wrap;
  margin-top: 14px;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 6px;
}
.totalContainer {
  margin-top: auto;
  margin-bottom: 12px;
}

.currentTariffCount {
  display: inline;
}

.moreStorage {
  color: var(--payment-text-color);
}

.currentPayment,
.currentPaymentWrapper {
  margin-bottom: 8px;
}

.monthPayment {
  color: var(--payment-dialog-text);
}

.cancelDialog {
  margin-bottom: 16px;
  user-select: none;
}

.selectionAmount {
  margin-bottom: 20px;
}
