// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.totalWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0;
  flex: 0 0 50%;
  margin-top: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--payment-background-color);
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    pointer-events: none;
  }

  &.withBackground {
    padding: 16px;
    &::before {
      opacity: 1;
    }
  }
}

.warningBlock {
  background-color: var(--payment-background-color);
  padding: 16px;
  .warningTitle {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 4px;

    svg {
      path {
        fill: var(--payment-warning-color);
      }
    }
  }
}
.planInfoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
  margin-top: 12px;

  &.withBottom {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--aside-header-border-color);
  }
}

.planInfoIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--payment-accent-color);
    opacity: 0.1;
    border-radius: 50%;
    z-index: 0;
  }

  svg {
    position: relative;
    z-index: 1;
    path {
      fill: var(--payment-accent-color);
    }
  }
}

.planInfoBody {
  flex: 1;
  height: 35px;
}

.planInfoDetails {
  display: flex;
  flex-direction: column;
  color: var(--payment-dialog-text);
}

.planInfoPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.priceForEach {
  color: var(--payment-dialog-text);
}

.balanceWarning {
  color: var(--warning-color);
  margin-top: 4px;
}

.totalTitle {
  margin-bottom: 12px;
}

.walletContainer {
  padding-bottom: 20px;
}
.planInfoHeader {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
