**/obj/
**/bin/
*.suo
*.user
.vs/

**/node_modules/
**/storybook-static/
**/dist

*.log

Logs/
**/.DS_Store
.eslintcache

/public/debuginfo.md
/public/campaigns/*

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


**/.yarn/cache
**/.yarn/install-state.gz
licenses.csv


.idea
packages/runtime.json
playwright-report
common/tests/reports/tests-results.html

.nx/cache
.nx/workspace-data

**/.next/
common/translation-app/backend/db
