// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/variables";
@use "../../styles/variables/colors";
@use "../../styles/mixins";

.wrapper {
  .saveButton {
    inset-inline-end: 10px;
  }

  .hexHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  .hexText {
    &:hover {
      cursor: default;
    }
  }

  .hexColorPicker {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    width: 195px;

    @include mixins.mobile {
      width: calc(100vw - 32px);
    }

    :global {
      .react-colorful {
        width: auto;
        height: 250px;
        padding-bottom: 26px;
      }

      .react-colorful__saturation {
        margin-block: 16px 26px;
        border-radius: 3px;

        &.isPickerOnly {
          margin-block: 16px 24px;
        }
      }

      .react-colorful__interactive {
        width: 183px;

        :global(.rtl) & {
          right: 13px;
        }

        @include mixins.mobile {
          width: calc(100vw - 44px);
        }
      }

      .react-colorful__last-control .react-colorful__interactive {
        left: 6px;

        :global(.rtl) & {
          right: 6px;
        }
      }

      .react-colorful__saturation-pointer {
        width: 14px;
        height: 14px;
        transform: none !important;
      }

      .react-colorful__hue {
        border-radius: 6px;
        height: 12px;
      }

      .react-colorful__hue-pointer {
        width: 30px;
        height: 30px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        border: 8px solid #{variables.$white};
      }
    }
  }

  .hexValueContainer {
    padding-bottom: 16px;
  }

  .hexValue {
    height: 32px;
    outline: none;
    padding: 6px 8px;
    border: var(--color-picker-border);
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    background: var(--color-picker-background);
    color: var(--color-picker-color);
  }

  .hexValueLabel {
    line-height: 20px;
  }

  .hexButton {
    display: flex;
    gap: 8px;
  }
}
