/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../styles/mixins";
@use "../../styles/z-index" as z;

.wrapper {
  &:not(.descriptive) {
    :global(.combo-button) {
      padding-inline: 8px;
    }
  }

  &.onlyIcon {
    :global(.combo-button) {
      padding-inline-end: 4px;
    }

    :global(.combo-button_selected-icon-container) {
      margin-inline-end: 0;
    }

    :global(.combo-buttons_arrow-icon),
    :global(.combo-button_selected-icon-container) {
      svg path {
        fill: var(--text-color);
      }
    }

    &.isDisabled {
      :global(.combo-buttons_arrow-icon),
      :global(.combo-button_selected-icon-container) {
        svg path {
          fill: var(--combobox-children-button-default-disabled-color);
        }
      }
    }

    @include mixins.mobile {
      :global(.backdrop-active) {
        top: -64px;
        z-index: z.$backdrop;
      }

      :global(.dropdown-container) {
        z-index: z.$overlay;
      }
    }
  }
}

.item {
  width: auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: center;
  gap: 8px;

  padding: 7px 0;

  line-height: 16px;
  font-style: normal;
}

.itemDescription {
  margin: 1px 0;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--access-right-select-description-color);
}

.itemIcon {
  path[fill] {
    fill: var(--drop-down-item-icon-color);
  }

  &.isShortenIcon {
    padding-top: 2px;
    width: 16px;
    height: 16px;
  }
}

.itemContent {
  width: 100%;
  white-space: normal;
}

.itemTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accessRightSelectDropdown:global(.dropdown-container) {
  @include mixins.mobile {
    border-radius: 6px 6px 0 0 !important;
  }
}
