.searchInputBlock {
  max-height: 32px;

  &.scale {
    width: 100%;
  }

  :global(.input-block-icon) {
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  :global(.search-input-block > input) {
    font-weight: 600;
  }

  &:hover :global(svg path) {
    fill: var(--search-input-icon-fill-hover);
  }
}
