@use "../../../styles/mixins";

.page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-image: url(~PUBLIC_DIR/images/background.pattern.react.svg?url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @include mixins.tablet-and-below {
    padding: 0 16px;
  }

  @include mixins.mobile {
    padding-block: 0;
    padding-inline: 16px 8px;
    background-image: none;
  }

  .publicRoomPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
  }

  .content {
    min-height: 100vh;
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: 100%;
    padding-top: 9%;
    justify-content: unset;
    min-height: unset;

    @include mixins.mobile {
      justify-content: start;
      min-height: 100%;
    }
  }

  .publicRoomContent {
    width: 100%;
    padding-top: 9%;
    justify-content: unset;
    min-height: unset;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto;

    @include mixins.mobile {
      width: 100%;
      margin: 0 auto;
    }
  }

  .portalLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 64px;
  }

  .passwordForm {
    width: 100%;
    margin-bottom: 8px;
  }

  .publicRoomText {
    margin: 8px 0;
    white-space: wrap;
  }

  .publicRoomName {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
  }

  .publicRoomIcon {
    min-width: 32px;
    min-height: 32px;
  }

  .title {
    margin-bottom: 32px;
    text-align: center;
  }

  :global(.subtitle) {
    margin-bottom: 32px;
  }

  :global(.password-field-wrapper) {
    width: 100%;
  }

  :global(.password-change-form) {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  :global(.phone-input) {
    margin-bottom: 24px;
  }

  :global(.delete-profile-confirm) {
    margin-bottom: 8px;
  }

  :global(.phone-title) {
    margin-bottom: 8px;
  }

  :global(.restoring-portal) {
    height: 100%;
  }
}
