// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/z-index" as z;

.addPaymentMethod {
  padding-bottom: 21px;
  padding-top: 21px;
  border-bottom: 1px solid var(--aside-header-border-color);

  .paymentMethodDescription {
    margin-bottom: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    .noPayment {
      color: var(--payment-dialog-text);
    }
  }

  .addPaymentMethodContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    cursor: pointer;
  }

  .plusIconWrapper {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--payment-rectangle-color);
    border: 1px solid var(--payment-rectangle-color);

    svg {
      width: 12px;
      height: 24px;
    }
  }

  .cardLinked {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: var(--payment-background-color);
    border-radius: 6px;

    .tickedWrapper {
      display: flex;
      gap: 8px;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
        path {
          fill: var(--payment-credit-color);
        }
      }
      p,
      span {
        z-index: z.$content;
      }
    }

    &.warningColor {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--warning-color);
        opacity: 0.2;
        z-index: z.$base;
        pointer-events: none;
        border-radius: 6px;
      }

      svg {
        path {
          fill: var(--warning-color);
        }
      }
    }

    a {
      color: var(--payment-text-color);
      z-index: z.$content;
    }

    &.cardLinkDisabled {
      a {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }
}
