// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.transaction-row {
  &__amount {
    &--credit {
      color: #44bb6e;
    }
  }
}

.transaction-history-title {
  margin-bottom: 8px;
}

.transaction-history-combobox {
  display: flex;
  margin-bottom: 29px;
  gap: 12px;
  p {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.download-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
}

.table-container_caption-header {
  position: absolute;
}

.transaction-row__amount {
  min-width: fit-content;
  width: max-content;
  text-align: end;
}

.transaction-history-row-view {
  .transaction-row__amount--credit {
    color: #35ad17;
  }
}

//  border-top: ${(props) =>
// `1px solid ${props.theme.filesSection.tableView.row.borderColor}`};
// border-bottom: ${(props) =>
//   `1px solid ${props.theme.filesSection.tableView.row.borderColor}`};

.transaction-row {
  .row_content {
    height: 58px;
  }

  height: 59px;

  box-sizing: border-box;
  margin-top: -1px;

  position: unset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
