// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.transactionRowAmountCredit {
  color: var(--payment-credit-color);
}

.transactionHistoryTitle {
  margin-bottom: 8px;
}

.transactionHistoryCombobox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
  gap: 12px;
  align-items: start;
}

.transactionHistoryBody {
  margin-top: 27px;

  :global(.table-container_header) {
    position: absolute;
  }
}

.transactionDates {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 600;
}

.downloadWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  &.isMobileButton {
    flex-direction: column;
  }
}

.transactionsLimit {
  margin: 20px 0 10px 0;
  max-width: 660px;
}

.tableContainerCaptionHeader {
  position: absolute;
}

.transactionRowAmount {
  min-width: fit-content;
  width: max-content;
  text-align: end;
}

.transactionRow {
  .rowContent {
    height: 58px;
  }

  box-sizing: border-box;
  margin-top: -1px;
  position: unset;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.downloadReportDescription {
  color: var(--payment-text-color);
}

.filterDialog {
  .filterDialogContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  .filterDialogSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .filterDialogDivider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--aside-header-border-color);
  }
}

.transactionHistoryHeader {
  display: flex;
  margin-top: 24px;
  #filterButton {
    margin-left: auto;
  }
}

.loaderRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 12px 0;

  &.headerRow {
    gap: 12px;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  &.dataRow {
    max-width: 920px;
    padding: 12px 0;
    justify-content: space-between;
  }
}

.bodyRow {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-right: 30px;
  width: calc(100% - 30px);
}

.balanceRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-top: 20px;

  .rectangleSkeleton:first-child {
    margin-bottom: 4px;
  }

  .rectangleSkeleton:last-child {
    margin-top: 8px;
  }
}

.transactionHistoryLoader {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 920px;

  .flexibleLoader {
    max-width: 151px;
  }

  .fixedLoader {
    width: 51px;
  }

  .lastChild {
    padding-right: 30px;
  }

  .paymentLoader,
  .descriptionRow {
    max-width: 660px;
  }

  .descriptionRow {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 20px;
  }
}

.mobileBody {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  margin-top: 12px;
  .mobileBodyLeft {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: auto;
    width: 100%;

    &.isTablet {
      max-width: 384px;
    }

    &:not(.isTablet) {
      max-width: 247px;
    }
  }
}

.loaderItem {
  height: 16px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 23%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 78%
    );
    animation: shimmer 1.5s infinite;
  }

  &.type {
    width: 120px;
  }

  &.date {
    width: 80px;
  }

  &.amount {
    width: 70px;
    margin-left: auto;
  }
}

.filterIconWrapper {
  margin-inline-start: auto;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.transactionRowDetails {
  color: var(--payment-dialog-text);
}

.transactionRowDescription {
  margin-inline-end: 4px;
}
