// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.walletContainer {
  width: 100%;

  .walletDescription {
    max-width: 660px;
    color: var(--payment-text-color);
    margin-bottom: 4px;
    line-height: 20px;
  }

  .balanceWrapper {
    margin-top: 24px;
    margin-bottom: 16px;
    .balanceTitle {
      height: 24px;
    }
  }

  .topUpButton {
    max-width: 152px;
    width: 152px;

    &.isMobileButton {
      max-width: 100%;
      width: 100%;
    }
  }
  .autoPaymentInformation {
    margin-bottom: 24px;
    color: var(--payment-text-color);
    p:first-child {
      margin-bottom: 2px;
    }
  }

  .autoPaymentEditing {
    display: flex;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .balanceAmountContainer {
    display: flex;
    align-items: baseline;
    gap: 0;
    margin: 12px 0 16px 0;
  }

  .integer,
  .group,
  .decimal,
  .literal,
  .currency {
    font-weight: 700;
    font-size: 44px;
  }

  .fraction {
    font-weight: 700;
    font-size: 28px;
  }
}

@keyframes circularRotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  90% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.refreshIcon {
  cursor: pointer;
  margin-left: 4px;
}

.spinning {
  svg {
    animation: circularRotate 2s ease-in-out infinite !important;
    transform-origin: center;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.warningColor {
  color: var(--warning-color);
}

.autoPaymentInformation {
  margin-bottom: 24px;
  color: var(--payment-text-color);
}

.autoPaymentEditing {
  display: flex;
}
