@import "../../styles/variables/_colors.scss";

.container {
  display: flex;
  align-items: center;

  .selectorText {
    padding-inline-start: 8px;
    cursor: pointer;
  }

  &.isDisabled {
    .selectorText {
      color: var(--selector-add-button-text-disabled);
      cursor: default;
    }
  }

  &.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.selectorButton {
  display: inline-block;
  background: var(--selector-add-button-background);
  border: var(--selector-add-button-border);
  box-sizing: var(--selector-add-button-box-sizing);
  border-radius: var(--selector-add-button-border-radius);
  height: var(--selector-add-button-height);
  width: var(--selector-add-button-width);
  padding: var(--selector-add-button-padding);
  cursor: pointer;

  &.isSize {
    height: var(---selector-add-button-size);
    width: var(---selector-add-button-size);
  }

  svg path {
    fill: var(--selector-add-button-icon-color) !important;
  }

  &:hover {
    background: var(--selector-add-button-hover-background);

    svg path {
      fill: var(--selector-add-button-icon-color-hover) !important;
    }
  }

  &:active {
    background: var(--selector-add-button-active-background);

    svg path {
      fill: var(--selector-add-button-icon-color-active) !important;
    }
  }

  -webkit-tap-highlight-color: #{$tap-highlight};

  &.isAction {
    background-color: var(--main-accent-button) !important;

    & svg path {
      fill: var(--accent-main) !important;
    }

    &:hover {
      background-color: var(--main-accent-button);

      &:not(.disabled) {
        svg {
          path {
            fill: var(--accent-main);
            opacity: 0.85;
          }
        }
      }
    }

    &:active {
      background-color: var(--main-accent-button);

      & svg path {
        fill: var(--accent-main);
        opacity: 1;
        filter: brightness(90%);
      }
    }

    div {
      opacity: 1;
    }
  }

  &.isDisabled {
    cursor: default;

    background: var(--selector-add-button-disabled-background) !important;

    svg path {
      fill: var(--selector-add-button-icon-color-disabled) !important;
    }
  }
}
