/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../styles/variables";

.modalBody {
  padding-inline-start: 16px;
}

.downloadDialogBodyContent {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 20px;
  min-height: 40px;

  .downloadDialogConvertMessage {
    margin-top: 16px;
  }
}

.downloadContent {
  .downloadDialogContentWrapper {
    .downloadDialogHeading {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }

    .downloadDialogIcon {
      width: 12px;
      height: 12px;
      transform: rotate(90deg);

      svg {
        path {
          fill: variables.$black;
        }
      }
    }
  }

  .downloadDialogHiddenItems {
    display: none;
    border-bottom: 1px solid var(--modal-dialog-header-border-color);
    margin-bottom: 16px;
  }

  .downloadDialogRow {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: 48px;

    .removeIcon {
      padding-inline-end: 8px;
      flex-shrink: 0;
    }
    .enterPassword {
      text-decoration: underline dashed;
      cursor: pointer;
    }

    .downloadDialogMainContent {
      min-width: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      svg {
        margin: 0 !important;
      }
      .downloadDialogCheckbox {
        padding: 8px;
      }
      .downloadDialogIconContainer {
        padding: 0 8px;
        max-height: 32px;
        max-width: 32px;
      }
      .downloadDialogTitle {
        min-width: 0;
        width: 100%;
      }

      [data-dir="rtl"] & {
        .downloadDialogTitle {
          text-align: right;
        }
      }
    }
    .passwordContent {
      cursor: pointer;
      .passwordTitle {
        margin-inline-start: 8px;
      }
    }

    .downloadDialogActions {
      .downloadDialogLink {
        width: max-content;
        a {
          padding-inline-end: 0;
          text-underline-offset: 1px;
        }

        .expander {
          svg {
            padding-bottom: 2px;
          }
        }
      }
      .downloadDialogOtherText {
        text-align: end;
        color: var(--download-dialog-text-color);
      }
    }
  }

  .passwordInput {
    display: flex;
  }

  :global(#conversion-button) {
    margin-inline-start: 8px;
    width: 100%;
    max-width: 78px;
  }

  &.isOpen {
    .downloadDialogContentWrapper {
      background: var(--download-dialog-bg);
      margin: 0 -16px;
      padding: 0 16px;
    }

    .downloadDialogIcon {
      transform: rotate(270deg);
    }

    .downloadDialogHiddenItems {
      display: block;
    }
  }
}

.downloadDialogPasswordContent {
  margin-top: 16px;

  .passwordRowWrapper {
    .passwordInfoText {
      display: flex;
      height: 36px;
      align-items: center;
    }
    .warningColor {
      p {
        color: var(--download-dialog-warning-color);
      }
    }
  }
}

.singlePasswordFile {
  .singlePasswordContent {
    display: flex;
    justify-content: space-between;
    background: var(--download-dialog-bg);
    height: 48px;
    align-items: center;
    border-radius: 6px;
    padding: 0 16px;
    margin: 16px 0;

    .singlePasswordRow {
      display: flex;
      align-items: center;
      overflow: hidden;
    }
  }
}
