// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@import "../../styles/variables/_colors.scss";
@import "../../styles/mixins.scss";

:global(.dark) {
  :local {
    .plus {
      --plus-color: #{$black};
    }
    .remove {
      --remove-color: #{$gray-dark};
    }
  }
}

:global(.light) {
  :local {
    .plus {
      --plus-color: #{$light-gray-dark};
    }
    .remove {
      --remove-color: #{$gray};
    }
  }
}

.roles {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.role {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 32px;

  margin: 0 -16px;
  padding: 12px 16px;

  width: calc(100%);

  @include no-user-select;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      background-color: var(--selector-item-hover-background);
    }
  }
}

.count {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;

  color: $gray;
}

.button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.name {
  display: inline-block;
  flex-shrink: 1;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: start;

  color: var(--text-color);
  @include truncate;
}

.plus {
  display: inline-block;
  position: relative;
  flex-shrink: 0;

  width: 32px;
  height: 32px;

  border-radius: 3px;
  border: none;

  cursor: pointer;

  &::after,
  &::before {
    content: "";
    display: block;

    background-color: var(--plus-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 10px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 10px;
  }
}

.info {
  display: flex;
  flex-direction: column;

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: var(--text-color);
    margin: 0;
  }

  .me {
    color: $light-gray-dark;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
  }

  span {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: var(--empty-view-description-color);
  }
}

.remove {
  cursor: pointer;
  margin-inline-start: auto;
  flex-shrink: 0;

  path {
    fill: var(--remove-color);
  }
}
