.bodyContainer {
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .iconBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .icon {
      max-width: 32px;
      max-height: 32px;
      width: 32px;
      height: 32px;

      object-fit: cover;

      border-radius: 3px;
    }
  }
}

.headersContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.advancedSettings {
  display: flex;
  align-items: center;
  gap: 12px;
}

.connectDocspace {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .connectDocspaceDescription {
    color: var(--settings-common-description-color);
  }
}
