// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/ui-kit/styles/mixins";
@use "@docspace/ui-kit/styles/variables/colors" as colors;

.styledContainer {
  width: 100%;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  :global(.loader) {
    rect {
      width: 100%;
    }
  }

  :global(.scope-name-loader) {
    margin-bottom: 4px;
  }

  :global(.scope-desc-loader) {
    margin-bottom: 2px;
  }
}

.styledBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  :global(.icon-field) {
    margin: 0;
  }
}

.styledHeaderRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;

  div {
    height: 12px;
  }
}

.styledInputBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
}

.styledInputGroup {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;

  svg {
    cursor: pointer;
  }

  :global(.pkce) {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 0px;

    :global(.icon-button) {
      padding: 0 8px;
    }
  }

  :global(.public_client) {
    margin-top: 4px;
    display: flex;
    align-items: center;

    label {
      position: relative;
    }
  }

  :global(.label) {
    height: 20px;
  }

  :global(.select) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 4px 0;

    :global(.client-logo) {
      max-width: 32px;
      max-height: 32px;
      width: 32px;
      height: 32px;
      object-size: cover;
      border-radius: 3px;
    }

    p {
      color: var(--oauth-form-description-color);
    }
  }

  :global(.description) {
    color: var(--oauth-form-description-color);
  }

  :global(.input-block-with-button) {
    :global(.field-body) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
    }
  }
}

.styledInputRow {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

  input {
    user-select: none;
  }
}

.styledChipsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.styledScopesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 16px 0;

  :global(.header) {
    padding-bottom: 8px;
    padding-right: 24px;
    margin-right: -12px;
    border-bottom: var(--oauth-form-header-border);
  }

  &.requiredError :global(.header) {
    border-bottom: 1px solid var(--input-error-border);
  }

  :global(.header-error) {
    margin-top: -8px;
  }

  :global(.header-last) {
    margin-right: 0px;
    padding-right: 0px;
  }

  :global(.checkbox-read) {
    margin-right: 12px;
  }
}

.styledScopesName {
  display: flex;
  align-content: flex-start;
  flex-direction: column;

  :global(.scope-name) {
    margin-bottom: 2px;
  }

  :global(.scope-desc) {
    color: var(--oauth-form-scope-desc);
  }
}

.styledScopesCheckbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  :global(.checkbox) {
    margin-right: 0px;
  }
}

.styledButtonContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  @include mixins.mobile {
    width: 100%;
  }
}

.styledInputAddBlock {
  width: calc(100% - 40px);
  height: 44px;
  padding: 0 6px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: var(--background-color);
  position: absolute;
  top: 40px;
  left: 0px;
  border-radius: 3px;
  border: var(--oauth-form-header-border);
  box-shadow: var(--navigation-box-shadow);

  :global(.add-block) {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      color: #{colors.$light-blue-main};
    }

    svg path {
      fill: #{colors.$light-blue-main};
    }
  }
}

.styledCheckboxGroup {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}
