// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.editRoomGroupsDialog {
  :global {
    .modal-body {
      margin-inline-end: 0px !important;
      padding: 0px !important;
    }
  }

  :global(#modal-scroll > .scroll-wrapper > .scroller > .scroll-body) {
    padding-inline-end: 0px !important;
  }

  .settingRoomGroups {
    padding: 20px 16px;
    border-bottom: 1px solid #eceef1;
  }

  .roomGroups {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a3a9ae;
  }

  .selectorAddButton {
    padding: 16px 20px;
  }
}

.groupIconDialog {
  :global {
    #modal-dialog {
      width: 422px;
      height: 498px;
    }

    .modal-header {
      line-height: 28px;
    }

    .modal-footer {
      margin-top: 4px;
    }
  }

  // @media ${mobile} {
  //   margin-bottom: 16px;
  //   width: 100vw;

  //   .modal-body {
  //     padding: 0px 16px 8px;
  //   }

  //   .modal-footer {
  //     margin-top: 0px;
  //   }

  //   .modal-header {
  //     margin-bottom: 16px;
  //   }
  // }

  .name {
    margin-top: 18px;
    margin-bottom: 16px;
  }

  .nameText {
    display: inline;
  }

  .symbol {
    color: #f21c0e;
  }

  .nameInput {
    margin-top: 3px;
  }
}
