// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html

@use "@docspace/shared/styles/mixins";

.categoryFilter {
  width: 220px !important;

  :global(.combo-button-label) {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  :global(.dropdown-container) {
    margin-top: 4px;
  }
}

.categoryFilterItem {
  width: 220px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  span {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  :global(.submenu-arrow) {
    margin: 0;

    svg {
      height: 12px;
      width: 12px;
    }
  }
}

.categoryFilterSubList {
  position: absolute;
  top: 0;
  padding: 4px 0;
  margin-top: var(--margin-top);
  inset-inline-start: calc(100% + 4px) !important;
  max-height: 296px;
  max-width: auto;
  visibility: hidden;

  &:before {
    content: "";
    position: absolute;
    inset-inline-start: -4px;
    top: 0;
    width: 6px;
    height: 100%;
  }

  &.open {
    &:hover {
      visibility: visible;
    }
  }

  &.open.isSubHovered {
    visibility: visible;
  }
}

.categoryFilterSubListItem {
  width: 208px;
  height: 36px;
  box-sizing: border-box;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
