// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/mixins";
@use "../../styles/variables/colors";
@use "../../styles/common-icons-style";

.iframe {
  border: none;
  height: 60px;
  width: 100%;

  @include mixins.tablet {
    min-width: var(--section-width) + 40px;
  }
}

.snackbar {
  transition: all 500ms ease;
  transition-property: top, right, bottom, left, opacity;
  font-size: 12px !important;
  min-height: 14px;
  position: relative;
  display: flex;
  align-items: flex-start;
  color: #{colors.$white};
  line-height: 16px;
  margin: 0;
  opacity: var(--opacity, 0);
  width: 100%;
  background-color: var(--background-color);
  background-image: var(--background-image);

  & > div,
  & > button {
    padding: 12px 20px;
  }
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: var(--text-align);
}

.headerBody {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: start;

  .logo {
    box-sizing: border-box;
  }
}

.textHeader {
  font-size: 12px !important;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
}

.textBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text {
  font-size: 12px !important;
  line-height: 16px;
  font-weight: 400;
}

.action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  color: #{colors.$black};
  margin-block: 0 4px;
  margin-inline: 12px 4px;

  padding: 0;

  min-width: min-content;
  cursor: pointer;
  margin-inline-start: 12px;
  text-decoration: underline;
}

.button {
  background: inherit;
  border: none;
  font-size: 13px !important;
  color: #{colors.$dark-black};
  cursor: pointer;
  line-height: 14px;

  text-decoration: underline;
}

.actionWrapper {
  position: absolute;
  // doesn't require mirroring for RTL
  right: 8px;
  top: 8px;
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  color: #{colors.$dark-black};
  cursor: pointer;
  text-decoration: underline;

  @include mixins.tablet {
    // doesn't require mirroring for RTL
    right: 14px;
  }
}

.crossIcon {
  @include common-icons-style.common-icons-style;

  path {
    fill: #{colors.$gray};
  }
}

.infoIcon {
  @include common-icons-style.common-icons-style;

  path {
    fill: var(--color);
  }
}
