// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/ui-kit/styles/mixins";

.sdkContainer {
  box-sizing: border-box;

  :global(.integration-examples-bottom) {
    display: none;
  }

  @include mixins.tablet {
    width: 100%;

    @media (min-width: 720px) {
      :global(.integration-examples-bottom) {
        display: block;
        margin-top: 40px;
      }
    }
  }

  &.isMobile {
    width: 100%;
  }

  :global(.tabs-body) {
    display: block;

    @include mixins.desktop {
      height: calc(100lvh - 260px);
    }
  }

  :global(.linkHelp) {
    display: inline;
    color: var(--sdk-link-help-color);
  }
}

.controls {
  box-sizing: border-box;
  max-width: 350px;
  min-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;

  @include mixins.tablet {
    min-width: 0;
  }

  &.isMobile {
    min-width: 0;
  }

  :global(.label) {
    min-width: fit-content;
  }

  :global(.checkbox) {
    max-width: fit-content;
  }

  :global(.integration-examples) {
    :global(.integration-header) {
      margin-top: 0px;
    }
  }

  @include mixins.tablet {
    @media (min-width: 720px) {
      :global(.integration-examples) {
        display: none;
      }
    }
  }
}

.categoryHeader {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @include mixins.tablet {
    margin-top: 24px;
  }

  &.isMobile {
    margin-top: 24px;
  }
}

.categorySubHeader {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;

  @include mixins.tablet {
    &:not(.copyWindowCode) {
      margin-bottom: 0;
    }
  }

  &.isMobile:not(.copyWindowCode) {
    margin-bottom: 0;
  }

  @include mixins.mobile {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.categoryDescription {
  box-sizing: border-box;
  max-width: 700px;

  :global(.sdk-description) {
    line-height: 20px;
    color: var(--settings-common-description-color);
  }
}

.controlsGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;

  :global(.toggle) {
    position: relative;
  }

  @include mixins.tablet {
    gap: 4px;
  }

  &.isMobile {
    gap: 4px;
  }
}

.checkboxGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelGroup {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.controlsSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.frame {
  box-sizing: border-box;
  margin-top: 16px;
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--sdk-border-color);
  width: calc(var(--frame-width, 100%) + 2px);
  height: calc(var(--frame-height, 100%) + 2px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.tablet {
    margin-top: 4px;
  }

  &.isMobile {
    margin-top: 4px;
  }

  &.noWidth {
    max-width: 800px;
  }

  &.noHeight {
    min-height: 400px;
    max-height: 600px;

    @include mixins.tablet {
      height: calc(-260px + 100lvh);
    }
  }

  :global(.frame-container) {
    height: 100% !important;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 48px;

  @include mixins.tablet {
    flex-direction: column-reverse;
    gap: 48px;
  }

  &.isMobile {
    flex-direction: column-reverse;
    gap: 48px;
  }
}

.rowContainer {
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  gap: 8px;

  &.combo {
    height: 32px;
    align-items: center;
  }
}

.columnContainer {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  gap: 8px;

  :global(.toggle) {
    position: relative;
  }

  @include mixins.tablet {
    gap: 4px;
  }

  &.isMobile {
    gap: 4px;
  }
}

.preview {
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;

  :global(.preview-description) {
    color: var(--sdk-secondary-color);
  }

  @include mixins.tablet {
    margin-top: 0;
    min-width: 0;
  }

  &.isMobile {
    margin-top: 0;
    min-width: 0;
  }
}

.getCodeButtonWrapper {
  padding-block: 30px;
  position: sticky;
  bottom: 0;
  margin-top: 32px;
  background-color: var(--background-color);
  z-index: 1;

  @include mixins.mobile {
    position: fixed;
    padding-inline: 16px;
    inset-inline: 0;
  }
}

.filesSelectorInputWrapper {
  & > div {
    margin: 0;
  }
}

.selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.previewColumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.codeWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
  max-width: 800px;
  height: calc(var(--code-wrapper-height, 400px) + 2px);
}
