// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html

@use "@docspace/shared/styles/mixins";

.categoryFilterWrapper {
  width: 100%;
  position: relative;

  &.withLocales {
    @include mixins.mobile {
      max-width: calc(100% - 49px);
    }
  }
}

.skeleton {
  width: 247px;
  height: 32px;

  @include mixins.mobile {
    width: 100%;
  }

  &.withLocales {
    @include mixins.mobile {
      max-width: calc(100% - 49px);
    }
  }
}
