@use "../../styles/variables/colors";

.container {
  display: flex;
  background-color: var(--info-block-background);
  color: #{colors.$black};
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 10px;

  &:not(.barVisible) {
    margin-top: 20px;
  }
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerBody {
  display: flex;
  height: fit-content;
  width: 100%;
  gap: 8px;
  font-weight: 600;
}

.header {
  color: var(--info-block-header-color);
  overflow: hidden;
}

.headerIcon {
  path {
    fill: #{colors.$light-gray-dark};
  }
}

.body {
  color: var(--info-block-description-color);
}

.closeIcon {
  cursor: pointer;

  path {
    fill: var(--icon-button-color);
  }
}
