// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@import "../../../../styles/variables/devices.scss";
@import "../../../../styles/mixins";

.chatHeader {
  width: 100%;
  height: 64px;

  padding: 16px 0;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  gap: 16px;

  .selectChat {
    width: 32px;
    height: 32px;

    min-width: 32px;

    box-sizing: border-box;

    border-radius: 50%;

    background-color: var(--chat-header-button-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    svg {
      path {
        fill: var(--chat-header-button-svg-color);
      }
    }
  }

  .createChat {
    width: fit-content;
    min-width: fit-content;
    height: 32px;

    box-sizing: border-box;

    border-radius: 16px;

    padding: 8px;

    display: flex;
    align-items: center;

    gap: 10px;

    background-color: var(--chat-header-button-background-color);

    cursor: pointer;

    svg {
      path {
        fill: var(--chat-header-button-svg-color);
      }
    }
  }
}

.dropDownItemDate {
  padding-top: 8px;

  color: var(--chat-header-select-session-date-color);

  cursor: default;
}

.dropDownItemTruncate {
  span {
    @include truncate;
  }
}
