@import "../../../../styles/variables/devices.scss";
@import "../../../../styles/mixins";

.chatHeader {
  width: 100%;
  height: 64px;

  padding: 16px 20px;

  box-sizing: border-box;

  display: flex;
  align-items: center;

  gap: 16px;

  &[data-panel="true"] {
    padding-bottom: 0px;
    height: 48px;
  }

  @include tablet-and-below {
    padding: 16px;
  }

  .fullScreenContainer {
    width: fit-content;

    display: flex;
    align-items: center;

    gap: 16px;
  }

  .selectChat {
    width: 32px;
    height: 32px;

    box-sizing: border-box;

    border-radius: 50%;

    background-color: var(--chat-header-button-background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    svg {
      path {
        fill: var(--chat-header-button-svg-color);
      }
    }
  }

  .createChat {
    width: fit-content;
    height: 32px;

    box-sizing: border-box;

    border-radius: 16px;

    padding: 8px;

    display: flex;
    align-items: center;

    gap: 10px;

    background-color: var(--chat-header-button-background-color);

    cursor: pointer;

    svg {
      path {
        fill: var(--chat-header-button-svg-color);
      }
    }
  }
}

.dropDownItemDate {
  padding-top: 8px;

  color: var(--chat-header-select-session-date-color);

  cursor: default;
}
