.setAgentParams {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
  margin-top: 20px;
}

.logoNameContainer {
  display: flex;
  align-items: end;
  gap: 16px;

  :global(.room-params-icon) {
    min-width: 64px;
    min-height: 64px;
  }
}
