@use "@docspace/ui-kit/styles/mixins";

.param {
  box-sizing: border-box;
  display: flex;
  width: 100%;

  &.folderNameLayout {
    flex-direction: column;
    gap: 4px;
  }

  :global(.set_room_params-info) {
    display: flex;
    flex-direction: column;
    gap: 4px;

    :global(.set_room_params-info-title) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;

      :global(.set_room_params-info-title-text) {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
      }
    }

    :global(.set_room_params-info-description) {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: var(
        --create-edit-room-dialog-common-param-description-color,
        var(--gray-text-color)
      );
    }
  }

  &.increaseGap :global(.set_room_params-info) {
    gap: 12px;
  }

  :global(.set_room_params-toggle) {
    width: 28px;
    height: 16px;
    margin: 2px 0;
  }

  :global(.ai-combobox) {
    padding: 0;
  }

  :global(.ai-button-group) {
    display: flex;
    flex-direction: row;
    gap: 8px;

    @include mixins.mobile {
      flex-direction: column;
    }

    :global(.ai-button-icon) {
      div {
        height: 16px;
      }
    }
  }

  :global(.ai-mcp-group) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    :global(.ai-mcp-item) {
      height: 32px;
      padding: 0 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 3px;

      background: var(--filled-button-background-color);

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
