// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/mixins";
@use "../../styles/variables";

.linkRow.linkRow {
  :global(.combo-button) {
    padding-inline: 8px;

    --icon-color: var(--share-selector-default-color);

    @media (hover: hover) {
      --icon-color: var(--share-selector-hover-color);
    }

    &[aria-expanded="true"] {
      --icon-color: var(--share-selector-selected-color);
    }

    &:active {
      background-color: var(--share-bg-pressed-color) !important;
    }

    &[aria-disabled="true"] {
      --icon-color: var(--share-selector-disabled-color);
      background-color: transparent !important;
    }

    :global(.combo-buttons_arrow-icon),
    :global(.combo-button_selected-icon-container) {
      svg path {
        fill: var(--icon-color);
      }
    }
  }
}

.links {
  margin-top: 20px;

  .titleLink {
    margin-bottom: 12px;
    line-height: 16px;
    color: variables.$gray;
  }

  .additionalLink {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .linkToViewingIcon {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.strong {
  font-weight: 600;
}

.linkRow {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 68px;

  &.isDisabled {
    opacity: 0.4;
  }

  :global {
    .avatar-wrapper,
    .avatar-wrapper:hover {
      svg {
        path {
          fill: var(--info-panel-avatar-color);
        }
      }
    }

    .avatar_role-wrapper {
      svg {
        path:nth-child(3) {
          fill: var(--background-color);
        }
      }
    }

    .combo-box {
      padding: 0;
    }

    .combo-button {
      padding-inline-start: 8px;
    }
  }

  .linkOptions {
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow: hidden;
  }

  .internalCombobox {
    padding: 0;

    :global(.combo-button-label) {
      font-size: 14px;
    }
  }

  .linkOptionsTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin: 6px 8px;

    margin-inline-end: 0;

    &.isExpired {
      color: var(--info-panel-link-expired);
    }
  }

  .expiredOptions {
    padding: 0;

    :global(.text) {
      color: var(--info-panel-links-color);
      &:hover {
        color: var(--info-panel-links-color);
        background: unset;
      }
    }

    & > span > a {
      padding: 0 !important;
    }
  }

  .expireText {
    margin-inline-start: 8px;
    color: var(--info-panel-links-primary-color);
  }

  .linkTimeInfo {
    color: var(--info-panel-links-primary-color);
    padding-inline-start: 8px;
  }

  .linkActions {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-inline-start: auto;

    .linkRowCopyIcon,
    .linkActionsCopyIcon {
      min-width: 16px;
      min-height: 16px;

      user-select: all;
      cursor: pointer;
    }
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--avatar-icon-background);
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
  }

  .createAndCopyLink {
    width: 100%;
    color: var(--info-panel-members-create-link);
  }
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
  background: var(--avatar-icon-background);
  cursor: pointer;

  :global(.icon-button_svg) {
    cursor: pointer;
  }
}

.dropdown {
  :global(.share-link_calendar) {
    position: fixed;
  }
}

.calendar {
  position: absolute;
  inset-inline-end: 32px;

  @include mixins.mobile {
    position: fixed;
    bottom: 0;
    inset-inline-start: 0;
  }
}

.linkTitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  .linkActionsCopyIcon {
    width: 12px;
    height: 12px;

    flex-shrink: 0;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;

  & > * {
    width: 16px;
    height: 16px;
  }

  svg {
    width: 16px;
    height: 16px;
    path {
      fill: var(--share-selector-not-active-color);
    }
  }
}
