// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/mixins";
@use "../../styles/variables";

@mixin icon {
  position: absolute;
  inset: 0;
  z-index: 2;

  user-select: text;
  pointer-events: none;
}

.containerShareInfoBar {
  position: sticky;
  overflow: hidden;
  z-index: 1;

  top: 80px;
  background-color: var(--background-color);

  .shareInfoBar {
    &:global(.public-room-bar) {
      margin-top: 0;
    }
  }

  &.shareInfoBarEditor {
    top: 0px;

    .shareInfoBar {
      &:global(.public-room-bar) {
        margin-top: 10px;
      }
    }
  }
}

.linkRow.linkRow {
  :global(.combo-button) {
    padding-inline: 8px;

    --icon-color: var(--share-selector-default-color);

    @media (hover: hover) {
      &:hover {
        --icon-color: var(--share-selector-hover-color);
      }
    }

    &[aria-expanded="true"] {
      --icon-color: var(--share-selector-selected-color);
    }

    &:active {
      background-color: var(--share-bg-pressed-color) !important;
    }

    &[aria-disabled="true"] {
      --icon-color: var(--share-selector-disabled-color);
      background-color: transparent !important;
    }

    :global(.combo-buttons_arrow-icon),
    :global(.combo-button_selected-icon-container) {
      svg path {
        fill: var(--icon-color);
      }
    }
  }
}

.links {
  // margin-top: 20px;

  .titleLink {
    margin-bottom: 12px;
    line-height: 16px;
    color: variables.$gray;
  }

  .additionalLink {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    margin-top: 20px;

    .linkToViewingIcon {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .shareHeader {
    margin-top: 0;
  }
}

.strong {
  font-weight: 600;
}

.linkRow {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 68px;

  &.isDisabled {
    opacity: 0.4;
  }

  :global {
    .avatar-wrapper,
    .avatar-wrapper:hover {
      svg {
        path {
          fill: var(--info-panel-avatar-color);
        }
      }
    }

    .avatar_role-wrapper {
      svg {
        path:nth-child(3) {
          fill: var(--background-color);
        }
      }
    }

    .combo-box {
      padding: 0;
    }

    .combo-button {
      padding-inline-start: 8px;
    }
  }

  .linkOptions {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0;

    overflow: hidden;
  }

  .internalCombobox {
    padding: 0;

    :global(.combo-button-label) {
      font-size: 14px;
    }
  }

  .linkOptionsTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin: 6px 8px;

    margin-inline-end: 0;

    &.isExpired {
      color: var(--info-panel-link-expired);
    }
  }

  .expiredOptions {
    padding: 0;

    :global(.text) {
      color: var(--info-panel-links-color);
      &:hover {
        color: var(--info-panel-links-color);
        background: unset;
      }
    }

    & > span > a {
      padding: 0 !important;
    }
  }

  .expireText {
    margin-inline-start: 8px;
    color: var(--info-panel-links-primary-color);
  }

  .linkTimeInfo {
    color: var(--info-panel-links-primary-color);
    padding-inline-start: 8px;
  }

  .linkActions {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-inline-start: auto;

    .linkRowCopyIcon,
    .linkActionsCopyIcon {
      min-width: 16px;
      min-height: 16px;

      user-select: all;
      cursor: pointer;
    }
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--avatar-icon-background);
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
  }

  .createAndCopyLink {
    width: 100%;
    color: var(--info-panel-members-create-link);
  }
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px;
  background: var(--avatar-icon-background);
  cursor: pointer;

  :global(.icon-button_svg) {
    cursor: pointer;
  }
}

.dropdown {
  :global(.share-link_calendar) {
    position: fixed;
  }
}

.calendar {
  position: absolute;
  inset-inline-end: 32px;

  @include mixins.mobile {
    position: fixed;
    bottom: 0;
    inset-inline-start: 0;
  }
}

.linkTitleContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 100%;

  .linkOptionsTitle:not(.isExpired) {
    cursor: pointer;
  }

  .linkActionsCopyIconContainer {
    aspect-ratio: 1;
    width: 12px;
    height: 12px;

    position: relative;

    .linkActionsCopyImgIcon {
      @include icon;

      width: 12px;
      height: 12px;
    }

    .linkActionsCopyIcon {
      cursor: pointer;
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  .linkActionsCopyIcon {
    width: 12px;
    height: 12px;

    flex-shrink: 0;

    user-select: all;
  }
}

.iconContainer {
  width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;

  & > * {
    width: 16px;
    height: 16px;
  }

  .wrapper {
    position: relative;
  }

  .iconImg {
    @include icon;
  }

  .icon {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  svg {
    path {
      fill: var(--share-selector-not-active-color);
    }
  }
}

.userTypeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 12px;

  &.isExpect {
    padding-top: 20px;
  }

  :global(.title) {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--info-panel-subtitle-color);
  }

  :global(.icon) {
    margin-inline-end: 8px;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;

  :global(.avatar) {
    min-width: 32px;
    min-height: 32px;
  }

  &.isSystem {
    :global(.avatar) {
      svg path {
        fill: var(--info-panel-role-color);
      }
    }
  }

  :global(.user_body-wrapper) {
    overflow: auto;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  :global(.name-wrapper),
  :global(.role-email) {
    display: flex;
  }

  :global(.name) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.isExpect {
    :global(.name) {
      color: var(--info-panel-expect-name-color);
    }
  }

  &.isSystem {
    :global(.name) {
      cursor: default;
    }
  }

  :global(.me-label) {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--info-panel-me-label-color);
    padding-inline-start: 8px;
    margin-inline-start: -8px;
  }

  :global(.role-wrapper) {
    margin-inline: auto -12px;
    padding-inline-start: 8px;

    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;

    :global(.disabled-role-combobox) {
      color: var(--info-panel-disable-role-color);

      margin-inline-end: 16px;
    }
  }

  :global(.role-view_remove-icon) {
    cursor: pointer;
    svg {
      path {
        fill: var(--info-panel-icon-button-color);
      }
    }

    :hover {
      svg {
        path {
          fill: var(--info-panel-icon-button-hover-color);
        }
      }
    }
  }
}

.mainStyles {
  :global(#members-list-header) {
    display: none;
    position: fixed;
    height: 48px;
    width: calc(100% - 32px);
    padding: 0;
    z-index: 1;
    background: var(--info-panel-background-color);

    @include mixins.mobile {
      padding-inline-end: 16px;
    }
  }
}

.membersList {
  height: 100%;
}

.list {
  width: calc(100% + 20px) !important;
  margin-bottom: 24px;

  overflow: visible !important;

  :global(.members-list-item) {
    // doesn't require mirroring for RTL
    left: unset !important;
    inset-inline-start: 0;
    width: calc(100% - 23px) !important;
  }

  :global(.members-list-loader-item) {
    margin: 0 -16px;
  }

  @include mixins.mobile {
    width: calc(100% + 16px) !important;
    margin-bottom: 48px;
  }
}

.createButton {
  height: 48px;
}

.shareContainer {
  padding-top: 10px;

  .list {
    width: calc(100% + 16px) !important;
  }
}
