// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins" as mixins;

.notificationsChannels {
  margin-bottom: 24px;
}

.header {
  border-bottom: var(--notification-text-border);

  p {
    margin-bottom: 12px;
  }
}

.channels {
  margin-top: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
}

.channelWrapper {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 16px;

  border-radius: 6px;

  svg {
    width: 32px;
    height: 32px;
  }

  .emailIcon {
    svg {
      path {
        fill: var(--channel-icon-email-color);
      }
    }
  }

  .channelContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .channelType {
    color: var(--channel-type-color);
  }

  .disabledText {
    color: var(--channel-type-color);
  }

  .isNotValid {
    color: var(--channel-error-color);
  }
}

.channelWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--channel-body-color);
  border-radius: 6px;
  z-index: -1;
}

.channelWrapper.isConnected::before {
  background-color: var(--channel-body-color-active);
  opacity: var(--channel-body-color-active-opacity);
}

.closeIcon {
  align-self: center;
  margin-inline-start: auto;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
  }
}

.helpButton {
  align-self: center;
  margin-inline-start: auto;
  cursor: pointer;
}

.paidBadge {
  align-self: center;
  margin-inline-start: auto;
  cursor: pointer;
}
