// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/mixins";

.body {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 8px 12px;
  background: var(--toast-error-bg);
  box-shadow: var(--toast-box-shadow);
  border-radius: 6px;
  border: var(--toast-error-border);
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  color: black;
  animation: SlideIn 0.3s ease-in-out;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  p {
    color: var(--toastr-text-color);
  }
  &.hide {
    opacity: 0;
  }

  svg {
    path {
      fill: var(--toastr-svg-error-color);
    }
  }
}

.warning {
  background: var(--toast-warning-bg);
  border: var(--toast-warning-border);
}

@keyframes SlideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dangerToastIcon {
  @include mixins.common-icons-style;
}
