.wrapper {
  height: 400px;
  position: relative;
  right: 530px;
}

.isAutoDocs {
  width: calc(100% + 40px);
  height: 500px;
  position: relative;
  margin-block: 0 -20px;
  right: inherit;
  margin-inline: -20px 0;
}
