// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/z-index" as z;

:global(.rtl) {
  :local {
    .container {
      & > span {
        left: 0;
        margin-left: var(--viewer-rtl-margin-left);
      }

      .details {
        right: 0;

        .title {
          padding-right: 16px;
        }
      }
    }
  }
}

:global(.ltr) {
  :local {
    .container {
      & > span {
        right: 0;
        margin-right: var(--viewer-rtl-margin-right);
      }

      .details {
        left: 0;

        .title {
          padding-left: 16px;
        }
      }
    }
  }
}

.container {
  color: var(--viewer-color);
  overflow: hidden;
  display: block;

  &[data-visible="false"] {
    display: none;
  }

  > span {
    position: fixed;
    bottom: 5px;
    z-index: z.$floating-ui;
  }

  .deleteBtnContainer,
  .downloadBtnContainer {
    display: block;
    width: 16px;
    height: 16px;
    margin: 4px 12px;
    line-height: 19px;

    svg {
      path {
        fill: var(--viewer-fill);
      }
    }
  }

  .details {
    z-index: z.$floating-ui;
    padding-top: 21px;
    height: 64px;
    width: 100%;
    background: linear-gradient(
      0deg,
      var(--media-viewer-tap-highlight) 0%,
      var(--viewer-details) 100%
    );
    position: fixed;
    top: 0;

    .title {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      font-size: 20px;
      font-weight: 600;
      text-overflow: ellipsis;
      width: calc(100% - 50px);

      box-sizing: border-box;
      color: var(--viewer-fill);
    }
  }

  .containerVideo {
    position: fixed;
    inset: 0;
  }
}
