// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../styles/variables";
@use "../../styles/variables/colors";
@use "../../styles/mixins";

.viewSelector {
  height: 32px;
  width: calc(var(--view-selector-items-count) * 32px);
  position: relative;
  box-sizing: border-box;
  display: flex;

  &.filter {
    width: 32px;
  }

  &:not(.filter) {
    &.countItemsMoreThan2 {
      .iconWrapper:hover {
        z-index: 2;
      }
      .iconWrapper:not(:first-child) {
        margin-inline-start: -1px;
      }
    }

    &:not(.countItemsMoreThan2) {
      .iconWrapper:first-child {
        border-inline-end: none;
      }
      .iconWrapper:last-child {
        border-inline-start: none;
      }
    }
  }
}

.iconWrapper {
  position: relative;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid;

  border-color: var(--view-selector-border-color);
  background-color: var(--view-selector-fill-color);

  &.checked {
    z-index: 1;

    border-color: var(--view-selector-checked-fill-color);
    background-color: var(--view-selector-checked-fill-color);

    svg {
      path {
        fill: var(--view-selector-fill-color);
      }
    }
  }

  &.disabled {
    border-color: var(--view-selector-disabled-fill-color);
    background-color: var(--view-selector-fill-disabled-color);

    svg {
      path {
        fill: var(--view-selector-disabled-fill-color-inner);
      }
    }
  }

  &.checked.disabled {
    background-color: var(--view-selector-disabled-fill-color);
  }

  &.checked,
  &.disabled {
    cursor: default;
  }

  &:hover {
    &:not(.checked or .disabled) {
      cursor: pointer;
      border: 1px solid var(--view-selector-hover-border-color);
    }

    svg {
      path {
        fill: var(--view-selector-icon-button-hover-color);
      }
    }
  }

  & > div {
    width: 16px;
    height: 16px;
  }

  svg {
    width: 16px;
    height: 16px;

    path {
      fill: var(--view-selector-checked-fill-color);
    }
  }

  &.filter {
    border-radius: 3px;
  }

  &.firstItem {
    border-start-start-radius: 3px;
    border-end-start-radius: 3px;
  }

  &.lastItem {
    border-start-end-radius: 3px;
    border-end-end-radius: 3px;
  }
}
