// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../styles/variables";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins";

.tileContainer {
  position: relative;
  height: 100%;

  user-select: text;

  & *:not(img) {
    user-select: text;
  }

  &.noSelect {
    user-select: none;

    & *:not(img) {
      user-select: none;
    }
  }

  @include mixins.tablet-and-below {
    margin-top: 16px;
    margin-inline-end: -3px;
  }
}

.tileItemWrapper {
  position: relative;
  width: 100%;

  &.file {
    padding: 0;
  }
  &.folder {
    padding: 0;
  }
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-gap: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 23px;

  &.rooms,
  &.templates {
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  }

  &.files {
    margin-bottom: 0;
  }

  @include mixins.desktop {
    margin-inline-start: 1px;
    padding-inline-end: 0;
  }

  @include mixins.tablet-and-below {
    margin-inline-start: -1px;
  }
}

.header {
  margin: 0;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;

  div {
    cursor: pointer !important;

    global {
      .sort-combo-box {
        margin-inline-end: 3px;
        .dropdown-container {
          top: 104%;
          bottom: auto;
          min-width: 200px;
          margin-top: 3px;

          .option-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            min-width: 200px;

            svg {
              width: 16px;
              height: 16px;
            }

            .option-item__icon {
              display: none;
              cursor: pointer;

              &.isDesc {
                transform: rotate(180deg);
              }

              path {
                fill: var(--tile-container-sort);
              }
            }

            :hover {
              .option-item__icon {
                display: flex;
              }
            }
          }

          .selected-option-item {
            background: var(--tile-container-hover-background);
            cursor: auto;

            .selected-option-item__icon {
              display: flex;
            }
          }
        }

        .optionalBlock {
          display: flex;
          flex-direction: row;
          align-items: center;

          font-size: 12px;
          font-weight: 600;

          color: var(--tile-container-sort-text);

          .sort-icon {
            margin-inline-end: 8px;
            svg {
              path {
                fill: var(--tile-container-sort-fill);
              }
            }
          }
        }

        .combo-buttons_arrow-icon {
          display: none;
        }
      }
    }
  }
}
