/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "@docspace/shared/styles/mixins";
@use "../../../styles/z-index" as z;

.tableGroupMenu {
  position: relative;

  background: var(--background-color);
  border-bottom: var(--table-group-menu-border-bottom);
  box-shadow: var(--table-group-menu-box-shadow);
  border-end-end-radius: 6px;
  border-end-start-radius: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100%;

  z-index: z.$sticky;

  margin: 0;

  .tableHeaderIcon {
    display: flex;

    align-items: center;
    align-self: center;
    justify-content: center;
    margin-block: 0;
    margin-inline: auto 20px;
    height: 100%;
    width: auto;

    padding-inline-start: 20px;
    padding-inline-end: 0;

    .tableHeaderIconButton {
      margin-inline-end: 8px;
    }
  }

  .labelElement,
  .checkbox {
    margin-inline-start: var(--table-group-menu-checkbox-margin, 28px);

    @include mixins.tablet-and-below {
      margin-inline-start: 24px;
    }
  }

  .labelElement {
    white-space: nowrap;
  }

  .separator {
    border-inline-end: var(--table-group-menu-border-right);
    width: 1px;
    height: 21px;
    margin-block: 0;
    margin-inline: 20px 16px;

    @include mixins.tablet-and-below {
      height: 36px;
    }

    @include mixins.mobile {
      height: 20px;
    }
  }

  .combobox {
    height: 24px;
    width: 16px;
    margin-block: 7px 0;
    margin-inline: 9px 2px;
    background: transparent;

    :global(.combo-button) {
      :global(.combo-buttons_arrow-icon) {
        margin-block: 1px 0;
        margin-inline: 0 16px;
      }
    }
  }

  :global(.scroll-body) {
    display: flex;
  }
}

.scrollBar {
  :global(.scroller) {
    display: flex;
  }

  :global(.nav-thumb-vertical) {
    display: none !important;
  }

  :global(.nav-thumb-horizontal) {
    @include mixins.tablet-and-below {
      display: none !important;
    }
  }
}

.infoPanelToggleWrapper {
  margin-top: 1px;

  @include mixins.tablet-and-below {
    display: none;
    margin-block: 0;
    margin-inline: auto 16px;
  }

  .infoPanelToggleBg {
    margin-bottom: 1px;
  }

  .infoPanelToggle svg {
    @include mixins.flip-in-rtl;
  }

  &.isInfoPanelVisible {
    .infoPanelToggleBg {
      height: 30px;
      width: 30px;
      background: var(--background-and-substrate-color);
      border: 1px solid var(--background-and-substrate-color);
      border-radius: 50%;

      .infoPanelToggle {
        margin: 25% auto auto;
      }
    }
  }
}
