.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}

.toggleSection {
  max-width: 550px;
  margin-bottom: 20px;
}

.balanceGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.renewalRow {
  display: flex;
  align-items: center;
}

.buttonRow {
  display: flex;
  align-items: center;
}

.filterRow {
  display: flex;
  gap: 8px;
}

.tableHeaderRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tableRow {
  width: 100%;
}
