// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/z-index" as z;

:global(.rtl) {
  :local {
    .container {
      direction: rtl;
    }
  }
}
:global(.ltr) {
  :local {
    .container {
      direction: ltr;
    }
  }
}

.container {
  padding-top: 21px;
  height: 64px;
  width: 100%;
  background: linear-gradient(
    0deg,
    var(--media-viewer-background-start) 0%,
    var(--media-viewer-background-end) 100%
  );

  position: fixed;
  top: 0;
  left: 0;
  z-index: z.$overlay;

  .title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    width: calc(100% - 50px);
    padding-inline-start: 16px;
    box-sizing: border-box;
    color: var(--media-viewer-title-color);
  }
}

.controlBtn {
  display: inline-block;
  height: 30px;
  line-height: 25px;
  margin: 5px;
  width: 40px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--media-viewer-control-btn-hover-bg);
  }

  position: fixed;
  top: 13px;
  inset-inline-end: 12px;
  height: 17px;
  &:hover {
    background-color: transparent;
  }
  svg {
    path {
      fill: var(--media-viewer-control-btn-svg);
    }
  }
}
