/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/variables";
@use "../../../styles/z-index" as z;

@mixin marginStyles {
  margin-inline: -24px;
  padding-inline: 24px;

  @include mixins.tablet-and-below {
    margin-inline: -16px;
    padding-inline: 16px;
  }
}

@mixin checkedStyle {
  background: var(--files-section-row-view-checked-background);
  @include marginStyles;
}

.filesRowWrapper {
  :global(.files-item) {
    border-inline: none;
    margin-inline-start: 0;
  }

  height: 59px;
  box-sizing: border-box;

  border-bottom: 1px var(--files-section-table-view-row-border-color) solid;
  border-top: 1px var(--files-section-table-view-row-border-color) solid;
  margin-top: -1px;

  &.checked:not(.isIndexEditingMode),
  &.isActive:not(.isIndexEditingMode) {
    @include checkedStyle;
  }

  &.isIndexUpdated {
    background: var(--files-section-row-view-checked-background) !important;

    &.isIndexEditingMode {
      background: var(--files-section-table-view-row-index-update) !important;
    }

    &:hover {
      background: var(--files-section-table-view-row-index-active) !important;
    }

    @include marginStyles;
  }

  &:not(.isDragging):not(.isIndexEditingMode) {
    @include mixins.can-hover {
      &:hover {
        cursor: pointer;

        @include checkedStyle;
      }
    }
  }

  &.isIndexEditingMode {
    @include mixins.can-hover {
      &:hover {
        cursor: pointer;
        background: var(--files-section-table-view-row-index-active);

        @include marginStyles;
      }
    }
  }

  &.showHotkeyBorder {
    border-color: variables.$light-second-main !important;
    z-index: z.$content;
    position: relative;

    margin-inline: -24px;
    padding-inline: 24px;
  }

  &.isHighlight {
    animation: Highlight 2s 1;

    @include marginStyles;

    @keyframes Highlight {
      0% {
        background: variables.$light-second-main;
      }

      100% {
        background: none;
      }
    }
  }

  &.isFirstElem {
    height: 57px;

    margin-top: 1px;
    border-top: 1px solid transparent;

    &:is(.checked, .isActive):not(.showHotkeyBorder) {
      border-top-color: var(
        --files-section-table-view-row-border-color
      ) !important;
    }

    :global(.styled-checkbox-container) {
      padding-bottom: 5px;
    }

    :global(.row_content) {
      padding-bottom: 5px;
    }
  }
}
