.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.toggleSection , .payerSection {
  max-width: 660px;
}

.payerSection {
  margin-bottom: 16px;
}

.balanceSection {
  width: 100%;
}

.balanceCard {
  width: 320px;
  border: 1px solid var(--aside-header-border-color);
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.lowBalance{
  color: var(--warning-color);
}


.lastTopUpRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.lastTopUpLabel {
  color: var(--text-disable-color);
}

.lastTopUpValue {
  color: var(--text-color);
}

.lastTopUpDate {
  color: var(--text-disable-color);
}

.pricingLink {
  padding: 2px 0;
}

.tabsWrapper {
  :global(.tabs-body) {
    display: block;
  }
}

