// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/z-index" as z;

:global(.rtl) {
  :local {
    .viewerWrapper {
      flex-direction: row-reverse;

      & #id_viewer {
        left: unset !important;
        right: 0 !important;
      }

      & #id_vertical_scroll {
        left: 0 !important;
      }
    }
  }
}

.toolbarWrapper {
  @media (hover: hover) {
    .pdf-viewer_page-count:hover + .pdf-viewer_toolbar {
      background: var(--media-viewer-toolbar-hover);
    }
    &:hover .pdf-viewer_page-count {
      background: var(--media-viewer-toolbar-hover);
    }
  }
}

.viewerWrapper {
  position: fixed;
  z-index: z.$floating-ui;
  inset: 0;
  display: flex;
  flex-direction: row;
  background: var(--media-viewer-background);

  #mainPanel {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #id_viewer {
    background: none !important;
  }

  .block_elem {
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

.errorWrapper {
  position: fixed;
  z-index: z.$floating-ui;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--media-viewer-background);
}

.errorMessage {
  padding: 20px 30px;
  background-color: var(--media-viewer-error-background);
  border-radius: 4px;
  color: var(--pdf-text-color);
}

.desktopTopBar {
  display: flex;
  inset-inline-start: 0;
  width: 100%;
  transition: all 0.3s ease;

  &.panelOpen {
    inset-inline-start: 306px;
    width: calc(100% - 306px);
  }

  .mediaPlayerClose {
    position: fixed;
    top: 13px;
    inset-inline-end: 12px;
    height: 17px;

    &:hover {
      background-color: transparent;
    }

    svg path {
      fill: var(--media-viewer-icon-color);
    }
  }

  .title {
    padding-inline-end: 16px;
  }
}

:global(.rtl) {
  :local {
    .toolbar {
      &.panelOpen {
        left: calc(50% - 153px);
      }

      .panelToggle {
        transform: scaleX(-1);
      }
    }
  }
}

:global(.ltr) {
  :local {
    .toolbar {
      &.panelOpen {
        left: calc(50% + 153px);
      }
    }
  }
}

.toolbar {
  transition: background 0.26s ease-out 0s;

  &:not(.panelOpen) {
    left: 50%;
  }
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--sidebar-bg);
  overflow: hidden;
  visibility: hidden;
  max-width: 0;

  &.isPanelOpen {
    max-width: 306px;
    visibility: visible;
    overflow: visible;
  }
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  svg {
    cursor: pointer;
    path {
      fill: var(--sidebar-icon-fill);
    }
  }
}

.thumbnails {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  visibility: hidden;
  opacity: 0;

  &.visible {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

:global(.rtl) {
  :local {
    .hideSidebarIcon {
      transform: rotate(180deg);
    }
  }
}

.hideSidebarIcon {
  margin-inline-start: auto;
}

.container {
  position: fixed;
  z-index: z.$floating-ui;
  width: 100%;
}

.wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--mobile-drawer-bg);
  touch-action: none;
  overflow: hidden;

  .block_elem {
    position: absolute;
    padding: 0;
    margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 30px;

  touch-action: none;

  svg path {
    fill: var(mobile-drawer-svg);
  }

  .mobile-drawer_cross-icon {
    margin-inline-start: auto;
  }
}
