// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.confirmBody {
  margin: 56px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.tablet {
    padding: 0 16px;
  }

  @include mixins.mobile {
    margin: 0 auto;
    min-height: 100%;
    max-width: 100%;
    width: calc(100% - 24px);
    padding-block: 32px 0;
    padding-inline: 16px 8px;
  }

  :global(.subtitle) {
    margin-bottom: 32px;
  }

  :global(.password-form) {
    width: 100%;
  }

  :global(.language-combo-box) {
    position: absolute;
    inset-inline-end: 28px;
    top: 28px;
  }

  :global(.pageLoader) {
    display: flex;
    justify-content: center;
  }

  :global(.logo-wrapper) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 386px;
    width: 100%;
    height: 44px;
    padding-bottom: 40px;

    svg {
      path:last-child {
        fill: var(--login-logo-color);
      }
    }

    @include mixins.mobile {
      display: none;
    }

    &.guest {
      padding-bottom: 20px;
    }
  }

  :global(.greeting-title) {
    display: flex;
    justify-content: center;

    max-width: 480px;
    margin-bottom: 32px;
    text-align: center;

    @include mixins.mobile {
      width: 100%;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
  }

  :global(.logo-wrapper) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    max-width: 386px;
    width: 100%;
    height: 44px;

    @include mixins.mobile {
      display: none;
    }
  }

  button {
    margin-top: 8px;
  }

  :global(.subtitle + button) {
    margin-top: 0;
  }

  :global(.subtitle + div) {
    button {
      margin-top: 0;
    }
  }

  :global(.password-field-wrapper) {
    min-width: 100%;
  }

  :global(.password-change-form) {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  :global(.phone-input) {
    margin-bottom: 24px;
  }

  :global(.delete-profile-confirm) {
    margin-bottom: 8px;
  }

  :global(.phone-title) {
    margin-bottom: 8px;
  }

  :global(.app-code-wrapper) {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  :global(.app-code-description) {
    box-sizing: border-box;
    margin: 0 0 32px 0;
  }

  :global(.app-code-input),
  :global(.app-code-continue-btn) {
    box-sizing: border-box;
  }

  :global(.app-code-text) {
    margin-bottom: 8px;
  }

  :global(.guest-avatar) {
    margin-bottom: 8px;
  }

  :global(.guest-info-wrapper) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    margin-bottom: 16px;
  }

  :global(.guest-email) {
    color: var(--login-or-text-color);
  }

  :global(.guest-info) {
    text-align: center;
    margin-top: 24px;
    line-height: 16px;
  }

  :global(.user-info-wrapper) {
    display: flex;
    gap: 8px;
    align-items: center;

    padding: 8px 0;

    margin-bottom: 8px;
  }

  :global(.user-email) {
    color: var(--login-text-color);
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;

  &.buttonsGuest {
    gap: 8px !important;
  }
}