@use "@docspace/ui-kit/styles/mixins";

.burgerButton {
  display: none;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--text-primary);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-inline-start: -8px;

  &:hover,
  &:focus-visible {
    background-color: var(--color-background-hover);
    outline: none;
  }

  .burgerIcon {
    display: block;
    width: 20px;
    height: 20px;

    path {
      fill: currentColor;
    }
  }

  @include mixins.mobile {
    display: inline-flex;
  }
}
