/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/mixins";
@use "../../../styles/variables";
@use "../../../styles/z-index" as z;

.comboButton {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: variables.$tap-highlight;
  height: 30px;
  padding-inline-start: 8px;
  padding-inline-end: 14px;
  color: var(--combobox-button-color);
  background: var(--combobox-button-bg);
  box-sizing: border-box;

  &.noSelect {
    @include mixins.no-user-select;
  }

  &.type {
    gap: 4px;
  }

  &.noBorder {
    height: 18px;
  }

  &.base {
    width: 173px;
  }

  &.middle {
    width: 300px;
  }

  &.big {
    width: 350px;
  }

  &.huge {
    width: 500px;
  }

  &.content {
    width: fit-content;
    padding-inline-start: 16px;
    padding-inline-end: 16px;

    &.displayArrow {
      padding-inline-end: 8px;
    }
  }

  &.scaled {
    width: 100%;
  }

  &.displayArrow {
    padding-inline-end: 8px;
  }

  &.noBorder {
    background: none;
  }

  &.isDisabled {
    color: var(--combobox-button-disabled-color);
  }

  &:not(.noBorder) {
    border: var(--combobox-button-border);
    border-radius: 3px;
    height: 32px;
  }

  &.isOpen {
    border-color: var(--combobox-button-open-border-color);
  }

  &.isDisabled {
    &:not(.noBorder) {
      border-color: var(--combobox-button-disabled-border-color);
      background: var(--combobox-button-disabled-bg);
    }
  }

  &.modernView {
    height: 28px;
    background: none;
    border: none !important;

    &:is(.isOpen, .isLoading) {
      background: var(--combobox-button-focus-bg-modern-view);
    }
  }

  &.descriptive {
    height: 100%;
    padding: 16px;

    .comboButtonSelectedIconContainer {
      align-self: flex-start;
    }
  }

  &.fillIcon {
    :global(.optionalBlock) svg path {
      fill: var(--combobox-button-icon-button-color);
    }

    &.isOpen :global(.optionalBlock) svg path {
      fill: var(--combobox-button-icon-button-hover-color);
    }
  }

  &:hover {
    border-color: var(--combobox-button-hover-border-color);
    cursor: pointer;

    &.isOpen {
      border-color: var(--combobox-button-hover-border-color-open);
    }

    &:is(
      .isDisabled,
      .isLoading,
      :not(.containOptions):not(.withAdvancedOptions)
    ) {
      cursor: default;
    }

    &.isDisabled {
      border-color: var(--combobox-button-hover-disabled-border-color);
    }

    &.modernView:not(.isDisabled) {
      background: var(--combobox-button-hover-bg-modern-view) !important;

      &:is(.isOpen, .isLoading) {
        background: var(--combobox-button-focus-bg-modern-view) !important;
      }
    }

    &.fillIcon {
      :global(.optionalBlock) svg path {
        fill: var(--combobox-button-icon-button-hover-color);
      }
    }
  }

  .comboButtonLabel {
    visibility: visible;
    margin-inline-end: 13px;
    color: var(--combobox-label-selected-color);
    max-width: 175px;
  }

  &.isLoading .comboButtonLabel {
    visibility: hidden;
  }

  &:is(.noBorder, .modernView) .comboButtonLabel {
    margin-inline-end: 4px;
  }

  &.plusBadgeValue .comboButtonLabel {
    margin-inline-end: 0;
  }

  &.isDisabled .comboButtonLabel {
    color: var(--combobox-label-disabled-color);
  }

  &.scaled .comboButtonLabel {
    max-width: 100%;
  }

  &.noBorder .comboButtonLabel {
    line-height: 16px;
  }

  :focus {
    outline: none;
    border-color: var(--combobox-button-hover-border-color);

    &.isOpen {
      border-color: var(--combobox-button-focus-open-border-color);
    }

    &.fillIcon {
      :global(.optionalBlock) svg path {
        fill: var(--combobox-button-icon-button-color);
      }

      &.isOpen :global(.optionalBlock) svg path {
        fill: var(--combobox-button-icon-button-hover-color);
      }
    }
  }

  // GroupsCombobox
  &.plusBadgeValue {
    .comboButtonLabel {
      color: var(--combobox-label-alternative-color);
    }

    .comboButtonsExpanderIcon path {
      fill: var(--combobox-plus-badge-bg-color) !important;
    }

    &.isOpen {
      .comboButtonLabel {
        color: var(--combobox-label-selected-color);
      }

      .comboButtonsExpanderIcon path {
        fill: var(--combobox-plus-badge-selected-bg-color) !important;
      }
    }

    &:hover {
      .comboButtonLabel {
        color: var(--combobox-label-selected-color);
      }

      .comboButtonsExpanderIcon path {
        fill: var(--combobox-plus-badge-selected-bg-color) !important;
      }
    }
  }
}

.optionalItem {
  margin-inline-end: 8px;

  visibility: visible;

  &.isLoading {
    visibility: hidden;
  }

  &.fillIcon {
    path {
      fill: var(--combobox-children-button-color);
    }

    &.isDisabled path {
      fill: var(--combobox-children-button-disabled-color);
    }

    &.defaultOption path {
      fill: var(--combobox-children-button-default-color);
    }

    &.isDisabled.defaultOption path {
      fill: var(--combobox-children-button-default-disabled-color);
    }
  }
}

.icon {
  margin-inline-end: 8px;
  width: 16px;
  height: 16px;

  visibility: visible;

  position: relative;

  .imageIcon {
    position: absolute;
    inset: 0;
    z-index: z.$content;

    width: 16px;
    height: 16px;

    pointer-events: none;
  }

  .selectedIcon {
    position: absolute;
    inset: 0;
    z-index: z.$content;

    width: 16px;
    height: 16px;
  }

  @include mixins.flip-in-rtl;

  &.isLoading {
    visibility: hidden;
  }

  .comboButtonSelectedIcon path {
    fill: var(--combobox-children-button-color);
  }

  &.isSelected .comboButtonSelectedIcon path {
    fill: var(--combobox-children-button-selected-color);
  }

  &.isDisabled .comboButtonSelectedIcon path {
    fill: var(--combobox-children-button-disabled-color);
  }

  &.defaultOption .comboButtonSelectedIcon path {
    fill: var(--combobox-children-button-default-color);
  }

  &.defaultOption.isDisabled .comboButtonSelectedIcon path {
    fill: var(--combobox-children-button-default-disabled-color);
  }

  &.onlyIcon {
    margin-inline-end: 0;
  }

  svg {
    &:not(:root) {
      width: 100%;
      height: 100%;
    }
  }
}

.plusBadge {
  height: 12px;
  padding: 0 3px;
  gap: 10px;
  border-radius: 12px;

  line-height: 12px;
  font-size: 9px;
  font-weight: 800;

  background-color: var(--combobox-plus-badge-bg-color);
  color: var(--combobox-plus-badge-color);

  &.isOpen {
    background-color: var(--combobox-plus-badge-selected-bg-color);
  }

  .comboButton:hover & {
    background-color: var(--combobox-plus-badge-selected-bg-color);
  }
}

.arrowIcon {
  display: flex;
  align-self: center;
  visibility: visible;
  width: 0;
  flex: 0;
  margin-inline: 0;

  &.displayArrow {
    width: 6px;
    flex: 0 0 6px;
    margin-inline: auto 5px;
  }

  &.isLoading {
    visibility: hidden;
  }

  .comboButtonsExpanderIcon path {
    fill: var(--combobox-label-selected-color);
  }

  &.isDisabled {
    .comboButtonsExpanderIcon path {
      fill: var(--combobox-label-disabled-color);
    }
  }

  &.isOpen {
    transform: scale(1, -1);
  }
}

.triangleDownIcon {
  @include mixins.common-icons-style;
}

.loader {
  position: absolute;
  margin-top: 2px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.descriptiveContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
