@use "@docspace/ui-kit/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  flex-shrink: 0;

  &[data-show-text="false"] {
    justify-content: center;
    padding-inline: 0;
  }

  @include mixins.mobile {
    display: none;
  }
}
