@use "variables/devices";
@forward "common-icons-style";

@mixin no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin mobile {
  @media (max-width: #{devices.$mobile}) {
    @content;
  }
}

@mixin not-mobile {
  @media (min-width: #{devices.$mobile + 0.1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{devices.$mobile + 0.1}) and (max-width: #{devices.$desktop - 0.1}) {
    @content;
  }
}

@mixin tablet-and-below {
  @media (max-width: #{devices.$desktop - 0.1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{devices.$desktop}) {
    @content;
  }
}

@mixin transitional-screen-size {
  @media (max-width: #{devices.$desktop + devices.$info-panel-width}) {
    @content;
  }
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin flip-in-rtl {
  [data-dir="rtl"] & {
    transform: scaleX(-1);
  }
}

@mixin can-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
