@use "sass:map";

$icon-sizes: (
  extraSmall: 8px,
  small: 12px,
  medium: 16px,
  big: 24px,
  scale: 100%,
);

@mixin icon-size($size) {
  @if map.has-key($icon-sizes, $size) {
    @if $size == scale {
      &:not(:root) {
        width: map.get($icon-sizes, scale);
        height: map.get($icon-sizes, scale);
      }
    } @else {
      width: map.get($icon-sizes, $size);
      min-width: map.get($icon-sizes, $size);
      height: map.get($icon-sizes, $size);
      min-height: map.get($icon-sizes, $size);
    }
  } @else {
    width: #{$size}px;
    height: #{$size}px;
  }
}

@mixin common-icons-style {
  overflow: hidden;
  vertical-align: middle;

  &[data-size="extraSmall"] {
    @include icon-size(extraSmall);
  }
  &[data-size="small"] {
    @include icon-size(small);
  }
  &[data-size="medium"] {
    @include icon-size(medium);
  }
  &[data-size="big"] {
    @include icon-size(big);
  }
  &[data-size="scale"] {
    @include icon-size(scale);
  }
}
