// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.automaticPaymentsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  border-top: 1px solid var(--aside-header-border-color);
  padding-top: 20px;

  &.noMargin {
    margin-top: 0;
  }

  .autoPaymentHeader {
    display: flex;
    align-items: center;

    .toggleButton {
      position: static;
      margin-inline: auto 0px;
    }
  }

  .autoPaymentDescription {
    text-align: left;
    color: var(--payment-dialog-text);
  }

  .inputFields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .inputField {
    flex: 1;
  }

  .inputLabel {
    margin-bottom: 4px;
  }

  .inputDescription {
    margin-top: 4px;
    color: var(--payment-dialog-text);
  }

  .infoBlock {
    background: var(--payment-background-color);
    border-radius: 6px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;

    .infoBlockTitle {
      display: flex;
      align-items: center;
      gap: 8px;

      .checkIcon {
        width: 16px;
        height: 16px;
        color: var(--payment-credit-color);
      }
    }

    .infoDescription {
      color: var(--payment-text-color);
      text-align: left;
    }
  }

  .inputButtons {
    display: flex;
    gap: 8px;
  }

  .settingsContainer {
    transition:
      opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(10px);

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .settingsWrapper {
    opacity: 0;
    transform: translateY(10px);

    &.animated {
      animation: fadeInSettings 0.5s ease-in-out forwards;
    }

    &.showBlock {
      opacity: 1;
    }
  }
}

@keyframes fadeInSettings {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.autoPaymentInformation {
  margin-bottom: 24px;
  color: var(--payment-text-color);
}

.autoPaymentEditing {
  display: flex;
}
