// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.modalBody {
  margin: 20px auto 0 auto;
  padding: 0 0 24px;
  user-select: none;
}

.buttonContainerWrapper {
  display: flex;
  gap: inherit;
  flex-direction: column;
  width: 100%;
}

.buttonContainer {
  gap: inherit;
  display: flex;
  width: 100%;
}

.walletInfoContainer {
  display: flex;
  background: var(--payment-background-color);
  min-height: 72px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  position: relative;
}
.walletInfoIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--payment-icon-background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 16px;

  svg {
    width: 16px;
    height: 16px;
    path {
      fill: var(--payment-icon-color);
    }
  }
}

.walletInfoBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.walletInfoTitle {
  line-height: 16px;
}

.walletInfoBalance {
  font-size: 14px;
  line-height: 16px;
  &.warningColor {
    color: var(--warning-color);
  }
}

.walletInfoTopUp {
  margin-left: auto;
  color: var(--payment-link-color);
  cursor: pointer;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
