.foldersGrid,
.filesGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(216px, 13.4vw, 360px), 1fr)
  );
  grid-gap: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-inline-start: 1px;
}

.tile {
  [class*="iconContainer"] {
    pointer-events: none;

    &:hover {
      background: transparent !important;

      [class*="icon"] {
        display: flex !important;
      }
    }
  }

  [class*="checkbox"] {
    display: none !important;
  }
}
