services:
  tests-ci:
    image: login-tests
    build:
      context: ../..
      dockerfile: packages/login/Dockerfile
  tests-local:
    image: login-tests
    ports:
      - "5111:5111"
    volumes:
      - ./__tests__:/app/packages/login/__tests__
      - ./playwright.config.ts:/app/packages/login/playwright.config.ts
      - ../../playwright-report/login:/app/playwright-report/login
