// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";
@use "@docspace/shared/styles/variables";

.profileContainer {
  container-type: inline-size;
  container-name: profile;
  width: 100%;
  max-width: 660px;
}

.profileWrapper {
  display: flex;
  padding: 24px 24px 18px;
  gap: 40px;
  background: var(--profile-main-bg-color);
  border-radius: 12px;

  box-sizing: border-box;

  .avatar {
    min-width: 124px;
  }

  @include mixins.tabletContainer(profile) {
    max-width: 100%;
  }

  @include mixins.mobileContainer(profile) {
    background: none;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 0;
  }
}

.avatarWrapper {
  display: flex;

  @include mixins.mobileContainer(profile) {
    width: 100%;
    justify-content: center;
  }

  .badgesWrapper {
    display: none;

    @include mixins.mobileContainer(profile) {
      display: flex;
      position: absolute;
      inset-inline-end: 16px;
    }
  }
}

.label {
  display: block;
  align-items: center;
  gap: 4px;

  min-width: 100%;
  width: 100%;
  line-height: 20px;
  white-space: nowrap;
  color: var(--profile-description-text-color);

  overflow: hidden;
  text-overflow: ellipsis;
}

.ssoBadge,
.ldapBadge {
  margin-inline-start: 4px;
}

.infoWrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 5px;

  :global {
    .combo-button {
      padding-inline: 8px 0;
    }

    .backdrop-active {
      z-index: 203 !important;
    }
  }

  @include mixins.tabletContainer(profile) {
    gap: 7px;
  }

  .rowsContainer {
    display: grid;
    grid-template-columns: minmax(75px, auto) minmax(0, 1fr);
    gap: 24px;
    row-gap: 16px;
    max-width: 100%;
  }

  .profileBlockField {
    display: flex;
    gap: 8px;
    height: 20px;
    align-items: center;
    line-height: 20px;
  }

  .userTypeContainer {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  .languageComboBoxWrapper {
    display: flex;
    height: 28px;
    align-items: center;
    gap: 8px;
    margin-inline-start: -8px;
  }

  .mobileProfileBlock {
    display: none;
  }

  .editButton {
    min-width: 12px;

    svg path {
      fill: var(--profile-icon-fill);
    }
  }

  .emailEditContainer {
    display: flex;
    align-items: center;
    padding-inline-end: 16px;
    line-height: 20px;

    .emailTextContainer {
      &.pending {
        color: var(--profile-pending-email-text-color);
      }
    }

    .emailEditButton {
      display: block;
      padding-inline-start: 8px;
    }
  }

  .sendAgainContainer {
    display: flex;
    flex-grow: 1;
    max-width: 50%;
    cursor: pointer;
    align-items: center;
    height: 18px;

    .sendAgainText {
      margin-inline-start: 5px;
      line-height: 15px;
      color: var(--accent-main);
      border-bottom: 1px solid var(--accent-main);
      margin-top: 2px;
    }

    .sendAgainIcon {
      display: block;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        width: 12px;
        height: 12px;
      }

      svg {
        width: 12px;
        height: 12px;

        path {
          fill: var(--accent-main);
        }
      }
    }
  }

  .profileLanguage {
    display: flex;
  }

  @include mixins.mobileContainer(profile) {
    .rowsContainer {
      display: none;
    }

    .mobileProfileBlock {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 100%;

      .mobileProfileRow {
        gap: 8px;
        background: var(--profile-mobile-row-background);
        padding: 12px 16px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        line-height: 20px;
        max-width: 100%;

        .mobileProfileField {
          display: flex;
          align-items: baseline;
          max-width: calc(100% - 28px);
          flex-direction: column;
          gap: 2px;

          [data-dir="rtl"] & {
            align-items: flex-start;
          }
        }

        .mobileProfileLabel {
          min-width: 100%;
          max-width: 100%;
          font-size: 12px !important;
          line-height: 16px !important;
          white-space: nowrap;
          color: var(--profile-mobile-label);
        }

        .mobileProfileLabelField {
          padding-inline-start: 0;
          max-width: 100%;
          font-size: 12px !important;
          line-height: 16px;
        }

        .emailContainer {
          padding-inline-start: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
        }

        .editButton {
          margin-inline-start: auto;
          min-width: 12px;

          svg path {
            fill: var(--profile-icon-fill);
          }
        }

        .mobileProfilePassword {
          max-width: 100%;
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }

      .mobileLanguage {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 4px;
        margin-top: 8px;

        &__wrapper-combo-box {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .mobileProfileLabel {
          display: flex;
          align-items: center;
          gap: 4px;
          min-width: 75px;
          max-width: 75px;
          white-space: nowrap;
        }
      }

      @include mixins.mobileContainer(profile) {
        gap: 8px;
      }
    }
  }
}
