.message {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  gap: 16px;

  margin-bottom: 32px;
}

.messageContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  gap: 8px;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  height: 32px;

  gap: 4px;
}
