.message {
  width: 100%;

  height: auto;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  gap: 24px;

  margin-bottom: 32px;

  padding: 8px 12px;

  box-sizing: border-box;

  border-radius: 6px;

  position: relative;

  user-select: text;
}

.messageContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  width: 100%;
  gap: 12px;
}

.messageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 32px;

  gap: 8px;

  padding-inline-end: 4px;

  box-sizing: border-box;

  .messageHeaderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    gap: 8px;

    .source {
      color: #a3a9ae;
    }
  }
}
