@import "../../../../styles/variables/devices.scss";
@import "../../../../styles/mixins";

.chatBody {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  max-height: calc(100% - 69px);
  width: 100%;

  overflow: hidden;

  box-sizing: border-box;

  padding-bottom: 20px;

  @include tablet-and-below {
    max-height: calc(100% - 61px);
    padding-bottom: 16px;
  }

  @include mobile {
    max-height: calc(100% - 53px);
  }
}
