@use "../../styles/variables/colors";
@use "../../styles/common-icons-style";
@use "../../styles/mixins";

.emptyIcon {
  @include common-icons-style.common-icons-style;
  border-radius: var(--avatar-image-border-radius);
}

.editContainer {
  position: absolute;
  display: flex;
  inset-inline-end: 0px;
  bottom: 0px;
  background-color: var(--color-scheme-main-accent);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--avatar-edit-container-fill-hover);
  }

  &:active {
    background-color: var(--avatar-edit-container-fill-press);
  }

  :global(.edit_icon) {
    svg {
      path {
        fill: var(--avatar-edit-container-fill);
      }
      &:hover {
        path {
          fill: var(--avatar-edit-container-fill) !important;
        }
      }
    }
  }
}

.avatarWrapper {
  border-radius: 50%;
  height: 100%;

  background-color: var(--avatar-image-container-background);

  display: flex;
  align-items: center;
  justify-content: center;

  &[data-has-username="true"]:not([data-is-group="true"]):not(
      [data-has-source="true"]
    ) {
    background-color: var(--avatar-image-container-background-image);
  }

  &[data-is-group="true"][data-has-username="true"] {
    background-color: var(--avatar-image-container-group-background);
  }

  &[data-has-source="true"] {
    background-color: var(--avatar-icon-background);
  }

  & > svg {
    display: block;
    width: 50% !important;
    height: 100% !important;
    margin: auto;

    path {
      fill: var(--avatar-image-container-svg-fill);
    }
  }
}

.iconWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  :global {
    .icon,
    .icon:hover {
      width: 50%;
      height: 50%;

      path {
        fill: var(--avatar-icon-color);
      }
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  @include mixins.no-user-select;

  &[data-is-default="true"] {
    content: var(--avatar-default-image);
  }
}

.roleWrapper {
  position: absolute;
  display: flex;
  align-items: center;

  &[data-size="min"] {
    inset-inline-end: -2px;
    bottom: -2px;
    height: 12px;
    width: 12px;
    min-width: 12px;
  }

  &[data-size="small"] {
    inset-inline-end: -2px;
    bottom: 3px;
    height: 12px;
    width: 12px;
    min-width: 12px;
  }

  &[data-size="base"] {
    inset-inline-end: -2px;
    bottom: 4px;
    height: 12px;
    width: 12px;
    min-width: 12px;
  }

  &[data-size="medium"] {
    inset-inline-end: -4px;
    bottom: 6px;
    height: 16px;
    width: 16px;
    min-width: 16px;
  }

  &[data-size="big"] {
    inset-inline-end: 0;
    bottom: 0;
    height: 22px;
    width: 22px;
    min-width: 22px;
  }

  &[data-size="max"] {
    inset-inline-end: 10px;
    bottom: 0;
    height: 22px;
    width: 22px;
    min-width: 22px;
  }
}

.namedAvatar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  @include mixins.no-user-select;

  &.isGroup {
    color: var(--avatar-initials-group-color);
    font-weight: 700;
  }

  &:not(.isGroup) {
    color: var(--avatar-initials-color);
  }

  &[data-size="min"] {
    font-size: 12px;
  }

  &[data-size="small"] {
    font-size: 12px;
  }

  &[data-size="base"] {
    font-size: 16px;
  }

  &[data-size="medium"] {
    font-size: 20px;
  }

  &[data-size="big"] {
    font-size: 34px;

    &.isGroup {
      font-size: 23px;
    }
  }

  &[data-size="max"] {
    font-size: 72px;
  }
}

.avatar {
  position: relative;

  -webkit-tap-highlight-color: #{colors.$tap-highlight};

  &[data-no-click="false"] {
    &:hover {
      cursor: pointer;
    }
  }

  &[data-size="min"] {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }

  &[data-size="small"] {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }

  &[data-size="base"] {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }

  &[data-size="medium"] {
    width: 48px;
    min-width: 48px;
    height: 48px;
  }

  &[data-size="big"] {
    width: 80px;
    min-width: 80px;
    height: 80px;
  }

  &[data-size="max"] {
    width: 124px;
    min-width: 124px;
    height: 124px;
  }

  :global {
    .admin_icon {
      rect:nth-child(1) {
        fill: var(--avatar-administrator-fill);
      }
      rect:nth-child(2) {
        stroke: var(--avatar-administrator-stroke);
      }
      path {
        fill: var(--avatar-administrator-color);
      }
    }

    .guest_icon {
      rect:nth-child(1) {
        fill: var(--avatar-guest-fill);
      }
      rect:nth-child(2) {
        stroke: var(--avatar-guest-stroke);
      }
      path {
        fill: var(--avatar-guest-color);
      }
    }

    .owner_icon {
      rect:nth-child(1) {
        fill: var(--avatar-owner-fill);
      }
      rect:nth-child(2) {
        stroke: var(--avatar-owner-stroke);
      }
      path {
        fill: var(--avatar-owner-color);
      }
    }
  }
}

.adminIcon,
.ownerIcon {
  @include common-icons-style.common-icons-style;
}
