// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../styles/variables/colors";
@use "../../styles/mixins";

:global(.rtl) {
  :local {
    .row {
      :global {
        .row-list-item,
        .row-loade {
          left: unset !important;
          right: 0 !important;
        }
      }
    }
    .table {
      :global {
        .table-list-item,
        .table-container_body-loader {
          left: unset !important;
          right: 0 !important;
        }
      }
    }
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  gap: 14px 16px;
  width: 100%;

  @include mixins.desktop {
    margin-inline-start: 1px;
    padding-inline-end: 0;
  }

  @include mixins.tablet-and-below {
    margin-inline-start: -1px;
    gap: 14px;
  }
}

.row {
  margin-inline-start: -20px;
  width: calc(var(--infinite-loader-table-width) + 40px) !important;

  :global {
    .ReactVirtualized__Grid__innerScrollContainer {
      :local {
        max-width: calc(var(--infinite-loader-table-width) + 40px) !important;
      }
    }
  }

  @include mixins.tablet-and-below {
    width: calc(var(--infinite-loader-table-width) + 36px) !important;

    :global {
      .ReactVirtualized__Grid__innerScrollContainer {
        :local {
          max-width: calc(var(--infinite-loader-table-width) + 36px) !important;
        }
      }
    }
  }

  @include mixins.mobile {
    margin-inline-start: -16px;

    width: calc(var(--infinite-loader-table-width) + 32px) !important;

    :global {
      .ReactVirtualized__Grid__innerScrollContainer {
        :local {
          max-width: calc(var(--infinite-loader-table-width) + 32px) !important;
        }
      }
    }
  }

  :global {
    .row-list-item,
    .row-loader {
      padding-inline-start: 20px;
      width: calc(100% - 40px) !important;

      @include mixins.tablet-and-below {
        padding-inline-start: 20px;
        width: calc(100% - 36px) !important;
      }

      @include mixins.mobile {
        padding-inline-start: 16px;
        width: calc(100% - 32px) !important;
      }
    }
  }
}

.table {
  margin-inline-start: -20px;
  width: calc(var(--infinite-loader-table-width) + 40px) !important;

  :global {
    .ReactVirtualized__Grid__innerScrollContainer {
      :local {
        max-width: calc(var(--infinite-loader-table-width) + 40px) !important;
      }
    }

    .table-container_body-loader {
      width: calc(100% - 48px) !important;
    }

    .table-list-item,
    .table-container_body-loader {
      padding-inline-start: 20px;
    }
  }
}

.tile {
  :global(.files_header) {
    padding-top: 11px;
  }
}

.list {
  outline: none;
  overflow: hidden !important;
  // Override inline direction from react-virtualized
  direction: inherit !important;
}
