// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 16px;

  @include mixins.mobile {
    width: calc(100% - 32px);
  }
}

.domainSettings {
  min-width: 350px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .fieldContainer {
    margin-bottom: 4px !important;
  }

  @include mixins.mobile {
    max-width: 100%;
  }
}

.rowContainer {
  @include mixins.desktop {
    max-width: 620px;

    :global(.row_content) {
      max-width: 508px;
    }
  }

  max-width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--management-row-border-color);
  border-bottom: none;
  border-radius: 6px;
}

.spaceRow {
  padding: 4px 0;

  :global(.styled-element) {
    width: 32px;
    margin-left: 20px;

    :global(.rtl) {
      margin-right: 20px;
    }
  }

  :global(.row_context-menu-wrapper) {
    margin-right: 18px;

    :global(.rtl) {
      margin-left: 18px;
    }
  }

  :global(.logo-icon > div) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.rowContent {
  padding-bottom: 10px;

  :global(.row-main-container-wrapper) {
    display: flex;
    justify-content: flex-start;
  }

  .userContainerWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .arrowIcon > div,
    .arrowIcon > div > svg {
      width: 12px;
      height: 12px;
      path {
        fill: var(--management-text-color);
      }
    }

    .domainText {
      color: var(--management-text-color);
    }
  }

  :global(.mainIcons) {
    height: 20px;
  }

  :global(.mainIcons:empty) {
    height: 0px;
  }

  .spacesRowCurrent,
  .completeSetup {
    color: var(--management-text-color);
  }

  :global(.row-content_tablet-side-info) {
    font-size: 12px;
  }

  @include mixins.mobile {
    display: flex;
    align-items: center;

    :global(.row-main-container-wrapper) {
      flex-direction: column;
    }

    :global(.mainIcons) {
      align-self: flex-start;
    }

    :global(.row-content_tablet-side-info) {
      display: none;
    }
  }

}