// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../../../styles/variables/colors";
@use "../../../../styles/mixins";

:global(.dark) {
  :local {
    .roleHistories {
      --role-histories-border-color: #{colors.$gray-dark};
    }

    .roleTitle {
      --role-step-filled-color: #{colors.$gray-dark-text};
    }

    .avatarContainer {
      --avatar-border-color: #{colors.$gray-dark};
    }

    .arrow {
      --icon-arrow-color: #{colors.$gray-dark};
      --icon-arrow-hover-color: #{colors.$white};
    }

    .roleTitle {
      --role-step-role-name-color: #{colors.$white};
    }

    .userName {
      --role-step-user-name-color: #{colors.$dark-gray-dark};
    }
  }
}

:global(.light) {
  :local {
    .roleHistories {
      --role-histories-border-color: #{colors.$gray};
    }

    .avatarContainer {
      --avatar-border-color: #{colors.$gray};
    }

    .roleTitle {
      --role-step-filled-color: #{colors.$gray-text};
    }

    .arrow {
      --icon-arrow-color: #{colors.$gray};
      --icon-arrow-hover-color: #{colors.$light-gray-dark};
    }
    .roleTitle {
      --role-step-role-name-color: #{colors.$black};
    }
    .userName {
      --role-step-user-name-color: #{colors.$light-gray-dark};
    }
  }
}

.role {
  height: 38px;

  display: grid;
  grid-template-columns: 38px 1fr;
  align-items: center;
  grid-template-areas:
    "avatar roleTitle arrow"
    "avatar userName arrow";

  gap: 2px 8px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: avatar;
  justify-self: center;

  height: 38px;
  width: 38px;

  border-radius: 50%;
  border: 2px dotted var(--avatar-border-color);
  box-sizing: border-box;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
.arrow {
  grid-area: arrow;
  justify-self: center;
  align-self: center;
  rotate: -90deg;

  transition: rotate 0.3s ease;
  cursor: pointer;

  path {
    fill: var(--icon-arrow-color);
  }

  @media (hover: hover) {
    &:hover {
      path {
        fill: var(--icon-arrow-hover-color);
      }
    }
  }
}

.rotated {
  rotate: 90deg;
}

.roleTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  grid-area: roleTitle;
  margin: 0px;
  color: var(--role-step-role-name-color);

  @include mixins.truncate;
}

.userName {
  grid-area: userName;
  margin: 0px;
  color: var(--role-step-user-name-color);

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.roleContainer[data-process-status="0"],
.roleContainer[data-process-status="1"] {
  .avatarContainer {
    border: 2px dotted var(--avatar-border-color);
  }

  .roleHistories {
    border-inline-start: 2px dotted var(--role-histories-border-color);
  }
}

.roleContainer[data-process-status="2"] {
  .roleTitle {
    color: colors.$light-blue-main;
  }
  .avatarContainer {
    border: 2px dotted colors.$light-blue-main;
  }

  .roleHistories {
    border-inline-start: 2px dotted var(--role-histories-border-color);
  }
}

.roleContainer[data-process-status="3"] {
  .roleTitle {
    color: colors.$light-blue-main;
  }

  .avatarContainer {
    border: 2px solid colors.$light-blue-main;
  }
  .roleHistories {
    border-inline-start: 2px dotted var(--role-histories-border-color);
  }
}

.roleContainer[data-process-status="4"] {
  .roleTitle {
    color: var(--role-step-filled-color);
  }

  .avatarContainer {
    border: 2px solid var(--avatar-border-color);
  }
  .roleHistories {
    border-inline-start: 2px solid var(--role-histories-border-color);
  }
}

.roleContainer[data-process-status="5"] ~ .roleContainer,
.roleContainer[data-process-status="5"] {
  .roleTitle {
    color: colors.$main-red;
  }

  .avatarContainer {
    border: 2px solid colors.$main-red;
  }
  .roleHistories {
    border-inline-start: 2px solid colors.$main-red;
  }
}
