@use "../../styles/variables";
@use "../../styles/mixins";

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: fit-content;
  padding: var(--badge-padding);
  overflow: var(--badge-overflow);
  flex-shrink: 0;

  &[data-hidden="true"] {
    display: none;
  }

  &:hover:not([data-no-hover="true"]):not(:global(.ai-agents)) {
    cursor: pointer;
    border-color: transparent;
  }

  &[data-is-hovered="true"]:not([data-no-hover="true"]) {
    cursor: pointer;
    border-color: transparent;
  }

  &[data-type="high"] {
    border: none;
    border-radius: 6px;
  }

  @include mixins.tablet-and-below {
    &[data-version-badge="true"] {
      width: auto;
    }
  }
}

.inner {
  background-color: var(--badge-background-color);
  text-align: center;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;


  &[data-compact="true"] {
    line-height: var(--badge-line-height);
  }

  &[data-type="high"] {
    cursor: default;
    padding: 3px 10px !important;
    border-radius: 6px !important;

    .text {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

:global(.ai-agents) .inner {
  background-color: var(--room-icon-button-color) !important;
}

.text {
  white-space: nowrap;
  color: var(--badge-color);

  &[data-color="false"] {
    color: var(--badge-color) !important;
  }
}

.themed {
  &[data-paid="true"] {
    .text {
      color: var(--badge-color) !important;
    }
  }

  .inner {
    background-color: var(--badge-background-color);

    &:hover:not([data-no-hover="true"]):not(:global(.ai-agents)) {
      background-color: color-mix(in srgb, var(--badge-background-color) 85%, transparent);
    }

    &:active:not([data-no-hover="true"]):not(:global(.ai-agents)) {
      background-color: color-mix(in srgb, var(--badge-background-color) 90%, black);
    }
  }

  &:hover:not([data-no-hover="true"]):not(:global(.ai-agents)) {
    border-color: transparent;
  }

  &[data-muted="true"] {
    .inner {
      background-color: var(--badge-disable-background-color);

      &:hover:not([data-no-hover="true"]) {
        background-color: color-mix(in srgb, var(--badge-disable-background-color) 85%, transparent);
      }

      &:active:not([data-no-hover="true"]) {
        background-color: color-mix(in srgb, var(--badge-disable-background-color) 90%, black);
      }

      &:hover:not([data-no-hover="true"]) {
        border-color: transparent;
      }
    }
  }
}
