// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/mixins";
@use "../../../../styles/variables";

.chatMessageBody {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 700px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  &.empty {
    max-height: fit-content;
  }
}

.chatMessageContainer {
  display: flex;
  flex-direction: column-reverse;

  gap: 24px;

  max-width: 700px;

  padding: 20px 0;

  margin: auto;
}

.chatEmptyHelpMessage {
  margin-top: 32px;
  margin-bottom: 24px;
}

.chatMessageTextColor {
  color: var(--text-color);

  font-size: 12px;
  line-height: 16px;
}

.userMessage {
  width: 100%;
  max-width: 100%;

  height: auto;

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;

  gap: 8px;

  box-sizing: border-box;

  border-radius: 6px;

  position: relative;

  user-select: text;

  .chatMessageContent {
    width: 100%;
    max-width: calc(100% - 40px);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .filesListWrapper {
      width: fit-content;
      display: flex;
      gap: 6px;

      margin-bottom: 8px;

      .filesListItem {
        width: fit-content;
        min-width: fit-content;
        height: 32px;

        padding-inline-end: 8px;

        display: flex;
        align-items: center;

        border: 1px solid var(--chat-message-file-border-color);

        border-radius: 6px;

        .filesListItemIcon {
          width: 32px;
          height: 32px;

          div {
            width: 32px;
            height: 32px;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .filesListItemInfo {
        display: flex;
        align-items: center;

        gap: 8px;

        max-width: 300px;

        .filesListItemInfoText {
          display: flex;
          flex-direction: row;

          span {
            color: var(--chat-file-item-exst-color);
          }
        }
      }
    }

    .chatMessageUser {
      background-color: #4781d11a;

      padding: 0px 12px;

      border-radius: 16px;

      width: fit-content;
    }
  }
}

.codeContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  background-color: var(--chat-message-code-block-background-color);
  border: var(--chat-message-code-block-border);

  border-radius: 3px;

  box-sizing: border-box;

  margin: 8px 0;

  .codeHeader {
    width: 100%;

    height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px;

    box-sizing: border-box;

    border-bottom: 1px solid var(--chat-message-code-block-separator-color);
  }

  .codeBody {
    background-color: var(--chat-message-code-block-background-color);

    max-height: 168px;
  }
}

.inlineCodeBlock {
  font-weight: 700;
  font-style: italic;
}

.toolCallManage {
  width: 100%;
  height: fit-content;

  box-sizing: border-box;

  border-radius: 6px;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.toolCallFooter {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .buttonsBlockContainer {
    width: 100%;

    display: flex;
    gap: 8px;
  }
}

.toolCall {
  width: 100%;

  box-sizing: border-box;

  .toolCallHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;

    padding: 8px 0;

    box-sizing: border-box;

    cursor: pointer;

    div {
      height: 15px;
    }

    .toolFinishIcon {
      svg {
        path {
          fill: var(--chat-input-send-button-background);
        }
      }
    }

    .toolName {
      color: var(--chat-message-color);
    }

    &.hide {
      border-bottom: none;
    }

    &:not(.hide) {
      .arrowRightIcon {
        rotate: 90deg;
      }
    }

    &.noClick {
      pointer-events: none;
    }
  }

  .toolCallBody {
    margin-top: 6px;

    padding: 12px;

    width: 100%;

    box-sizing: border-box;

    background-color: var(--chat-message-tool-block-color);

    display: flex;
    flex-direction: column;
    gap: 12px;

    .toolCallBodyItem {
      display: flex;
      flex-direction: column;

      gap: 8px;

      pre {
        margin: 0;

        div {
          margin: 0;
        }
      }
    }
  }
}

.markdownField {
  a {
    color: var(--link-color);
  }
}

.chatMessageError {
  background-color: var(--chat-message-error-background-color);

  p {
    color: var(--text-color) !important;
  }

  padding: 8px;

  border-radius: 6px;

  box-sizing: border-box;
}

.buttonsBlock {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;

  margin-top: 8px;

  .buttonsBlockItem {
    width: 32px;
    height: 32px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--chat-header-button-hover-background);
    }

    svg {
      path {
        fill: var(--icon-button-color);
      }
    }
  }
}

.paragraph {
  padding: 8px 0;
  white-space: pre-line;
  color: var(--text-color);
}

.blockquote {
  position: relative;

  margin: 0;
  padding: 6px 12px;

  width: fit-content;

  border-left: 3px solid var(--accent-main);
  border-radius: 3px;

  color: variables.$gray-text;
  font-size: 15px;
  line-height: 22px;

  overflow: hidden;

  .blockquoteBg {
    position: absolute;
    inset: 0;
    background-color: var(--accent-main);
    opacity: 8%;
  }
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--chat-message-hr-color);
  margin: 8px 0;
}

.listBlock {
  font-size: 15px;
  margin: 0;

  white-space: normal;
}

.ul {
  font-size: 15px;

  margin: 0;
  padding-inline-start: 22px;

  white-space: normal;

  list-style: disc;
}

.ul,
li {
  line-height: 22px;

  .paragraph {
    padding: 0;
  }
}

// ul with sublists
.ul:has(.ul) {
  // first level
  & > li {
    font-weight: 600;
  }

  // other levels
  & > li li {
    font-weight: 400;
  }

  // gap between first level items
  &:not(.ul .ul) > li + li {
    margin-top: 8px;
  }

  // gap between other items
  li + li {
    margin-top: 4px;
  }
}

// first level ul
.ul {
  margin: 8px 0;
}

// other levels ul
.ul .ul {
  margin: 4px 0 0;
  padding-inline-start: 16px;
}

// marker styles
.ul li {
  list-style: none;
  position: relative;

  &::before {
    content: "\2022";
    position: absolute;
    inset-inline-start: -13px;
  }
}

// experimental ul list with scroll if it has more than 4 levels nesting
.ul:has(.ul .ul .ul):not(.ul .ul) {
  overflow: auto;

  max-height: 600px;
}
