// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@import "../../../../styles/variables/devices.scss";
@import "../../../../styles/mixins";

.chatMessageBody {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 700px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  &.empty {
    max-height: fit-content;
  }
}

.chatMessageContainer {
  display: flex;
  flex-direction: column-reverse;

  gap: 24px;

  max-width: 700px;

  padding: 20px 0;

  margin: auto;
}

.chatEmptyMessage {
  display: grid;
  grid-template-columns: 1fr 16px;

  gap: 12px;

  margin: 0 0 120px;

  padding: 12px 16px;

  border-radius: 6px;

  @include mobile {
    margin-bottom: 40px;
  }

  &.closed {
    visibility: hidden;
  }
}

.chatEmptyHelpMessage {
  margin-bottom: 24px;
}

.chatMessagePadding {
  padding: 8px 12px;
}

.chatMessageUser {
  background-color: #4781d11a;
}

.chatMessageTextColor {
  color: var(--chat-message-color);

  font-size: 12px;
  line-height: 16px;
}

.chatMessageBorderRadius {
  border-radius: 16px;
}

.message {
  width: 100%;
  max-width: 100%;

  height: auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 8px;

  box-sizing: border-box;

  border-radius: 6px;

  position: relative;

  user-select: text;
}

.chatMessageContent {
  max-width: calc(100% - 40px);

  box-sizing: border-box;
}

.codeContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  background-color: var(--chat-message-code-block-background-color);

  border-radius: 3px;

  box-sizing: border-box;

  margin: 8px 0;

  .codeHeader {
    width: 100%;

    height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px;

    box-sizing: border-box;

    border-bottom: 1px solid var(--chat-message-code-block-separator-color);
  }

  .codeBody {
    background-color: var(--chat-message-code-block-background-color);
  }
}

.inlineCodeBlock {
  font-weight: 700;
  font-style: italic;
}

.listBlock {
  padding: 0 8px 0 16px;
  margin: 0;

  white-space: normal;
}

.toolCall {
  border: 1px solid var(--chat-message-code-block-separator-color);

  border-radius: 6px;

  .codeContainer,
  pre {
    margin: 0;
  }

  .codeHeader {
    border: none;
  }

  .toolCallHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--chat-message-code-block-separator-color);

    padding: 8px;

    box-sizing: border-box;

    &.hide {
      border-bottom: none;
    }
  }

  .toolCallBodyFirst {
    margin-bottom: 1px;
  }
}

.markdownField {
  a {
    color: var(--link-color);
  }
}

.chatMessageError {
  background-color: var(--chat-message-error-background-color);

  p {
    color: var(--text-color) !important;
  }

  padding: 8px;

  border-radius: 6px;

  box-sizing: border-box;
}
