// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../../styles/mixins";
@use "../../../../styles/variables";

.chatMessageBody {
  height: 100%;
  max-height: 100%;

  margin: 0 -20px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;

  box-sizing: border-box;

  &.empty {
    height: auto;
    flex-grow: 0;
    max-height: fit-content;
  }

  @include mixins.tablet-and-below {
    margin: 0 -16px;
  }
}

.chatMessageContainer {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 24px;

  width: 100%;
  max-width: 700px;

  padding: 20px;
  margin: 0 auto;
}

.chatEmptyHelpMessage {
  margin-top: 32px;
  margin-bottom: 24px;
}

.chatMessageTextColor {
  color: var(--text-color);

  font-size: 12px;
  line-height: 16px;
}

.userMessage {
  width: 100%;
  max-width: 100%;

  height: auto;

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;

  gap: 8px;

  box-sizing: border-box;

  border-radius: 6px;

  position: relative;

  user-select: text;

  .chatMessageContent {
    width: 100%;
    max-width: calc(100% - 40px);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .filesListWrapperContainer {
      display: flex;

      height: 48px;
      width: 100%;
    }

    .filesListWrapper {
      width: 100%;

      display: flex;

      flex-wrap: wrap;

      justify-content: end;

      gap: 6px;

      margin-bottom: 8px;

      .filesListItem {
        width: fit-content;
        min-width: fit-content;
        height: 32px;
        max-width: 300px;

        padding-inline-end: 8px;

        display: flex;
        align-items: center;

        border: 1px solid var(--chat-message-file-border-color);

        border-radius: 6px;

        cursor: pointer;

        .filesListItemIcon {
          width: 32px;
          height: 32px;

          div {
            width: 32px;
            height: 32px;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .filesListItemInfo {
        display: flex;
        align-items: center;

        gap: 8px;

        max-width: 300px;

        .filesListItemInfoText {
          max-width: 100%;

          display: flex;
          flex-direction: row;

          span {
            color: var(--chat-file-item-exst-color);
          }
        }
      }
    }

    .chatMessageUser {
      padding: 0 12px;

      border-radius: 16px;

      width: fit-content;

      position: relative;
      overflow: hidden;

      &::before {
        content: "";

        position: absolute;
        inset: 0;

        border-radius: inherit;

        background-color: var(--chat-message-user-background-color);
        opacity: 10%;

        z-index: -1;
      }
    }
  }
}

.codeContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  background-color: var(--chat-message-code-block-background-color);
  border: var(--chat-message-code-block-border);

  border-radius: 3px;

  box-sizing: border-box;

  margin: 8px 0;
  max-height: 420px;

  @include mixins.mobile {
    max-height: 320px;
  }

  .codeHeader {
    width: 100%;

    height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 32px;
    flex-shrink: 0;

    padding: 0 8px;

    box-sizing: border-box;

    border-bottom: 1px solid var(--chat-message-code-block-separator-color);
  }

  .codeBody {
    background-color: var(--chat-message-code-block-background-color);
  }
}

.inlineCodeBlock {
  font-weight: 700;
  font-style: italic;
}

.toolCallManage {
  width: 100%;
  height: fit-content;

  box-sizing: border-box;

  border-radius: 6px;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.toolCallFooter {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .buttonsBlockContainer {
    width: 100%;

    display: flex;
    gap: 8px;
  }
}

.toolCallMessage {
  &:not(:last-child) {
    margin: 8px 0;
  }
}

.toolCall {
  width: 100%;

  box-sizing: border-box;

  &.inDialog {
    .codeContainer {
      max-height: 168px;
    }
  }

  .toolCallHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;

    padding: 8px 0;

    box-sizing: border-box;

    .toolStatusIcon {
      & > div > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .toolFinishIcon {
      svg {
        height: 12px;

        path {
          fill: var(--chat-input-send-button-background);
        }
      }
    }

    .toolName {
      color: var(--chat-message-color);
    }

    .searchToolIcon {
      width: 16px;
      height: 16px;
    }

    .arrowRightIcon {
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .arrowRightIcon svg path,
    .searchToolIcon svg path {
      fill: var(--text-color);
    }

    &.hide {
      border-bottom: none;

      .arrowRightIcon svg {
        @include mixins.flip-in-rtl;
      }
    }

    &:not(.hide) {
      .arrowRightIcon {
        rotate: 90deg;
      }
    }

    &.pointer {
      cursor: pointer;
    }
  }

  .toolCallBody {
    margin-top: 6px;

    padding: 12px;

    width: 100%;

    box-sizing: border-box;

    background-color: var(--chat-message-tool-block-color);

    display: flex;
    flex-direction: column;
    gap: 12px;

    border-radius: 6px;

    .toolCallCodeViewItem {
      display: flex;
      flex-direction: column;

      gap: 8px;

      pre {
        margin: 0;

        div {
          margin: 0;
        }
      }
    }

    .codeContainer {
      max-height: 210px;
    }

    .sourceViewHeading {
      margin-bottom: 12px;
    }

    .sourceViewList {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .sourceItem {
      display: flex;
      gap: 8px;
      align-items: center;

      cursor: pointer;

      border-radius: 6px;

      padding: 4px 8px;

      &:hover {
        background-color: var(--chat-message-source-bg-hover-color);

        .externalLinkIcon {
          display: block;
        }
      }

      &:active {
        background-color: var(--chat-message-source-bg-pressed-color);
      }

      .externalLinkIcon {
        display: none;
      }
    }

    .sourceContent {
      flex: 1;
      min-width: 80px;
      color: var(--chat-message-source-url-color);
    }

    .sourceTitle,
    .sourceContent {
      text-align: var(--input-text-align);
      unicode-bidi: plaintext;
    }

    .sourceFallbackIcon {
      width: 16px;
      height: 16px;

      path {
        fill: var(--text-color);
      }
    }
  }

  .externalLinkIcon {
    width: 16px;
    height: 16px;

    @include mixins.flip-in-rtl;

    path {
      fill: var(--chat-message-external-link-icon-color);
    }
  }
}

.markdownField {
  a {
    color: var(--link-color);
  }
}

.chatMessageError {
  background-color: var(--chat-message-error-background-color);

  p {
    color: var(--text-color) !important;
  }

  padding: 8px;

  border-radius: 6px;

  box-sizing: border-box;
}

.buttonsBlock {
  width: 100%;
  height: 32px;

  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;

  margin-top: 8px;

  .buttonsBlockItem {
    width: 32px;
    height: 32px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: var(--chat-header-button-hover-background);
    }

    svg {
      path {
        fill: var(--icon-button-color);
      }
    }
  }
}

.chatLoader {
  display: flex;
  gap: 8px;
}

.heading {
  padding: 8px 0;
}

.paragraph {
  padding: 8px 0;
  white-space: pre-line;
  color: var(--text-color);
  font-weight: 400;
  word-break: break-word;
}

.link {
  word-break: break-word;
}

.blockquote {
  position: relative;

  margin: 8px 0;
  padding: 6px 12px;

  width: fit-content;

  border-inline-start: 3px solid var(--chat-message-blockquote-bg-color);
  border-radius: 3px;

  color: var(--chat-message);
  font-size: 15px;
  line-height: 22px;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: var(--chat-message-blockquote-bg-color);
    opacity: 8%;

    z-index: -1;
  }
}

.hrWrapper {
  padding: 8px 0;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--chat-message-hr-color);
}

.listBlock {
  font-size: 15px;

  margin: 0;
  padding-inline-start: 22px;

  white-space: normal;
}

.listItem {
  > .paragraph {
    font-weight: inherit;
  }
}

.listBlock,
.listItem {
  line-height: 22px;

  .paragraph {
    padding: 0;
  }
}

// multilevel lists
.listBlock:has(.listBlock) {
  // first level
  & > .listItem {
    font-weight: 600;
  }

  // other levels
  & > .listItem .listItem {
    font-weight: 400;
  }

  // gap between first level items
  &:not(.listBlock .listBlock) > .listItem + .listItem {
    margin-top: 8px;
  }

  // gap between other items
  .listItem + .listItem {
    margin-top: 4px;
  }
}

// first level
.listBlock {
  margin: 8px 0;
}

// other levels
.listBlock .listBlock {
  margin: 4px 0 0;
  padding-inline-start: 16px;
}

// bullet styles
.ul > .listItem {
  list-style: none;
  position: relative;

  &::before {
    content: "\2022";
    position: absolute;
    inset-inline-start: -13px;
  }
}

.tableScroll {
  margin: 8px 0;
}

.tableScrollBody {
  display: block !important;
}

.table {
  border-collapse: collapse;
  min-width: 100%;
}

.th {
  font-weight: 600;
}

.th,
.td {
  box-sizing: border-box;

  font-size: 15px;
  line-height: 22px;
  vertical-align: middle;
  text-align: start;

  min-width: 175px;
  max-width: 175px;

  padding: 8px 12px;

  overflow-wrap: break-word;
}

.tr {
  .th,
  &:not(:last-child) .td {
    border-bottom: 1px solid var(--chat-message-table-row-border-color);
  }
}

.sourceContentTooltipText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-line;

  unicode-bidi: plaintext;
  text-align: var(--input-text-align);
}

.heading,
.link,
.blockquote,
.paragraph,
.ol,
.ul,
.listItem {
  text-align: var(--input-text-align);
  unicode-bidi: plaintext;
}