/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../../styles/variables";
@use "../../../styles/mixins";

.filesRow {
  height: 56px;
  position: unset;
  margin-top: 0;
  -webkit-tap-highlight-color: variables.$tap-highlight;

  &.palmCursor {
    cursor:
      url(~PUBLIC_DIR/images/cursor.palm.react.svg?url) 8 0,
      auto;
  }

  &.inProgress {
    pointer-events: none;
  }

  &.hideLastDiv {
    & > div:last-child {
      width: 0;
      overflow: hidden;
    }
  }

  :global(.styled-element) {
    height: 32px;
    margin-inline-end: 12px;
  }

  :global(.badges) {
    display: flex;
    align-items: center;

    :global(.badge-version) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  :global(.tablet-row-copy-link) {
    display: none;
  }

  @include mixins.tablet-and-below {
    :global(.tablet-row-copy-link) {
      display: block;
    }

    :global(.row-copy-link) {
      display: none;
    }
  }

  @include mixins.mobile {
    :global(.tablet-row-copy-link) {
      display: none;
    }

    :global(.row-copy-link) {
      display: block;

      :hover {
        svg path {
          fill: var(--icon-button-color);
        }
      }
    }
  }

  :global(.favorite) {
    cursor: pointer;
    margin-top: 1px;
  }

  :global(.row_context-menu-wrapper) {
    width: min-content;
    justify-content: space-between;
    flex: 0 1 auto;
  }

  :global(.row_content) {
    max-width: none;
    min-width: 0;
  }

  :global(.badges) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :global(.temp-badges) {
    margin-top: 0;
  }

  :global(.lock-file) {
    cursor: default;
    svg {
      height: 16px;
    }
  }

  &.withAccess {
    :global(.lock-file) {
      cursor: pointer;
    }
  }

  :global(.expandButton) {
    margin-inline-start: 17px;
    padding-top: 0;
  }

  &.folderCategory {
    :global(.expandButton) {
      margin-inline-start: 24px;

      > div:first-child {
        padding-inline-start: 0 !important;
      }
    }
  }

  :global(.badges) {
    flex-direction: row-reverse;
    gap: 24px;
  }

  :global(.file__badges),
  :global(.room__badges),
  :global(.folder__badges) {
    margin-top: 0;

    > div {
      margin-top: 0;
      margin-inline: 0;
    }
  }

  @include mixins.mobile {
    :global(.lock-file) {
      svg {
        height: 12px;
      }
    }

    :global(.badges) {
      gap: 8px;
    }

    :global(.room__badges):empty,
    :global(.file__badges):empty,
    :global(.folder__badges):empty,
    :global(.badges__quickButtons):empty {
      display: none;
    }

    :global(.badges),
    :global(.folder__badges),
    :global(.room__badges),
    :global(.file__badges) {
      margin-top: 0;
      align-items: center;
      height: 100%;
    }

    :global(.room__badges),
    :global(.folder__badges) {
      > div {
        margin-top: 0;
      }
    }
  }
}
