@use "../../styles/variables/colors";

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #{$white};
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 1000;
  color: #{$dark-black};

  &.blue {
    background-color: #{$portal-blue};
  }

  &.purple {
    background-color: #{$portal-purple};
  }

  &.green {
    background-color: #{$portal-green};
  }

  &.top30 {
    top: 30%;
  }

  &.top50 {
    top: 50%;
  }

  &.top70 {
    top: 70%;
  }
}

.customContainer {
  position: relative;
  width: 300px;
  height: 200px;
  border: 2px dashed #{$gray-dark-pressed};
  margin: 20px;
  padding: 10px;
}
