.description {
  margin-bottom: 22px;
}

.effectsList {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.effectItem {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  padding-left: 0;
}

.effectBullet {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 3px;
}

.balance {
  margin-top: 26px;
}

.confirm {
  margin-top: 26px;
}

