@use "../../styles/variables/colors";
@use "../../styles/z-index" as z;

.selectionArea {
  top: 0;
  // doesn't require mirroring for RTL
  left: 0;
  position: fixed;
  margin: 0;
  display: none;
  background: rgba(68, 170, 255, 0.5);
  border: 1px solid #{colors.$light-second-main};
  z-index: z.$system-top;
}
