// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.article {
  display: flex;
  flex-direction: column;

  background: var(--article-catalog-background);

  border-right: var(--article-catalog-vertical-line);

  :global(.rtl) {
    border-left: var(--article-catalog-vertical-line);
  }

  min-width: 251px;
  max-width: 251px;
  height: 100dvh;

  .articleContent {
    padding: 0 20px;
  }

  @include mixins.tablet {
    min-width: 60px;
    max-width: 60px;

    &.showText {
      min-width: 243px;
      max-width: 243px;
    }

    .articleContent {
      padding: 0 8px;
    }
  }

  @include mixins.mobile {
    display: none;
    z-index: 204;
    flex-direction: column;
    min-width: 100dvw;
    width: 100dvw;
    position: fixed;
    margin: 0;
    padding: 0;

    border: none;

    height: calc(100% - 64px) !important;

    position: absolute;
    top: 64px;

    &.articleOpen {
      display: flex;
    }
  }
}

.articleHeader {
  padding: 12px 4px;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  &.notShowText {
    text-align: center;
  }
}

.crossIcon {
  & > div {
    position: absolute;
    top: 37px;
    right: 10px;

    :global(.rtl){
      left: 10px;
    }

    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 290;
    width: 17px;
    height: 17px;
    path {
      stroke: var(--management-cross-icon-fill);
    }
  }
}

.hideButtonWrapper {
  min-width: 60px;
  max-width: 60px;
  height: 44px;

  position: fixed;
  bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &.showText {
    min-width: 243px;
    max-width: 243px;
  }

  @include mixins.desktop {
    display: none;
  }

  @include mixins.mobile {
    display: none;
  }
}

.showButton {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    path {
      fill: var(--article-catalog-show-text);
    }
  }
}

.hideButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;

  .hideMenuText {
    color: var(--accent-main);
  }

  svg {
    path {
      fill: var(--accent-main);
    }
  }

  .hideMenuIcon {
    display: flex;
    align-items: center;
  }
}