// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";
@use "@docspace/shared/styles/variables";

.submitToGalleryTile {
  width: 100%;
  height: calc(100% - 29px);
  border-radius: 4px;
  background-color: var(--submit-gallery-tile-background);

  &.viewMobile {
    height: 100%;
  }

  .content {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
    border: 2px solid var(--submit-gallery-tile-border);
    border-radius: 6px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    height: calc(100% - 23px);
    margin: 12px 10px 10px 10px;

    .viewMobile & {
      height: 110px;
      margin: 0 10px 26px 10px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;

    .title {
      color: var(--submit-gallery-tile-text);
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }

    .body {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: var(--submit-gallery-tile-text-body);
    }
  }

  .buttonSubmit {
    min-height: 28px;
    height: 28px;
    padding: 0;

    :global(.button-content) {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      white-space: normal;
      word-wrap: break-word;
      text-align: center;
    }
  }

  @include mixins.tablet {
    .content {
      padding: 6px 16px;
      gap: 10px;

      &.smallPreview {
        padding: 14px 16px;
      }
    }

    .info {
      gap: 4px;

      .title {
        font-size: 11px;
        line-height: 12px;
      }

      .body {
        font-size: 10px;
        line-height: 14px;
      }
    }

    .buttonSubmit {
      min-height: 24px;
      height: auto;

      :global(.button-content) {
        font-size: 10px;
        line-height: 15px;
      }
    }
  }
}

.closeIcon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  inset-inline-end: 10px;
  width: 16px;
  height: 16px;

  path {
    fill: var(--submit-gallery-tile-color-close-icon-fill);
  }
}
