/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

.loadingButtonContainer {
  --circle-fill-color: var(--accent-main);

  width: 16px;
  height: 16px;
  background: none;
  border-radius: 50%;
  cursor: pointer;

  & .circleMask .circleFill {
    background-color: var(--circle-fill-color);
  }

  .loadingButton {
    svg path {
      fill: var(--circle-fill-color);
    }
  }

  &.defaultMode {
    .circleMask .circleFill {
      background-color: var(--loading-button-default-bg);
    }
    .loadingButton {
      cursor: pointer;

      svg path {
        fill: var(--loading-button-default-bg);
      }
    }

    &:hover {
      .loadingButton {
        svg path {
          fill: var(--loading-button-hover-color);
        }
      }
    }
  }
}

.circle {
  --loading-button-percent: 0;
  --rotate-angle: calc(var(--loading-button-percent) * 1.8deg);

  .circleMask,
  .circleFill {
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
  }

  &.isProgressZero,
  &.isAnimation.inConversion {
    .circleFill {
      animation: rotate360 2s linear infinite;
      transform: translate(0);
    }
  }

  &:not(.isProgressZero):not(.isAnimation.isConversion) {
    .circleMask {
      clip: rect(0px, 16px, 16px, 8px);
    }

    .circleFill {
      animation: fill-rotate ease-in-out none;
      transform: rotate(var(--rotate-angle));
    }
  }

  .circleMask .circleFill {
    clip: rect(0px, 8px, 16px, 0px);
    background-color: var(--circle-fill-color, var(--loading-button-color));
  }

  .circleMask.circleFull {
    animation: fill-rotate ease-in-out none;
    transform: rotate(var(--rotate-angle));
  }

  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fill-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(var(--rotate-angle));
    }
  }
}

.loadingButton {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  line-height: 11px;
  background: var(--loading-button-custom-bg, var(--loading-button-bg));

  position: absolute;
  margin: 2px;

  svg path {
    font-weight: bold;

    fill: var(--loading-button-color);
  }
}
