// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.container {
  width: 100%;
  margin: 0 auto;

  .sliderWrapper {
    margin-top: 20px;
    display: grid;
    gap: 16px;

    .slider {
      margin-top: 0;
      margin-bottom: 0;
    }

    .sliderTrack {
      display: flex;
      position: relative;
      margin-inline-start: -3px;
      height: 16px;

      .sliderTrackValueMin,
      .sliderTrackValueMax {
        color: var(--quantity-picker-track-number);
      }

      .sliderTrackValueMax {
        position: absolute;
        inset-inline-end: 0;
      }
      .sliderTrackValueMin {
        position: absolute;
        inset-inline-start: 0;
      }
    }
  }

  .countControls {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;

    .controlButton {
      cursor: pointer;

      &.disabled {
        cursor: default;

        path {
          fill: var(--text-disable-color);
        }
      }
    }

    .circle {
      position: relative;
      background: var(--quantity-picker-rectangle-color);
      border: 1px solid var(--quantity-picker-rectangle-color);
      border-radius: 50%;
      width: 38px;
      height: 38px;
      cursor: pointer;

      svg path {
        fill: var(--text-color);
      }

      &.disabled {
        cursor: default;

        svg path {
          fill: var(--quantity-picker-disable-color);
        }
      }

      svg {
        position: absolute;
      }
    }

    .minusIcon {
      svg {
        top: 44%;
        inset-inline-start: 28%;
      }
    }
    .plusIcon {
      svg {
        top: 30%;
        inset-inline-start: 27%;
      }
    }
  }

  .countInput {
    width: 101px;
    height: 60px;
    font-size: 44px;
    text-align: center;
    margin-inline: 20px;
    padding: 0;
    font-weight: 700;

    &.disabled {
      color: var(--quantity-picker-disable-color);
    }
    &.isLarge {
      width: 140px;
    }
    &.isContant {
      width: fit-content;
    }
  }

  .countTitle {
    margin-bottom: 4px;
    text-align: center;

    &.disabled {
      color: var(--quantity-picker-disable-color);
    }
  }

  .subTitle {
    margin-bottom: 8px;
    margin-inline: auto;
    text-align: center;
    color: var(--quantity-picker-additional-title);

    &.disabled {
      color: var(--quantity-picker-disable-color);
    }
  }

  .tabsWrapper {
    margin-top: 12px;
  }

  .underContorlsText {
    text-align: center;
    color: var(--quantity-picker-additional-title);

    &.disabled {
      color: var(--quantity-picker-disable-color);
    }

    &.warningIncrementFromZero {
      color: var(--quantity-picker-warning-color);
    }
  }
}
