@use "../../styles/mixins";
@use "../../styles/variables/colors";

.filterLoader {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 95px;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;

  @include mixins.mobile {
    grid-template-columns: 1fr 50px;
  }
}

.filterContainer {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.filterBlock {
  padding: 12px 0 16px;
  margin-bottom: 4px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px 8px;
  box-sizing: border-box;

  &[data-is-last="false"] {
    border-bottom: 1px solid;

    border-color: var(--filter-block-border-color);
  }

  :global {
    .row-loader {
      display: flex;

      align-items: center;
      flex-wrap: wrap;

      gap: 8px;
    }
  }
}
