// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@import "../../styles/variables/index.scss";
@import "../../styles/variables/_colors.scss";
@import "../../styles/_mixins.scss";

.container {
  box-sizing: border-box;
  width: 362px;
  height: 376px;
  padding: 30px 28px 28px 28px;
  box-shadow: var(--calendar-box-shadow);
  border: 1px solid var(--calendar-border-color);
  border-radius: 6px;
  z-index: 320;
  background-color: var(--background-color);

  &.isScroll {
    padding: 0px 0px 0px 28px;
    header {
      padding: 30px 23px 0 12px !important;
    }
  }

  @include mobile {
    width: 100%;
    height: 420px;
    padding: 16px;
  }
}

.buttonsContainer {
  display: flex;
}

.headerContainer {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--calendar-title-color);
  border-bottom: 1px dashed transparent;
  margin: 0;
  display: inline-block;

  @include mobile {
    font-size: 21px;
    line-height: 28px;
  }

  &:hover {
    border-color: var(--calendar-title-color);
    cursor: pointer;

    &.disabled {
      border-color: transparent;
      cursor: auto;
    }
  }
}

.calendarContainer {
  width: 306px;
  height: 276px;
  box-sizing: border-box;
  display: grid;

  grid-template-columns: repeat(7, 1fr);
  padding: 0 6px;
  column-gap: 14px;
  row-gap: 0;

  @include mobile {
    width: auto;
    column-gap: 2%;
    row-gap: 9px;
  }

  &.big {
    grid-template-columns: repeat(4, 1fr);
    padding: 14px 6px 6px 6px;
    column-gap: 31.33px;
    row-gap: 10px;

    @include mobile {
      column-gap: 8%;
      row-gap: 26.7px;
    }
  }

  &.scroll {
    margin-bottom: 28px;
  }
}

.roundButton {
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 50%;
  outline: 1px solid;
  outline-color: var(--calendar-outline-color);
  border: none;
  background-color: transparent;
  position: relative;
  transition: all ease-in-out 0.05s;

  span {
    border-color: var(--calendar-arrow-color);

    &.disabled {
      border-color: var(--calendar-disabled-arrow-color);
    }
  }

  &:hover {
    cursor: pointer;
    outline: 2px solid var(--color-scheme-main-accent);
    span {
      border-color: var(--color-scheme-main-accent);
    }

    &.disabled {
      cursor: auto;
      outline: 1px solid var(--calendar-outline-color);

      span {
        border-color: var(--calendar-disabled-arrow-color);
      }
    }
  }

  @include mobile {
    width: 32px;
    height: 32px;
  }
}

.weekDay {
  pointer-events: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: var(--calendar-weekday-color);
  width: 30px;

  text-align: center;
  padding: 10.7px 0;

  @include mobile {
    width: 40px;
    font-size: 16px;
  }
}

.arrowIcon {
  position: absolute;
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 5px;
  height: 5px;

  &.next {
    transform: rotate(-45deg);
    top: 9px;
    left: 9.5px;

    @include mobile {
      transform: rotate(-45deg);
      top: 11.5px;
      left: 12.5px;
    }
  }

  &.prev {
    transform: rotate(135deg);
    top: 11px;
    left: 9.5px;

    @include mobile {
      transform: rotate(135deg);
      top: 14px;
      left: 12.5px;
    }
  }
}

.headerActionIcon {
  position: absolute;
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: 6px;
  height: 6px;
  transform: rotate(225deg);
  top: 8.5px;
  left: 104%;
  border-color: var(--color-scheme-main-accent);

  @include mobile {
    width: 5px;
    height: 5px;
    top: 11px;
  }
}

.dateItem {
  font-weight: 600;
  font-size: 13px;
  border-radius: 50%;
  border: 2px solid;
  border-color: transparent;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);

  &.disabled {
    background: transparent;
    color: var(--calendar-disabled-color);
  }

  &:hover {
    &.disabled {
      cursor: default;
      background: transparent;
      color: var(--calendar-disabled-color);
    }
    cursor: pointer;
    background: var(--calendar-on-hover-background);
  }

  &.big {
    width: 50px;
    height: 50px;

    @include mobile {
      width: 60px;
      height: 60px;
    }
  }

  &.isCurrent {
    background: var(--color-scheme-main-accent);
    color: #{$white} !important;
    &:hover {
      background-color: var(--color-scheme-main-accent);
    }
    &:focus {
      background-color: var(--color-scheme-main-accent);
    }
  }

  &.isSecondary {
    color: var(--calendar-past-color);

    :hover {
      cursor: pointer;
      color: var(--calendar-past-color);
    }

    &.disabled {
      color: var(--calendar-disabled-color);
      :hover {
        cursor: auto;
        color: var(--calendar-disabled-color) !important;
      }
    }
  }

  &.focused {
    border-color: var(--color-scheme-main-accent);
  }

  @include mobile {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
}
