/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "@docspace/shared/styles/mixins";

.groupMenuItem {
  display: contents;
}

.button.overrideNativeStyles {
  border: none !important;
  padding: 0 12px;
  height: 100%;
  min-width: fit-content;

  background-color: var(--button-background-base);

  :global(.combo-button_selected-icon) > div {
    display: flex;
    align-items: center;
  }

  svg {
    path[fill] {
      fill: var(--button-color-base);
    }

    path[stroke] {
      stroke: var(--button-color-base);
    }
  }

  &.isBlocked {
    svg {
      path[fill] {
        fill: var(--button-color-base-disabled);
      }

      path[stroke] {
        stroke: var(--button-color-base-disabled);
      }
    }
  }

  &:hover,
  &:active {
    border: none !important;
    background-color: unset !important;
  }

  &:hover {
    svg {
      path[fill] {
        fill: var(--button-color-base-hover);
      }

      path[stroke] {
        stroke: var(--button-color-base-hover);
      }
    }
  }

  &:active {
    svg {
      path[fill] {
        fill: var(--button-color-base-active);
      }

      path[stroke] {
        stroke: var(--button-color-base-active);
      }
    }
  }

  :global(.btnIcon) {
    padding-inline-end: 8px;
  }

  :global(.button-content) {
    @include mixins.tablet-and-below {
      flex-direction: column;
      gap: 4px;
    }

    @include mixins.mobile {
      margin-top: 4px;
    }
  }

  /* TODO: remove if editors core version 85+ */
  &.oldChrome {
    :global(.button-content) {
      > div {
        margin-right: 8px;

        @include mixins.tablet-and-below {
          margin-right: 0;
        }
      }
    }
  }

  @include mixins.tablet-and-below {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 12px;

    :global(.btnIcon) {
      padding: 0;
      margin: 0 auto;
    }
  }

  @include mixins.mobile {
    padding: 0 16px;
    font-size: 0;
    line-height: 0;
  }
}
