@import "../../styles/variables/index.scss";
@import "../../styles/variables/_colors.scss";
@import "../../styles/_mixins.scss";

.circle {
  :global {
    .circle__mask,
    .circle__fill {
      width: 42px;
      height: 42px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      inset-inline: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .circle__mask .circle__fill {
      clip: rect(0px, 21px, 42px, 0px);
    }

    .circle__mask.circle__full {
      animation: fill-rotate ease-in-out none;

      transform: rotate(var(--circle-rotation-angle));
    }
  }
  &.showProgress {
    .circleMask {
      clip: rect(0px, 42px, 42px, 21px);
    }

    .circleFill {
      @include keyframes(fill-rotate) {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(var(--circle-rotation-angle));
        }
      }
      @include animate(fill-rotate, 0, ease-in-out, none);

      transform: rotate(var(--circle-rotation-angle));
    }
  }

  &.loading {
    :global(.circle__fill) {
      @include keyframes(rotate360) {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      @include animate(rotate360, 2s, linear, infinite);
    }
  }
}

.floatingButton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(
    --floating-circle-button-background,
    var(--color-scheme-main-accent)
  );
  text-align: center;
  margin: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleWrap {
  position: relative;
  z-index: 500;
  width: 48px;
  height: 48px;
  background: var(
    --floating-circle-button-background,
    var(--color-scheme-main-accent)
  ) !important;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--floating-button-box-shadow);

  .circle__background {
    background: var(
      --floating-circle-button-background,
      var(--color-scheme-main-accent)
    ) !important;
  }

  :global {
    .icon-box {
      svg {
        path {
          fill: var(--color-scheme-text-accent);
        }
      }
    }

    .circle__mask .circle__fill {
      background-color: transparent;
    }
  }

  &[data-display-progress="true"] {
    :global {
      .circle__mask .circle__fill {
        background-color: var(--color-scheme-text-accent);
      }
    }
  }
}

.alertIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  inset-inline-start: 20px;
  top: 0px;

  svg {
    circle {
      fill: var(--floating-button-alert-fill);
    }
    path {
      fill: var(--floating-button-alert-path);
    }
  }
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    path {
      fill: var(--floating-button-icon-fill);
    }
  }
}

.floatingButtonWrapper {
  @include desktop {
    position: absolute;
    z-index: 300;
    inset-inline-end: 0;
    width: 100px;
    height: 70px;

    &.showTwoProgress {
      bottom: 96px;
    }

    &:not(.showTwoProgress) {
      bottom: 0;
    }
  }

  :global(.layout-progress-bar_close-icon) {
    display: none;
    position: absolute;
    cursor: pointer;
    inset-inline-end: 77px;
    bottom: 33px;
  }

  &:hover {
    :global(.layout-progress-bar_close-icon) {
      display: block;

      @include tablet {
        display: none;
      }
    }
  }

  @include tablet {
    :global(.layout-progress-bar_close-icon) {
      display: none;
    }
  }
}
