@import "../../styles/variables/index.scss";
@import "../../styles/variables/_colors.scss";
@import "../../styles/_mixins.scss";

.circle {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    position: absolute;
    width: 38px;
    height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    opacity: 1;
    background-image: linear-gradient(
        var(--color-scheme-main-accent),
        var(--color-scheme-main-accent)
      ),
      conic-gradient(
        from 0.25turn at 50% 30%,
        var(--color-scheme-main-accent),
        10deg,
        var(--color-scheme-main-accent),
        140deg,
        white
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: loader 1.2s linear infinite;
  }

  &.completed {
    .loader {
      opacity: 0;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes highlight {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}

.floatingButton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleWrap {
  position: relative;
  z-index: 500;
  width: 48px;
  height: 48px;
  background: var(
    --floating-circle-button-background,
    var(--color-scheme-main-accent)
  ) !important;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--floating-button-box-shadow);

  &.completed {
    animation: highlight 0.5s ease-out;
  }

  :global {
    .icon-box {
      svg {
        path {
          fill: white;
        }
        // path:nth-child(2) {
        //   fill: var(--color-scheme-main-accent);
        // }
      }
    }
  }
}

.alertIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  inset-inline-start: 20px;
  top: 0px;

  &.alert {
    svg {
      path {
        fill: var(--status-icon-color-negative) !important;
      }
    }
  }

  &.complete {
    svg {
      path {
        fill: var(--status-icon-color-positive) !important;
      }
    }
  }
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    path {
      fill: var(--floating-button-icon-fill);
    }
  }
}

.floatingButtonWrapper {
  @include desktop {
    position: absolute;
    z-index: 300;
    inset-inline-end: 0;
    width: 100px;
    height: 70px;

    &.showTwoProgress {
      bottom: 96px;
    }

    &:not(.showTwoProgress) {
      bottom: 0;
    }
  }

  :global(.layout-progress-bar_close-icon) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    inset-inline-end: 77px;
    bottom: 33px;
    transition:
      opacity 0.4s ease,
      visibility 0s linear 0.4s;
  }

  &:hover {
    :global(.layout-progress-bar_close-icon) {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.4s ease;
    }

    @include tablet {
      :global(.layout-progress-bar_close-icon) {
        display: none;
      }
    }
  }

  @include tablet {
    :global(.layout-progress-bar_close-icon) {
      display: none;
    }
  }
}
