// (c) Copyright Ascensio System SIA 2009-2026
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/ui-kit/styles/mixins";

.styledComponent {
  width: 100%;
  max-width: 575px;

  .header {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .previewHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 20px;
  }

  .themeStandardContainer {
    padding-top: 21px;
  }

  .themeName {
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
  }

  .themeContainer {
    padding: 12px 0 24px;
    display: flex;
  }

  .customThemes {
    display: flex;
  }

  .themeAdd {
    width: 46px;
    height: 46px;
    margin-inline-end: 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--settings-appearance-theme-add-bg);
    background-repeat: no-repeat;
    background-position: center;
  }

  :global(.add-theme) {
    background: var(--settings-appearance-add-theme-bg);
    padding-top: 16px;
    padding-inline-start: 16px;
    box-sizing: border-box;
  }

  .buttonsContainer {
    display: flex;
    padding-top: 24px;

    :global(.button):not(:last-child) {
      margin-inline-end: 8px;
    }

    @include mixins.mobile {
      :global(.button) {
        width: 100%;
      }
    }
  }

  .checkImg {
    padding-block: 16px 0;
    padding-inline: 15px 0;

    svg path {
      fill: var(--check-img-color);
    }
  }
}

.showDeleteButton {
  .buttonsContainer {
    @include mixins.mobile {
      flex-direction: column;
      gap: 8px;
      margin: 0;

      :global(.button):not(:last-child) {
        margin-inline-end: 0;
      }
    }
  }
}

.styledTheme {
  width: 46px;
  height: 46px;
  margin-inline-end: 12px;
  border-radius: 8px;
  cursor: pointer;

  .checkHover {
    visibility: hidden;
  }

  &:hover {
    .checkHover {
      padding-block: 16px 0;
      padding-inline: 15px 0;
      visibility: visible;
      opacity: 0.5;

      svg path {
        fill: var(--check-hover-color);
      }
    }
  }
}

.styledBodyContent {
  display: contents;

  :global(.hex-color-picker) {
    padding-bottom: 0 !important;
    width: auto !important;

    :global(.react-colorful__saturation) {
      border-bottom: none;

      :global(.react-colorful__interactive) {
        width: calc(100% - 16px) !important;
        height: calc(100% - 16px);
      }
    }

    :global(.react-colorful__hue) {
      :global(.react-colorful__interactive) {
        width: auto;
      }
    }
  }
}
