// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.tableWrapper {
  margin-top: 0px;

  :global(.header-container-text) {
    font-size: 12px;
  }

  :global(.table-container_header) {
    position: absolute;
  }
}

.rowWrapper {
  display: contents;
}

.tableRow {
  :global(.table-container_cell) {
    text-overflow: ellipsis;

    padding-inline-end: 8px;
  }

  .mr8 {
    margin-inline-end: 8px;
  }

  .textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .descriptionText {
    color: var(--profile-oauth-description-color);
  }

  .toggleButton {
    display: contents;

    input {
      position: relative;

      margin-inline-start: -8px;
    }
  }

  :global(.table-container_row-loader) {
    margin-left: 8px;
    margin-right: 16px;
  }

  &:hover {
    :global(.table-container_cell) {
      cursor: pointer;
      background: var(--profile-oauth-row-background) !important;

      margin-top: -1px;

      border-top: var(--profile-oauth-row-border);
    }

    :global(.table-container_file-name-cell) {
      :global(.rtl) {
        margin-right: -24px;
        padding-right: 24px;
      }
      margin-left: -24px;
      padding-left: 24px;
    }

    :global(.table-container_row-context-menu-wrapper) {
      :global(.rtl) {
        margin-left: -20px;
        padding-left: 18px;
      }

      margin-right: -20px;
      padding-right: 18px;
    }
  }
}

.rowContainer {
  margin-top: 0px;

  :global(.row-list-item) {
    padding-left: 21px;
  }

  :global(.row-loader) {
    width: calc(100% - 46px) !important;
    padding-left: 21px;
  }

  img {
    width: 32px;
    max-width: 32px;

    height: 32px;
    max-height: 32px;
  }

  :global(.oauth2-row-selected) {
    background: var(--profile-oauth-checked-background);

    cursor: pointer;
    border-bottom: none;

    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;

    @include mixins.tablet {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  :global(.oauth2-row) {
    margin-top: -3px;
    padding-top: 3px;

    &:hover {
      background: var(--profile-oauth-checked-background);

      cursor: pointer;
      border-bottom: none;

      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      padding-right: 24px;

      @include mixins.tablet {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}

.rowContent {
  display: flex;
  padding-bottom: 10px;

  :global(.rowMainContainer) {
    height: 100%;
    width: 100%;
  }

  :global(.mainIcons) {
    min-width: 76px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.flexWrapper {
  display: flex;
}

.nameContainer {
  :global(.table-container_row-checkbox) {
    margin-inline-start: -8px;
    width: 16px;
    padding: 16px 8px 16px 16px;

    :global(.rtl) {
      padding: 16px 16px 16px 8px;
    }
  }
}

.styledImage {
  width: 32px;
  height: 32px;

  border-radius: 3px;
}