@import "../../styles/variables/index.scss";

:root {
  // Tag colors
  --tag-background: #{$gray-light-mid};
  --tag-hover-background: #{$light-gray-selected};
  --tag-disabled-background: #{$gray-light-mid};
  --tag-new-background: #{$gray-light-mid};
  --tag-new-hover-background: #{$light-gray-hover};
  --tag-deleted-background: #{$gray-light};
  --tag-color: #{$black};
  --tag-default-color: #{$black};
  --tag-deleted-color: #{$gray};

  // Tag layout
  --tag-padding: 2px 10px;
  --tag-margin-end: 4px;
  --tag-border-radius: 6px;
  --tag-icon-margin-start: 12px;
  --tag-dropdown-text-margin: 8px;

  // Third party tag
  --tag-third-party-padding: 2px 0px;
  --tag-third-party-size: 16px;

  // Text styles
  --tag-text-line-height: 20px;
  --tag-dropdown-text-line-height: 30px;
  --tag-font-size: 13px;

  &[data-theme="dark"] {
    // Dark theme values
    --tag-background: #{$gray-dark-strong};
    --tag-hover-background: #{$dark-gray-light};
    --tag-disabled-background: #{$gray-dark};
    --tag-new-background: #{$gray-dark-mid};
    --tag-new-hover-background: #{$light-dark-gray-hover};
    --tag-deleted-background: #{$dark-gray-light};
    --tag-color: #{$white};
    --tag-default-color: #{$gray};
    --tag-deleted-color: #{$gray};
  }
}
