// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../styles/variables";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins";
@use "../../../styles/z-index" as z;

.flexBoxStyles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.folderTile {
  position: relative;
  display: flex;

  cursor: pointer;
  box-sizing: border-box;
  border: var(--tile-border);
  border-radius: var(--tile-border-radius);

  border-start-start-radius: var(--tile-border-radius);
  -webkit-tap-highlight-color: transparent;

  height: 64px;

  &.isBig {
    height: 220px;
    flex-direction: column;
  }

  &.blocking {
    pointer-events: none;
  }

  &.hotkeyBorder {
    border-color: var(--secondary-text);
  }

  @include mixins.mobile {
    margin-inline-start: 2px;
  }

  &.checked,
  &.isActive,
  &:hover:not(.isDragging, .isEdit) {
    background: var(--tile-checked-background);

    .fileTileBottom {
      &.isBig {
        background: var(--tile-checked-background);
      }
    }
  }

  &.checked {
    .fileTileTop {
      background: var(--tile-checked-background);
    }
  }

  &.isActive,
  &:hover:not(.isDragging, .isEdit) {
    .content {
      a {
        text-decoration: var(--link-hover-page-text-decoration);
      }
    }
  }

  &.isBlockingOperation {
    pointer-events: none;
  }

  &.showHotkeyBorder {
    border-color: var(--tile-show-hotkey-border);

    &:before,
    &:after {
      border-color: var(--tile-show-hotkey-border);
    }
  }

  .loader {
    padding-top: 12px;
    width: 32px;
    height: 32px;
    margin-inline: 21px 13px;
  }

  .iconContainer {
    width: 32px;
    height: 32px;
    margin-inline-start: 16px;
    margin-inline-end: 8px;

    &:hover:not(.isDragging, inProgress) {
      .icon {
        display: none;
      }
      .checkbox {
        opacity: 1;
        display: flex;
      }
    }

    &:hover:not(.isDragging, .inProgress),
    &.checked {
      background: var(--tile-background-color);
      border-radius: 6px;
    }

    .checkbox,
    .checkbox:active {
      padding-top: 8px;
      padding-inline-start: 8px;

      svg {
        margin: -8px;
        padding: 8px;
      }
    }
  }

  .icon {
    display: flex;
    flex: 0 0 auto;
    user-select: none;
    margin-top: -2px;

    &.checked {
      display: none;
    }
  }

  .checkbox {
    display: none;
    flex: 0 0 16px;
    justify-content: center;

    padding: 8px;
    padding-inline-start: 8px;

    @include mixins.tablet {
      opacity: 1;
    }

    &.checked {
      opacity: 1;
      display: flex;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-basis: 100%;

    a {
      display: block;
      display: -webkit-box;
      max-width: 400px;
      height: auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-word;

      font-size: var(--tile-font-size);
      line-height: var(--tile-line-height);
    }

    &.isHovered {
      a {
        text-decoration: none !important;
      }
    }

    .badges {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      > .is-pinned {
        margin: 0;

        padding-block: 8px;
        padding-inline: 0 8px;

        svg {
          path {
            fill: var(--tile-icon-button-color);
          }
        }

        &:hover {
          svg {
            path {
              fill: var(--accent-main);
            }
          }
        }
      }
    }

    @include mixins.tablet {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .optionButton {
    display: block;

    .expandButton > div:first-child {
      padding-block: 8px;
      padding-inline: 8px 16px;
    }
  }

  .icons {
    position: absolute;
    top: 8px;

    :global {
      .badges .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        background: var(--tile-background-badge-color);
        border-radius: 4px;
        box-shadow: var(--tile-badge-shadow);
      }
    }
  }

  .isBadges {
    inset-inline-end: 8px;

    :global(.badges) {
      display: flex;
      height: 32px;
      gap: 4px;

      .badge {
        height: 32px;
      }
    }
  }

  .fileTileTop {
    @extend .flexBoxStyles;

    background: var(--tile-background-color);
    justify-content: space-between;
    align-items: baseline;
    height: 156px;
    position: relative;
    border-radius: 12px 12px 0 0;
    transition: background 0.2s;

    width: 100%;

    &:hover {
      cursor: pointer;
    }

    .thumbnailImage {
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      z-index: z.$base;
      border-radius: 12px 12px 0 0;
    }

    .temporaryIcon > div > :global(.injected-svg) {
      position: absolute;
      width: 100%;
      bottom: 16px;
    }
  }

  .fileTileBottom {
    @extend .flexBoxStyles;
    width: 100%;

    &.isBig {
      border-top: 1px solid transparent;
      background: var(--tile-background-color);
      border-radius: 0 0 12px 12px;

      padding: 16px 0;
      height: 62px;
      box-sizing: border-box;
    }
  }
}
