// (c) Copyright Ascensio System SIA 2009-2025
// 
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
// 
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
// 
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
// 
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
// 
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
// 
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "@docspace/shared/styles/mixins";

.container {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  background-image: var(--bg-pattern);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 100dvh;
  height: 100%;

  :global(.scroller) {
    > :global(.scroll-body) {
      display: flex;
      flex-direction: column;
      padding-inline-end: 16px !important;
    }
  }

  :global(.completed-form__default-layout) {
    padding: clamp(42px, 8vh, 100px) 16px 16px;
  }

  @include mixins.mobile {
    :global(.completed-form__default-layout) {
      padding: 0px 16px 16px;
    }

    background-image: none;
  }
}

.completedFormLayout {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: clamp(42px, 8vh, 100px) 0px 16px 16px;

  :global(.completed-form__logo) {
    margin-bottom: clamp(40px, 8vh, 125px);
    user-select: none;
    img {
      height: 44px;
    }
  }

  :global(.link) {
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: var(--completed-form-link-color);
  }

  &:global(.completed-form__empty) {
    gap: 20px;
    margin-top: 24px;
  }

  &:global(.completed-form__vdr-layout) {
    max-width: 785px;
    width: 100%;
    align-self: center;
  }

  @include mixins.mobileMore {
    @media (max-height: 650px) {
      padding-top: 42px;
      :global(.completed-form__logo) {
        margin-bottom: 40px;
      }
    }
  }

  @include mixins.tablet {
    &:global(.completed-form__vdr-layout) {
      max-width: 600px;
    }
  }

  @include mixins.mobile {
    padding-top: 0px;

    :global(.completed-form__icon) {
      width: 343px;
      height: auto;
    }

    :global(.completed-form__logo) {
      display: flex;
      align-self: center;
      justify-content: center;
      height: 48px;
      width: calc(100% + 32px);
      margin: 0 -16px;

      margin-bottom: 32px;

      background-color: var(--header-background-color);

      img {
        height: 24px;
        align-self: center;
      }
    }

    &:global(.completed-form__empty) {
      gap: 20px;
      margin-top: 24px;
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;

  &.shareFile {
    width: 298px;
  }

  @include mixins.mobile {
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 20px;
  }
}

.textWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;

  h1 {
    line-height: 28px;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    color: var(--completed-form-description-color);
    text-align: center;
    max-width: 600px;
  }

  &:global(.completed-form__text-wrapper) {
    p {
      max-width: 100%;
    }
  }
}

.completedFormBox {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--completed-form-box-background-color);
  padding: 16px;
  width: 100%;
  border-radius: 6px;
}

.mainContent {
  max-width: 600px;
  width: 100%;

  display: grid;
  grid-template-columns: 45fr 101fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "form-file form-file form-file"
    "form-number manager manager";

  gap: 16px;

  margin: 32px 0;

  :global(.completed-form__file) {
    grid-area: form-file;

    svg {
      flex-shrink: 0;
    }
  }

  :global(.completed-form__filename) {
    font-size: 14px;
    line-height: 16px;

    margin: 0px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  :global(.completed-form__download) {
    cursor: pointer;
    margin-inline-start: auto;
    flex-shrink: 0;
  }

  :global(.label) {
    display: inline-block;
    margin-bottom: 4px;

    font-size: 14px;
    line-height: 16px;
    color: var(--completed-form-label-color);
  }

  :global(.completed-form__form-number) {
    font-size: 42px;
    line-height: 1.1;
    font-weight: 600;
    color: var(--completed-form-description-color);
  }

  @include mixins.mobile {
    grid-template-columns: 100%;

    grid-template-areas:
      "form-file"
      "form-number"
      "manager";
  }
}

.formNumberWrapper {
  display: flex;
  flex-direction: column;

  grid-area: form-number;

  :global(.form-number--big) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  @include mixins.mobileMore {
    :global(.form-number--big) {
      font-size: 23px;
      line-height: 28px;
    }
  }

  > div {
    justify-content: center;
    flex-grow: 1;
  }
}

.managerWrapper {
  display: flex;
  flex-direction: column;

  grid-area: manager;

  > .completedFormBox {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 46px 1fr;
    grid-template-areas:
      "avatar user-name"
      "avatar mail";

    gap: 4px 16px;

    :global(.manager__avatar) {
      grid-area: avatar;
      width: 46px;
      min-width: 46px;
      height: 46px;
    }

    :global(.manager__user-name) {
      grid-area: user-name;

      margin: 0px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    :global(.manager__mail) {
      grid-area: mail;
      display: flex;
      gap: 8px;

      align-items: center;

      span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      svg {
        flex: 0 0 auto;
      }
    }

    @include mixins.mobile {
      grid-template-columns: 100%;
      grid-template-areas:
        "avatar"
        "user-name"
        "mail";

      :global(.manager__avatar) {
        justify-self: center;
      }

      :global(.manager__user-name) {
        text-align: center;
      }

      :global(.manager__mail) {
        justify-content: center;
      }
    }
  }
}

.vdrMainContent {
  display: grid;
  gap: 16px;

  align-items: start;

  width: 100%;

  grid-template-columns: 397fr 372fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "form-file form-roles"
    "form-link form-roles"
    "_ form-roles";
  margin: 32px 0;

  :global(.completed-form__file) {
    grid-area: form-file;

    cursor: pointer;

    svg {
      flex-shrink: 0;
    }

    :global(.completed-form__file-name) {
      margin: 0px;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0px;
    }

    :global(.completed-form_icon) {
      margin-inline-start: auto;
      cursor: pointer;
      path {
        fill: var(--input-block-icon-color);
      }
    }
  }

  :global(.completed-form__form-link) {
    grid-area: form-link;
    color: var(--completed-form-description-color);
  }

  :global(.completed-form__roles) {
    grid-area: form-roles;
    flex-direction: column;
    align-items: flex-start;

    ul {
      min-height: 20px;
      margin-block-start: 8px;
    }
  }

  :global(.input__copy-link input) {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 11px 12px;
  }

  @include mixins.mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "form-file"
      "form-link "
      "form-roles";
  }

  :global(.input__copy-link-icon) {
    @include mixins.can-hover {
      &:hover {
        svg path {
          fill: var(--input-block-hover-icon-color) !important;
        }
      }
    }

    svg {
      cursor: pointer;
      path {
        fill: var(--input-block-icon-color) !important;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "primary-button secondary-button"
    "link link";
  justify-items: center;

  gap: 16px 8px;
  width: 100%;

  :global(.link) {
    grid-area: link;
    color: var(--accent-main);
    text-underline-offset: 2px;

    @include mixins.can-hover {
      &:hover {
        opacity: 0.85;
      }
    }

    :active {
      filter: brightness(82%);
    }
    ::first-letter {
      text-transform: capitalize;
    }
  }

  :global(.primary-button) {
    grid-area: primary-button;
  }

  :global(.secondary-button) {
    :global(.button-content) {
      display: inline-block;
      height: auto;

      ::first-letter {
        text-transform: capitalize;
      }
    }

    grid-area: secondary-button;
  }

  @include mixins.mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "primary-button"
      "secondary-button"
      "link";
    gap: 8px;
  }
}