/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../styles/mixins";

.bodyContent {
  display: contents;

  :global {
    .warning-text {
      margin: 20px 0;
    }

    .error-label {
      position: absolute;
      max-width: 100%;
    }

    .field-body {
      position: relative;
    }
  }
}

.aboutContent {
  width: 100%;
  user-select: text;

  .avatar {
    margin-top: 0;
    margin-bottom: 16px;

    @include mixins.tablet-and-below {
      margin-top: 32px;
    }
  }

  .rowEl {
    display: inline-block;
  }

  .copyright {
    margin-top: 14px;
    margin-bottom: 4px;
    font-weight: 700;
  }

  .noSelect {
    @include mixins.no-user-select;
  }

  .row {
    line-height: 20px;
  }

  .telTitle,
  .addressTitle {
    display: inline;
  }

  .selectEl {
    @include mixins.tablet-and-below {
      user-select: text;
    }
  }

  .telTitle.selectEl {
    direction: ltr;
  }

  .programWithVersion {
    display: inline;
    direction: ltr;
  }

  :global(.logo-theme) {
    svg {
      g:nth-child(2) {
        path:nth-child(5) {
          fill: var(--about-logo-color);
        }

        path:nth-child(6) {
          fill: var(--about-logo-color);
        }
      }
    }
  }

  .logoDocspaceTheme {
    height: 24px;
    width: 211px;

    svg {
      path:nth-child(4) {
        fill: var(--about-logo-color);
      }
    }
  }
}
