/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "../../styles/mixins";
@use "../../styles/variables";

$input-length: 350px;
$text-length: 700px;

@mixin common-backup-styles {
  .backupModulesDescription {
    margin-bottom: 8px;
    max-width: $text-length;
    color: var(--settings-common-description-color);
  }

  .backupModulesHeaderWrapper {
    svg {
      margin-block: 5px 0;
      margin-inline: 4px 0;
    }

    .linkLearnMore {
      display: inline-block;
      font-weight: 600;
    }
  }

  :global(.radio-button_text) {
    margin-inline-end: 7px;
  }

  .backupRadioButton {
    margin-bottom: 4px;
  }

  .backupCombo {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    max-width: $input-length;

    :global(.combo-button-label) {
      width: 100%;
      max-width: $input-length;
    }

    @include mixins.mobile {
      max-width: 100%;
    }
  }

  :global(.backup_text-input) {
    margin: 4px 0 10px 0;
    width: 100%;
    max-width: $input-length;
    font-size: 13px;

    @include mixins.mobile {
      max-width: 100%;
    }
  }

  :global(.backup_checkbox) {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  :global(.backup_radio-button-settings) {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .backupRadioButton {
    max-width: fit-content;
    font-size: 12px;
    line-height: 15px;
    -webkit-tap-highlight-color: variables.$tap-highlight;
  }

  .modules {
    margin-bottom: 24px;

    .backupDescription {
      margin-inline-start: 25px;
      max-width: 700px;
    }
  }
}

@mixin common-combobox-item-styles {
  display: flex;

  .dropDownItemText {
    color: var(--text-color);
  }

  &.isDisabled {
    .dropDownItemText {
      color: variables.$gray;
    }
  }

  .dropDownItemIcon {
    display: flex;
    align-self: center;

    div {
      display: flex;
    }

    margin-inline-start: auto;

    svg {
      min-height: 16px;
      min-width: 16px;
    }
  }
}
