/*!
 * (c) Copyright Ascensio System SIA 2009-2025
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
 * Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
 * to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
 * any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
 * the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
 *
 * The  interactive user interfaces in modified source and object code versions of the Program must
 * display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when
 * distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
 * trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
 * content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
 * International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 */

@use "@docspace/shared/styles/mixins";
@use "@docspace/shared/styles/variables";

$input-length: 350px;
$text-length: 700px;

.backupCommon {
  .backupModulesDescription {
    margin-bottom: 8px;
    max-width: $text-length;
    color: var(--settings-common-description-color);
  }

  .backupModulesHeaderWrapper {
    svg {
      margin-block: 5px 0;
      margin-inline: 4px 0;
    }
    .linkLearnMore {
      display: inline-block;
      font-weight: 600;
    }
  }

  :global(.radio-button_text) {
    margin-inline-end: 7px;
  }

  .backupRadioButton {
    margin-bottom: 4px;
  }

  .backupCombo {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    max-width: $input-length;

    :global(.combo-button-label) {
      width: 100%;
      max-width: $input-length;
    }

    @include mixins.mobile {
      max-width: 100%;
    }
  }

  :global(.backup_text-input) {
    margin: 4px 0 10px 0;
    width: 100%;
    max-width: $input-length;
    font-size: 13px;

    @include mixins.mobile {
      max-width: 100%;
    }
  }

  :global(.backup_checkbox) {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  :global(.backup_radio-button-settings) {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .backupRadioButton {
    max-width: fit-content;
    font-size: 12px;
    line-height: 15px;
    -webkit-tap-highlight-color: variables.$tap-highlight;
  }

  .modules {
    margin-bottom: 24px;

    .backupDescription {
      margin-inline-start: 25px;
      max-width: 700px;
    }
  }

  .comboboxItem {
    display: flex;

    .dropDownItemText {
      color: var(--text-color);
    }

    &.isDisabled {
      .dropDownItemText {
        color: variables.$gray;
      }
    }

    .dropDownItemIcon {
      display: flex;
      align-self: center;

      div {
        display: flex;
      }

      margin-inline-start: auto;

      svg {
        min-height: 16px;
        min-width: 16px;
      }
    }
  }
}

/* ==================================== AUTO BACKUP ==================================== */

.autoBackup {
  .autoBackupThirdPartyModule {
    margin-top: 16px;
    margin-inline-start: 24px;

    button {
      margin-bottom: 16px;
    }
  }

  :global(.backup_schedule-component) {
    margin-inline-start: 24px;
  }

  :global(.automatic-backup_main) {
    margin-bottom: 30px;
  }

  .backupToggleBtn {
    position: static;
    margin-top: 1px;
  }

  :global(.toggle-button-text) {
    font-weight: 600;
    margin-bottom: 4px;
  }

  :global(.input-with-folder-path) {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    max-width: $input-length;
  }

  .autoBackupStoragesModule {
    margin-inline-start: 24px;

    :global(.backup_schedule-component) {
      margin-inline-start: 0;
    }
  }

  .autoBackupFolderInput {
    margin-inline-start: 24px;
  }

  :global(.input-with-folder-path) {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    max-width: $input-length;
  }

  .autoBackupStoragesModule {
    margin-inline-start: 24px;

    :global(.backup_schedule-component) {
      margin-inline-start: 0;
    }
  }

  .autoBackupFolderInput {
    margin-inline-start: 24px;
  }

  .backupToggleWrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: var(--settings-common-backup-rectangle-bg-color);
    padding: 12px;
    max-width: 724px;
    box-sizing: border-box;
  }

  .toggleCaption {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .toggleCaptionTitle {
      display: flex;
      .autoBackupBadge {
        margin-inline-start: 4px;
        cursor: auto;
      }
    }
  }

  &.pageIsDisabled {
    .settingsUnavailable {
      color: var(--text-disable-color);
      pointer-events: none;
      cursor: default;

      label {
        color: var(--text-disable-color);
      }

      path {
        color: var(--text-disable-color);
      }
    }
  }

  .modules {
    margin-top: 20px;
  }
}

/* ==================================== MANUAL BACKUP ==================================== */

.manualBackup {
  .backupModulesHeaderWrapper {
    .linkLearnMore {
      margin-bottom: 20px;
    }
  }

  .manualBackupButtons {
    margin-top: 16px;
    margin-inline-start: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button:first-child {
      max-width: 124px;
      margin-inline-end: 8px;
    }

    button:last-child {
      max-width: 153px;
    }

    @include mixins.tablet-and-below {
      button:first-child {
        max-width: 129px;
      }

      button:last-child {
        max-width: 160px;
      }
    }

    @include mixins.mobile {
      button:first-child {
        max-width: 155px;
      }

      button:last-child {
        max-width: 155px;
      }
    }
  }

  .manualBackupStoragesModule {
    margin-inline-start: 24px;

    .manualBackupButtons {
      margin-inline-start: 0;
    }
  }

  .manualBackupThirdPartyModule {
    margin-top: 16px;
    margin-inline-start: 24px;
  }

  .manualBackupFolderInput {
    margin-inline-start: 24px;
    margin-top: 16px;
  }

  .modules {
    &.isDisabled {
      .backupDescription {
        color: variables.$gray;
      }
    }
  }

  .comboboxItem {
    .dropDownItemIcon {
      align-items: center;
    }
  }
}

/* ==================================== RESTORE BACKUP ==================================== */

.restoreBackup {
  max-width: $text-length;

  .restoreBackupThirdPartyModule {
    margin-top: 16px;

    button {
      margin-bottom: 16px;
    }
  }

  .restoreDescription {
    max-width: $text-length;
    font-size: 13px;
    color: var(--settings-common-description-color);
    line-height: 20px;
  }

  .restoreBackupWarning {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--settings-backup-warning-color);
  }

  .restoreBackupWarningLink {
    margin-top: 16px;
    max-width: $text-length;
  }

  .restoreBackupWarningDescription {
    max-width: $text-length;
  }

  .restoreBackupDescription {
    max-width: fit-content;
    margin: 24px 0;
  }

  .restoreBackupCheckboxNotification {
    max-width: fit-content;
    margin-top: 11px;

    :global(.checkbox-text) {
      white-space: normal;
    }
  }

  .restoreBackupList {
    text-decoration: underline dotted;
    cursor: default;
    font-weight: 600;
  }

  &.isEnableRestore {
    .restoreBackupList {
      cursor: pointer;
    }
  }

  .restoreBackupInput {
    margin: 16px 0;
    max-width: $input-length;

    @include mixins.mobile {
      max-width: none;
    }
  }

  .restoreDescription {
    margin-bottom: 20px;
  }

  .restoreBackupModules {
    margin-top: 24px;
  }

  .backupRadioButton {
    margin-bottom: 16px;
  }

  .restoreBackupButtonContainer {
    position: sticky;
    bottom: 0;
    margin-top: 24px;
    background-color: var(--background-color);

    @include mixins.mobile {
      padding-block: 30px;
      position: fixed;
      padding-inline: 16px;
      inset-inline: 0;
    }
  }

  .restoreBackupButton {
    @include mixins.mobile {
      width: 100%;
    }
  }

  &:not(.isEnableRestore) {
    .settingsUnavailable {
      color: var(--text-disable-color);
      pointer-events: none;
      cursor: default;

      label {
        color: var(--text-disable-color);
      }

      path {
        fill: var(--text-disable-color);
      }
    }
  }

  .comboboxItem {
    .dropDownItemIcon {
      align-items: center;
    }
  }
}

.backupList {
  height: 100%;
  width: 100%;

  .loader {
    height: inherit;
  }

  .backupListTrashIcon {
    width: 16px;
    height: 16px;
  }

  .backupRestoreDialogHeader {
    margin-block-start: 8px;
    margin-bottom: 16px;
  }

  .backupListIcon {
    grid-area: icon-name;
  }

  .backupListFullName {
    grid-area: full-name;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.radio-button) {
    margin: 0 !important;
    padding-inline-start: 10px;
  }

  .backupListItem {
    border-radius: 3px;
    cursor: default;
    align-items: center;
    display: grid;
    height: 48px;
    grid-template-areas: "trash icon-name full-name  radiobutton";
    grid-template-columns: 25px 32px auto 32px;
    padding-inline: 16px 8px;
  }

  &.isChecked {
    .backupListItem {
      background: var(--settings-backup-checked-list-item-bg);
    }
  }

  .backupRestoreDialogScrollBody {
    margin-inline: -16px -7px;

    :global(.nav-thumb-vertical) {
      margin-inline-start: -8px !important;
    }
  }

  .backupListDialogChecked {
    width: 16px;

    > :global(.radio-button_text):empty {
      display: none;
    }

    > svg {
      margin: 0;
    }
  }

  .backupRestoreEmptyList {
    margin-top: 96px;
    margin-inline: 16px;
    color: var(--settings-backup-text-color);
  }

  .backupListContent {
    display: grid;
    height: 100%;
    grid-template-rows: max-content auto max-content;
  }
}

.footerContent {
  width: 100%;

  .restoreDialogButton {
    display: flex;

    button:first-child {
      margin-inline-end: 10px;
      width: 50%;
    }

    button:last-child {
      width: 50%;
    }
  }

  :global(#backup-list_help) {
    display: flex;
    background-color: var(--background-color);
    margin-bottom: 16px;
  }

  .backupListAgreementText {
    user-select: none;
    div:first-child {
      display: inline-block;
    }
  }

  .backupListTooltip {
    margin-inline-start: 8px;
  }
}
