// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../styles/mixins";

@use "../../styles/variables/colors";

.wrapper {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: -19px;

  @include mixins.tablet-and-below {
    margin-top: 0;
    width: 100%;
  }

  @include mixins.mobile {
    margin-top: 0;
  }
}

.mainBlock {
  display: flex;
  gap: 40px;
  padding: 24px;
  border-radius: 12px;
  background: linear-gradient(
      270deg,
      #{colors.$tap-highlight} 23.13%,
      rgba(0, 0, 0, 0.07) 50.52%,
      #{colors.$tap-highlight} 78.12%
    ),
    rgba(0, 0, 0, 0.05);

  :global {
    .avatar {
      width: 124px;
      height: 124px;
    }

    .combos {
      display: flex;
      gap: 16px;
      flex-direction: column;

      .row {
        display: grid;
        gap: 16px;
        grid-template-columns: 75px 1fr;
      }
    }
  }
}

.loginBlock {
  display: flex;
  gap: 16px;
  flex-direction: column;

  :global {
    .title {
      margin-bottom: 4px;
    }

    .actions {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }
}

.socialBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;

  :global {
    .row {
      display: flex;
      gap: 20px;

      .button {
        width: 320px;

        @include mixins.tablet-and-below {
          width: 100%;
        }
      }
    }
  }
}

.subBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;

  :global {
    .toggle {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
}

.themeBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;

  :global {
    .checkbox {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 4px;

      .row {
        display: flex;
        gap: 7px;
        align-items: center;
      }

      .description {
        padding-inline-start: 23px;
      }
    }

    .themes-wrapper {
      display: flex;
      gap: 20px;

      .theme {
        width: 320px;

        @include mixins.tablet-and-below {
          width: 100%;
        }
      }
    }
  }
}

.mobileView {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-block: 0;
  margin-inline: -20px 0;

  :global {
    .avatar {
      height: 124px;
      width: 124px;
      margin-bottom: 24px;
      align-self: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 32px;
    }

    .notifications {
      .title {
        padding-bottom: 10px;
      }
      margin-bottom: 32px;
    }

    .theme {
      .theme-title {
        padding-bottom: 12px;
      }

      .flex {
        display: flex;
      }

      .check-box {
        padding-inline-end: 7px;
      }

      .theme-selection {
        display: flex;
        flex-direction: column;
        padding-top: 4px;

        padding-inline-start: 22px;

        .theme-description {
          padding-bottom: 12px;
        }

        .check-box {
          width: 16px;
          height: 16px;
        }

        .check-box-container {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }
}

.footerBlock {
  :global {
    .header {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 14px;
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      max-width: 787px;
      padding-bottom: 26px;
    }
  }
}
