// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

@use "../../../styles/variables";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins";

.flexBoxStyles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.fileTile {
  cursor: var(--cursor-pointer);
  box-sizing: border-box;
  position: relative;

  height: 220px;

  background: var(--tile-background-color);
  border: var(--tile-border);
  border-radius: var(--tile-border-radius);

  @include mixins.mobile {
    margin-inline-start: 2px;
  }

  &:hover:not(.isDragging),
  &:hover:not(.isEdit),
  &.checked,
  &.isActive {
    .fileTileBottom {
      background: var(--tile-checked-background);
      border-top: var(--tile-border);
    }
  }

  .isBlocked {
    pointer-events: none;
  }

  &.showHotkeyBorder {
    border-color: var(--tile-show-hotkey-border);

    &:before,
    &:after {
      border-color: var(--tile-show-hotkey-border);
    }
  }

  .loader {
    padding-top: 12px;
    width: 32px;
    height: 32px;
    margin-inline: 23px 13px;
  }

  .icons {
    position: absolute;
    top: 8px;

    :global {
      .badges .badge {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        background: var(--tile-background-badge-color);
        border-radius: 4px;
        box-shadow: var(--tile-badge-shadow);
      }
    }
  }

  .isQuickButtons {
    inset-inline-end: 9px;

    :global(.badges) {
      display: grid;
      grid-template-columns: 32px;
      grid-template-rows: repeat(3, 32px);
      grid-gap: 7px;
    }
  }

  .isBadges {
    inset-inline-start: 9px;

    :global(.badges) {
      display: grid;
      grid-template-columns: repeat(3, fit-content(60px));
      grid-template-rows: 32px;
      grid-gap: 7px;

      .badge-new-version {
        order: 1;

        &:hover {
          cursor: pointer;
        }
      }

      .badge-version-current {
        order: 2;
      }

      .is-editing,
      .can-convert {
        order: 3;
      }
    }
  }

  .iconContainer {
    width: 32px;
    height: 32px;
    margin-inline-start: 16px;
    margin-inline-end: 8px;

    &:hover:not(.isDragging, .inProgress) {
      .icon {
        display: none;
      }
      .checkbox {
        opacity: 1;
        display: flex;
      }
    }
  }

  .icon {
    display: flex;
    flex: 0 0 auto;
    user-select: none;
    margin-top: -2px;

    &.checked {
      display: none;
    }
  }

  .checkbox {
    display: none;
    flex: 0 0 16px;

    padding-top: 8px;
    padding-inline-start: 7px;

    @include mixins.tablet {
      opacity: 1;
    }

    &.checked {
      opacity: 1;
      display: flex;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-basis: 100%;

    a {
      display: block;
      display: -webkit-box;
      max-width: 400px;
      height: auto;
      line-height: 19px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-word;
    }

    .badges {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      > .is-pinned {
        margin: 0;

        padding-block: 8px;
        padding-inline: 0 8px;

        svg {
          path {
            fill: var(--tile-icon-button-color);
          }
        }

        &:hover {
          svg {
            path {
              fill: var(--accent-main);
            }
          }
        }
      }
    }

    @include mixins.tablet {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .optionButton {
    display: block;

    .expandButton > div:first-child {
      padding-block: 8px;
      padding-inline: 12px 21px;
    }
  }

  .fileTileTop {
    @extend .flexBoxStyles;

    background: var(--tile-background-color);
    justify-content: space-between;
    align-items: baseline;
    height: 156px;
    position: relative;
    border-radius: 6px 6px 0 0;

    &:hover {
      cursor: pointer;
    }

    .thumbnailImage {
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      z-index: 0;
      border-radius: 6px 6px 0 0;

      .isImageOrMedia {
        object-position: top;
      }
    }

    .temporaryIcon > div > :global(.injected-svg) {
      position: absolute;
      width: 100%;
      bottom: 16px;
    }
  }

  .fileTileBottom {
    @extend .flexBoxStyles;

    border-top: 1px solid transparent;

    background: var(--tile-background-color);
    border-radius: 0 0 6px 6px;

    padding: 9px 0;
    height: 62px;
    box-sizing: border-box;

    &.isHighlight {
      animation: Highlight 2s 1;
      @keyframes Highlight {
        0% {
          background: var(--highlightColor);
        }

        100% {
          background: none;
        }
      }
    }
  }
}
