// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
@use "../../styles/common-icons-style";
@use "../../styles/variables/colors";
@use "../../styles/mixins";
@use "../../styles/z-index" as z;

:global(.dark) {
  .label {
    --radio-button-bg: #{colors.$black};
    --radio-button-disable-bg: #{colors.$dark-gray-light};
    --radio-button-text-color: #{colors.$white};
    --radio-button-text-disable-color: #{colors.$gray-dark-text};
    --radio-button-fill-color: #{colors.$white};
    --radio-button-border-color: #{colors.$gray-dark-strong};
    --radio-button-disable-fill-color: #{colors.$gray-dark-strong};
    --radio-button-disable-border-color: none;
    --radio-button-hover-border-color: #{colors.$white};
  }
}

.radioButtonIcon {
  @include common-icons-style.common-icons-style;
}

.label {
  --radio-button-bg: #{colors.$white};
  --radio-button-disable-bg: #{colors.$gray-light};
  --radio-button-text-color: #{colors.$black};
  --radio-button-text-disable-color: #{colors.$gray};
  --radio-button-fill-color: #{colors.$black};
  --radio-button-border-color: #{colors.$gray-strong};
  --radio-button-disable-fill-color: #{colors.$gray-strong};
  --radio-button-disable-border-color: #{colors.$gray-light-mid};
  --radio-button-hover-border-color: #{colors.$gray};

  --radio-button-spacing: unset;

  display: flex;
  align-items: center;
  position: relative;
  margin: 0;

  @include mixins.no-user-select;

  cursor: pointer;

  svg {
    path:first-child {
      stroke: var(--radio-button-border-color);
    }

    path:nth-child(even) {
      fill: var(--radio-button-fill-color);
    }
  }

  &:hover {
    svg {
      path:first-child {
        stroke: var(--radio-button-hover-border-color);
      }
    }
  }

  &.disabled {
    cursor: default;

    svg {
      path:first-child {
        stroke: var(--radio-button-disable-border-color);
      }

      path:nth-child(even) {
        fill: var(--radio-button-disable-fill-color);
      }
    }

    .radioButtonIcon {
      margin-inline-end: 8px;

      path {
        fill: var(--radio-button-disable-bg);
      }
    }

    .radioButtonText {
      color: var(--radio-button-text-disable-color);
    }
  }

  &.spacing {
    &.orientationHorizontal:not(:first-child) {
      margin-inline-start: var(--radio-button-spacing);
    }

    &.orientationVertical:not(:last-child) {
      margin-block-end: var(--radio-button-spacing);
    }
  }

  .radioButtonIcon {
    margin-inline-end: 8px;

    path {
      fill: var(--radio-button-bg);
    }
  }

  .radioButtonText {
    color: var(--radio-button-text-color);
  }
}

.input {
  position: absolute;
  z-index: z.$below;
  opacity: 0.0001;
}
