// (c) Copyright Ascensio System SIA 2009-2025
//
// This program is a free software product.
// You can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License (AGPL) version 3 as published by the Free Software
// Foundation. In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended
// to the effect that Ascensio System SIA expressly excludes the warranty of non-infringement of
// any third-party rights.
//
// This program is distributed WITHOUT ANY WARRANTY, without even the implied warranty
// of MERCHANTABILITY or FITNESS FOR A PARTICULAR  PURPOSE. For details, see
// the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
//
// You can contact Ascensio System SIA at Lubanas st. 125a-25, Riga, Latvia, EU, LV-1021.
//
// The  interactive user interfaces in modified source and object code versions of the Program must
// display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
//
// Pursuant to Section 7(b) of the License you must retain the original Product logo when
// distributing the program. Pursuant to Section 7(e) we decline to grant you any rights under
// trademark law for use of our trademarks.
//
// All the Product's GUI elements, including illustrations and icon sets, as well as technical writing
// content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0
// International. See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode

.skeletonTile {
  .loaderContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;

    &.smallPreview {
      aspect-ratio: 229 / 162;
    }

    &.largePreview {
      aspect-ratio: 12 / 16;
    }
  }

  .loaderTitle {
    width: 70%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  /* Cards should all have same height with dynamic content */
  &.Card {
    height: 100%;
  }

  /* Double width for SubmitToGalleryTile when smallPreview is true */
  &.doubleWidth {
    grid-column: span 2;
  }
}

.item {
  display: grid;

  /* Default: 2 FileTiles per row for screens < 600px */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  width: 100%;
  box-sizing: border-box;
  grid-gap: 16px;

  /* Ensure all Cards in a row have identical heights */
  :global(.Card) {
    height: 100%;
  }

  @media (min-width: 601px) and (max-width: 839px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 840px) and (max-width: 1199px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1200px) and (max-width: 1439px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  &.oneTile {
    grid-template-columns: 1fr;
  }
}
